
<!-- ADMIN Login accessGroupId 7 -->
<div *ngIf="isAdmin">
  <ul ngbNav #onboard="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified" style="width: 100%;">
    <li [ngbNavItem]="1">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">DEALER LIST</span>
      </a>
      <ng-template ngbNavContent>
        <app-all-dealer></app-all-dealer>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">REQUEST </span>
      </a>
      <ng-template ngbNavContent>
        <app-dealer-lists></app-dealer-lists>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">DEMO/REMOVED</span>
      </a>
      <ng-template ngbNavContent>
        <app-demo-removed></app-demo-removed>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="onboard"></div>
</div>