<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body"> <!-- Navigation bar -->
                    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light container">
                        <div class="container-fluid ">
                            <!-- <a class="navbar-brand" href="#">
                       <img src="../../assets/images/vplogo.png" alt="" width="120">
                   </a> -->
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <!-- <span class="navbar-text"> -->
                                <button type="button" class="btn btn-outline-success my-2 my-sm-0"
                                    style="font-size: medium; margin-left: auto;" (click)="login()">login</button>
                                <!-- </span> -->
                            </div>
                        </div>
                    </nav>
                    <!-- Navigation bar end -->
                    <div class="row">
                        <div class="col-xl-12 pt-4 pt-lg-0 d-flex align-items-stretch">
                            <div class="content d-flex flex-column justify-content-center" data-aos="fade-left">
                                <div class="row">
                                    <div class="col-md-12 icon-box" data-aos="zoom-in" data-aos-delay="100">
                                        <i class="bx bx-receipt"></i>
                                        <h4>About Us</h4> <br>
                                        <p style="font-size: 17px; color: #212529;">When we design software, we design
                                            for every stakeholder.</p> <br>
                                        <p style="font-size: 17px; color: #212529;">We build software to fulfil two
                                            simple business goals -</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• A
                                            business who extends credit expects that the customer pays back on time.</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• A
                                            customer who takes credit pays by the due date when reminded respectfully.
                                        </p>
                                        <br>
                                        <p style="font-size: 17px; color: #212529;">Our software follows 3 simple design
                                            thinking principles</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.
                                            Simple to use</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.
                                            Connect all</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.
                                            Important Information first</p>
                                        <br>
                                        <p style="font-size: 17px; color: #212529;">If your business is facing
                                            difficulties in managing their credit transactions with customers,
                                            including tracking credit utilization, generating statements and bills,
                                            timely collections and
                                            reconciling payments, then do reach out to us.</p>
                                        <br>
                                        <p style="font-size: 17px; color: #212529;">Our software platform offer
                                            following features:</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• User
                                            Management: Login, registration, profile management</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•
                                            Credit Management: Track and manage credit transactions between gas stations
                                            and fleet customers,
                                            credit limit setting, credit utilization tracking</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•
                                            Billing and Statement: Generate credit statements and bills, payment
                                            tracking and reconciliation</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•
                                            Reports and Analytics: Generate reports and analytics on credit utilization
                                            and payment history</p>
                                        <p style="font-size: 17px; color: #212529;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•
                                            Notifications and Reminders: Automated reminders for payment due, credit
                                            outstanding notifications</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->