<br>
<form [formGroup]="savedInvoice">
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="example-text-input" class="col-md-2 col-form-label"><b>Customer Select </b></label>
    <label for="example-text-input" class="col-md-2 col-form-label"><b>Date Range </b></label>
  </div>
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="col-md-2">

      <select class="form-control" formControlName="selectCorporateMapId"
        (change)="getDetailsByCorpForStatementforDiscount($event)">
        <option value="">Select Customer</option>
        <option *ngFor="let data of allCorporateList" [value]="data.fuelDealerCustomerMapId">
          {{ data.companyName }}
        </option>
      </select>
    </div>

    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" name="startDate" (click)="startDate.toggle()"
        onkeydown="return false" formControlName="startDate" ngbDatepicker #startDate="ngbDatepicker" />
    </div>

    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" name="endDate" (click)="endDate.toggle()"
        onkeydown="return false" formControlName="endDate" ngbDatepicker #endDate="ngbDatepicker" />
    </div>

    <div class="col-auto">
      <button class="btn btn-primary" (click)="getSavedInvoice()">
        Submit
      </button>
    </div>
  </div>
  <br><br>
  <form [formGroup]="addForm">
    <div class="row">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-3">
        <label><b>Add Manual Statement Number</b></label>
        <input type="text" class="form-control" [(ngModel)]="manualSno" [ngModelOptions]="{standalone: true}"
          placeholder="Enter Manual Statement Number" />
      </div>
      <div class="col-md-3">
        <label><b>Add HSN Code</b></label>
        <input type="text" class="form-control" [(ngModel)]="hsnCode" [ngModelOptions]="{standalone: true}"
          placeholder="Enter HSN Code" />
      </div>
      <div class="col-md-3">
        <label><b>Add Due Date</b></label>
        <input class="form-control" placeholder="DD-MM-YYYY" style="background-color: #ffffff;" name="dueDate"
          ngbTooltip="Due Date" (click)="dueDate.toggle()" ngbDatepicker #dueDate="ngbDatepicker"
          formControlName="dueDate">
      </div>
    </div>
    <br><br>
    <div class="row">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-auto" (click)="goToInvoice()">
        <button class="btn btn-primary">
          Create Invoice
        </button>
      </div>
    </div>
  </form>
</form>

<div class="row">
  <table class="table table-responsive table-hover">
      <thead>
          <tr>
              <th style="text-align: center"><b> Sr. No </b></th>
              <th style="text-align: center"><b> Date </b></th>
              <th style="text-align: center"><b> Bill No. </b></th>
              <th style="text-align: center"><b> Product </b></th>
              <th style="text-align: center"><b> Rate </b></th>
              <th style="text-align: center"><b> Vehicle Number </b></th>
              <th style="text-align: center"><b> Amount </b></th>
              <th style="text-align: center"><b> Quantity </b></th>
          </tr>
      </thead>
      <tbody *ngFor="let data of savedInvoiceData; let i = index">
          <tr>
              <td style="text-align: center"> {{i+1}} </td>
              <td style="text-align: center"> {{ data.estimatedRefuelDate |  date:'d MMM y' }}</td>  
              <td style="text-align: center"> {{ data.manualCrNumber }} </td>
              <td style="text-align: center"> {{ data.productName }} </td>
              <td style="text-align: center"> {{ data.productRate }} </td>
              <td style="text-align: center"> {{ data.vehicleNumber }} </td>
              <td style="text-align: center"> {{ data.creditAmount }} </td>
              <td style="text-align: center"> {{ data.actualCreditQuantity }} </td>
          </tr>
      </tbody>
  </table>
</div>