<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- new tab view -->
          <div class="row">

            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <!-- <h4 class="card-title">Custom Tabs</h4> -->
                  <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified"
                    style="width: 50%;">
                    <li [ngbNavItem]="1">
                      <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                        <span class="d-none d-sm-block" style="font-size: 13.5px;">FUEL BILL</span>
                      </a>
                      <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="fuelBill"></ng-template>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                      <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                        <span class="d-none d-sm-block" style="font-size: 13.5px;">LUBE BILL</span>
                      </a>
                      <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="lubeBill"></ng-template>
                      </ng-template>
                    </li>

                  </ul>
                  <div [ngbNavOutlet]="customNav"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- new tab view end -->

          <ng-template #fuelBill>
            <div class="row mb-2">
              <!-- <div class="col-sm-4"> 
                  <app-page-title title="Create Cash Bill" ></app-page-title> 
              </div>  -->
              <div class="col-sm-12">
                <div class="text-sm-end">
                  <button type="button" class="btn btn-success btn-rounded mb-2 me-2" routerLink="/pump/cashBill">
                    View Cash Bill</button>
                </div>
              </div>
            </div>

            <br>

            <form [formGroup]="cashBillFuelForm">
              <div class="row">
                <div class="card">
                  <div class="row">
                    <div class="col-md-2"></div>

                    <div class="col-md-8" style="border: 1px solid rgb(214, 212, 221);">

                      <br><br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Date :</label>

                        </div>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="DD-MM-YYYY" name="startDate"
                            (click)="endDate.toggle()" readonly style="background-color: #ffffff;"
                            formControlName="priceDate" ngbDatepicker #endDate="ngbDatepicker" (blur)="logValue()">
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Bill Number :</label>

                        </div>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="enter bill number" formControlName="billNumber">
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Product :</label>

                        </div>
                        <div class="col-md-4">
                          <select class="form-control" formControlName="productName" (change)="getPrice($event)"
                            required>
                            <option value="">Select Product </option>
                            <option *ngFor="let data of productInfo" [value]="data.fuelProductsId">
                              {{data.productName}}
                            </option>
                          </select>
                        </div>
                        <div class="col-auto">
                          <label for="example-text-input" class="col-auto col-form-label">Rate :</label>

                        </div>
                        <div class="col-md-3">
                          <select class="form-control" formControlName="productPrice" (change)="setPrice($event)"
                            (blur)="quantityCalculateForEdit()" (blur)="amountCalculateForEdit()" required>
                            <option value="">Select Rate</option>
                            <option *ngFor="let data of productPriceDetails" [value]="data.productSellingPrice">
                              {{data.productSellingPrice}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Customer Name :</label>

                        </div>
                        <div class="col-md-8">
                          <input class="form-control" type="text" placeholder="enter customer name"
                            formControlName="customerName"
                            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Customer Number :</label>

                        </div>
                        <div class="col-md-8">
                          <input type="number" class="form-control" formControlName="customerNumber"
                            placeholder="Enter Mobile Number" onkeypress="return this.value.length < 10;"
                            oninput="if(this.value.length=10)">
                          <!-- <div *ngIf="(userMobile.invalid && userMobile.touched) || userMobile.dirty">
                            <small *ngIf="userMobile.errors?.required" class="text-danger">Mobile Number is
                              required</small>
                            <small *ngIf="userMobile.errors?.pattern" class="text-danger">Please
                              provide a valid 10 Digit Mobile Number</small>
                          </div> -->
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Vehicle Number :</label>

                        </div>
                        <div class="col-md-8">
                          <input class="form-control" type="text" placeholder="enter vehicle number"
                            formControlName="vehicleNumber"
                            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                        </div>
                      </div>
                      <br>

                      <br>


                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Amount :</label>
                        </div>
                        <!-- <div class="col-md-1">
                                  <input type="radio" value="AMOUNT"
                                      formControlName="requestType" (change)="getCompleteForEdit()" >
                              </div> -->

                        <label for="example-text-input" class="col-auto col-form-label">

                          <input type="radio" value="AMOUNT" formControlName="requestType"
                            (change)="getCompleteForEdit()">

                        </label>


                        <div class="col-md-5">
                          <span *ngIf="!isAMOUNT">
                            <input class="form-control" formControlName="reqCreditAmount" placeholder="Amount"
                              type="number" readonly>
                          </span>
                          <span *ngIf="isAMOUNT">
                            <input class="form-control" formControlName="reqCreditAmount" placeholder="Enter Amount"
                              type="number" (blur)="amountCalculateForEdit()">
                          </span>
                        </div>
                        &nbsp;&nbsp;
                        Rs

                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Quantity :</label>
                        </div>
                        <!-- <div class="col-md-0.5">
                                  <input class="form-control form-control-sm mr-1 w-40" type="radio" value="QUANTITY"
                                      formControlName="requestType" (change)="getPartialForEdit()" style="width: 15px;">
                              </div> -->
                        <label for="example-text-input" class="col-auto col-form-label">
                          <input type="radio" value="QUANTITY" formControlName="requestType"
                            (change)="getPartialForEdit()">
                        </label>

                        <div class="col-md-5">
                          <span *ngIf="!isQUANTITY">
                            <input class="form-control" formControlName="reqQuantity" placeholder=" Quantity"
                              type="number" readonly>
                          </span>
                          <span *ngIf="isQUANTITY">
                            <input class="form-control" formControlName="reqQuantity" placeholder="Enter Quantity"
                              type="number" (blur)="quantityCalculateForEdit()">
                          </span>
                        </div>
                        &nbsp;&nbsp;
                        {{fuelUnit}}

                      </div>


                      <br>
                      <div class="row">
                        <div class="col-md-12" style="align-items: center;text-align: center;">
                          <button type="submit" class="btn btn-primary my-2 my-sm-0"
                            (click)="submitFuelCashBill()">Create</button>
                        </div>
                      </div>
                      <br>

                    </div>
                    <div class="col-md-2"></div>

                  </div>
                </div>

              </div>


            </form>

          </ng-template>


          <ng-template #lubeBill>

            <div class="row mb-2">
              <!-- <div class="col-sm-4"> 
          <app-page-title title="Create Cash Bill" ></app-page-title> 
      </div>  -->
              <div class="col-sm-12">
                <div class="text-sm-end">
                  <button type="button" class="btn btn-success btn-rounded mb-2 me-2"
                    routerLink="/credit/viewCashBillList">
                    View Cash Bill</button>
                </div>
              </div>
            </div>

            <br>

            <form [formGroup]="cashBillLubricantForm">
              <div class="row">
                <div class="card">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="border: 1px solid rgb(214, 212, 221);">



                      <br><br>
                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Date :</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="DD-MM-YYYY" name="startDate"
                            (click)="endDate.toggle()" onkeydown="return false" formControlName="priceDate"
                            ngbDatepicker #endDate="ngbDatepicker" (blur)="logValue()">
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Bill Number :</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="enter bill number" formControlName="billNumber">
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Customer Name :</label>
                        </div>
                        <div class="col-md-3">
                          <input class="form-control" type="text" list="corporateList" placeholder="select customer"
                            formControlName="customerName" (change)="getCorporateInfoByfuelDealerCustomerMapId($event)">
                          <datalist id="corporateList">
                            <option *ngFor="let data of corporateList" [value]="data.companyName">
                          </datalist>
                        </div>
                        <div class="col-md-3">
                          <input class="form-control" maxlength="15" minlength="15" placeholder="GST Number"
                            formControlName="gstNumber"
                            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                            (blur)=checkGST1()>
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Address :</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="enter address" formControlName="address"
                            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Customer Number :</label>
                        </div>
                        <div class="col-md-8">
                          <input type="number" class="form-control" formControlName="customerNumber"
                            placeholder="Enter Mobile Number" onkeypress="return this.value.length < 10;"
                            oninput="if(this.value.length=10)">
                          <!-- <div *ngIf="(userMobile1.invalid && userMobile1.touched) || userMobile1.dirty">
                            <small *ngIf="userMobile1.errors?.pattern" class="text-danger">
                              Please provide a valid 10 Digit Mobile Number</small>
                          </div> -->
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">vehicle number :</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" type="text" placeholder="enter vehicle number"
                            formControlName="vehicleNumber" maxlength="10"
                            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Product :</label>
                        </div>
                        <div class="col-md-3">
                          <select class="form-control" formControlName="lubeId" (change)="getLubeDetails($event)"
                            required>
                            <option value="">Select Lubricant </option>
                            <option *ngFor="let data of lubricantList" [value]="data.lubricantsId">
                              {{data.lubricantsName}}
                            </option>
                          </select>
                        </div>
                        <div class="col-md-3">
                          <input class="form-control" placeholder="HSN/SAC Number" formControlName="hsnSacNumber"
                            readonly>
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Tax :</label>
                        </div>
                        <div class="col-md-3">
                          <select class="form-control" formControlName="gst" (blur)="gstCalculation1()" required>
                            <option value="">Select Tax </option>
                            <option *ngFor="let data of gstDetails" [value]="data.gst">
                              GST {{data.gst}} %
                            </option>
                          </select>
                        </div>
                        <div class="col-md-3">
                          <select class="form-control" formControlName="taxDetails" (blur)="gstCalculation1()" required>
                            <option value="INCLUDE"> Include Tax Amt </option>
                            <option value="EXCLUDE"> Not Include Tax Amt </option>
                          </select>
                        </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Amount :</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" formControlName="reqCreditAmount" placeholder="Enter Amount"
                            type="number" (blur)="gstCalculation1()">
                        </div>

                        &nbsp;&nbsp;
                        Rs

                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Quantity In Pieces:</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" [(ngModel)]="quantityInPieces"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Pieces" type="number"
                            (input)="getQuantityByPieces()">
                        </div>
                      </div>
                      <br>

                      <div class="row">

                        <div class="col-md-3">
                          <label for="example-text-input" class="col-auto col-form-label">Quantity :</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" formControlName="reqQuantity" placeholder="Enter Quantity"
                            type="number" (blur)="gstCalculation1()">
                        </div>
                        &nbsp;&nbsp;
                        {{unit}}

                      </div>

                      <br><br>
                      <div class="row">
                        <div class="col-md-12" style="align-items: center;text-align: center;">
                          <button type="submit" class="btn btn-primary" (click)="submitLubeCashBill()">Create</button>
                        </div>
                      </div>
                      <br>

                    </div>
                    <div class="col-md-2"></div>
                  </div>
                </div>
              </div>
            </form>

          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>