<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <form [formGroup]="filterForm">
                  <div class="mb-3 row">
                      <label for="example-text-input" class="col-md-2" style="text-align: center;"><b>Product</b></label>
                      <div class="col-md-2">
                          <p style="text-align: center;"><b>Month</b></p>
                      </div>
                      <div class="col-md-2">
                          <p style="text-align: center;"><b>Year</b></p>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-2">
                          <select class="form-select" formControlName="product" required>
                              <option value=""> Select Product </option>
                              <option *ngFor="let data of productsList" [value]="data.fuelProductsId">
                                  {{data.productName}} </option>
                          </select>
                      </div>
                      <div class="col-md-2">
                          <select class="form-select" formControlName="month">
                              <option value="">Select</option>
                              <option value="01">Jan</option>
                              <option value="02">Feb</option>
                              <option value="03">Mar</option>
                              <option value="04">Apr</option>
                              <option value="05">May</option>
                              <option value="06">Jun</option>
                              <option value="07">Jul</option>
                              <option value="08">Aug</option>
                              <option value="09">Sep</option>
                              <option value="10">Oct</option>
                              <option value="11">Nov</option>
                              <option value="12">Dec</option>
                          </select>
                      </div>
                      <div class="col-md-2">
                          <select formControlName="year" class="form-select" required>
                              <option value={{currentYear}}> {{currentYear}} </option>
                              <option value={{lastYear}}> {{lastYear}} </option>
                              <option value={{last2Year}}> {{last2Year}} </option>
                              <option value={{lastFourthYear}}> {{lastFourthYear}} </option>
                              <option value={{lastFifthYear}}> {{lastFifthYear}} </option>
                          </select>
                      </div>
                      <div class="col-md-2">
                          <button class="btn btn-primary" (click)="submit()"> Submit </button>
                      </div>
                      
                      <div class="col-sm-1">
                          <!-- <div *ngIf="dsrBookDetails.length" class="text-sm-end"> -->
                              <span style="font-size: 35px;cursor: pointer;" ngbTooltip="Download CSV"
                                  placement="bottom" (click)="exportExcel()"><i
                                      class="fas fa-file-csv" style="font-size: 30px;"></i></span>

                          <!-- </div> -->
                      </div>
                  </div>
                  
              </form>
              <br><br>
              <div class="row">
                  <div class="table-responsive mb-0"> 
                      <table id="excel-table" class="table table-centered table-nowrap table-borderd">
                          <thead>
                              <tr style=" border-bottom: 2px solid black;"> 
                                  <th colspan="4"></th>
                                  <th style="font-size: x-large;" colspan="9"> 
                                  <b> {{ petrolPump }} {{ month }} {{ productName }} Sales/Purchase Sheet</b> 
                                  </th> 
                              </tr>
                          </thead>
                          <thead>
                              <tr>
                                  
                              </tr>
                              <tr>
                                  <th><b> Sr No </b></th>
                                  <th><b> Product </b></th>
                                  <th><b> Invoice No </b></th>
                                  <th><b> Party Name </b></th>
                                  <th><b> GST No </b></th>
                                  <th><b> Date </b></th>
                                  <th><b> Opening Stock </b></th>
                                  <th><b> Purchase Qty(LTR) </b></th>
                                  <th><b> Rate </b></th>
                                  <th><b> Purchase Amount </b></th>
                                  <th><b> Sales Qty(LTR) </b></th>
                                  <th><b> Sales Amount </b></th>
                                  <th><b> Closing Stock </b></th>
                              </tr>
                          </thead>
                          <tbody> 
                              <tr *ngFor="let data of salesPurData; let i= index">
                                  <td> {{ i+1 }} </td>
                                  <td> {{ data.product }} </td>
                                  <td> {{ data.invoiceNo }} </td>
                                  <td> {{ oilCompanyName }} </td>
                                  <td> {{ GSTNumber }} </td>
                                  <td> {{ data.date | date:"d MMM, yyyy"}} </td>
                                  <td> {{ data.openingStock | number:'1.2-2' }} </td>
                                  <td> {{ data.purchaseQuantity | number:'1.2-2' }} </td>
                                  <td> {{ data.rate | number:'1.2-2' }} </td>
                                  <td> {{ data.purchaseAmt | number:'1.2-2' }} </td>
                                  <td> {{ data.salesQuantity | number:'1.2-2' }} </td>
                                  <td> {{ data.salesAmt | number:'1.2-2' }} </td>
                                  <td> {{ data.closingStock | number:'1.2-2' }} </td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td><b> Total </b></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td> </td>
                                  <td> </td>
                                  <td> {{ totalPurQty| number:'1.2-2' }} </td>
                                  <td></td>
                                  <td> {{ totalPurAmt| number:'1.2-2' }} </td>
                                  <td> {{ totalSales | number:'1.2-2' }} </td>
                                  <td> {{ totalSalesAmt | number:'1.2-2' }} </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>    
              </div>

          </div>
      </div>
  </div>
</div>