<head>
  <style>
  .table td {
    white-space: normal;
    word-wrap: break-word;
  }

    .btn.btn-icon.badge.badge-light-success {
      background-color: #DFFFEA;
      color: #DFFFEA;
      transition: background-color 0.3s, color 0.3s;
      /* Smooth transition */
    }

    .btn.btn-icon.badge.badge-light-success:hover {
      background-color: #17C653;
      /* Change to success color */
      color: #17C653;
      /* Change text color if needed */
    }

    .btn.btn-icon.badge.badge-light-warning {
      background-color: #FFF8DD;
      color: #FFF8DD;
      transition: background-color 0.3s, color 0.3s;
      /* Smooth transition */
    }

    .btn.btn-icon.badge.badge-light-warning:hover {
      background-color: #F6C000;
      /* Change to  color */
      color: #F6C000;
      /* Change text color if needed */
    }

    .btn.btn-icon.badge.badge-light-danger {
      background-color: #FFEEF3;
      color: #FFEEF3;
      transition: background-color 0.3s, color 0.3s;
      /* Smooth transition */
    }

    .btn.btn-icon.badge.badge-light-danger:hover {
      background-color: #F8285A;
      /* Change to  color */
      color: #F8285A;
      /* Change text color if needed */
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      align-items: center;
      padding: 10px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked+.slider {
      background-color: green;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    label {
      display: inline-block;
      padding: 20px;
      font-size: medium;
    }
  </style>
</head>

<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <div class="row mb-2">
      <div class="col-md-8">

        <div class="search-box me-2 mb-2 d-inline-block">
          <div class="position-relative">
            <!-- <input class="form-control" type="text" (input)="onSearch()" placeholder="Search" [(ngModel)]="searchData"
              [ngModelOptions]="{standalone: true}"> -->
              <input class="form-control mr-sm-2" type="text" placeholder="Search customer"
                  oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                  [formControl]="searchBox" aria-label="Search" (click)="searchInTable()">
            <i class="bx bx-search-alt search-icon"></i>
          </div>
        </div>

      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <span style="font-size: 45px;cursor: pointer; margin-left: 260px;" (click)="allCustomerPDFDownload()" ngbTooltip="Download PDF"
          placement="bottom"><i class="fas fa-file-pdf" style="font-size: 30px;"></i></span>
      </div>
      <div class="col-md-1">
        <span style="font-size: 45px;cursor: pointer; margin-left: 270px;" (click)="allCustomerExcelDownload()" ngbTooltip="Download CSV"
          placement="bottom"><i class="fas fa-file-csv" style="font-size: 30px;"></i></span>
      </div>
    </div>
    <!-- <span class="card-label fw-bolder fs-3 mb-1">Rate Overview</span> -->
  </h3>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table mb-0">
    <table class="table table-centered table-responsive">
      <thead class="table-light">
        <tr>
          <th></th>
          <th><b>Khata Name</b></th>
          <th><b>Added On</b></th>
          <th><b>Email</b></th>
          <th><b>Mobile</b></th>
          <th><b>GST</b></th>
          <th><b>Rating</b></th>
          <th><b>Vehicles</b></th>
          <th><b>Actions</b></th>
        </tr>
      </thead>
      <tbody
        *ngFor="let data of mappingAccData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; let i = index">
        <tr style="color: red;" *ngIf="data.corporateReviewFlag == 'TRUE'">
          <td>
            <a class="expand-row"
              (click)="changeValue(i,data.previousOutstand,data.maxCreditAmount,data.creditDayLimit,data.manualNumberStart,data.manualNumberEnd,data.fuelDealerCustomerMapId,data.mappingStatus)"
              style="font-size: 19px;">
              +
            </a>
          </td>
          <td>
            <b> {{ data.companyName }} </b> <br>
            {{ data.hostName }}
          </td>
          <td> {{ data.mappingCreatedDate | date:"d MMM, yyyy" }} </td>
          <td> {{ data.mappingEmail }} </td>
          <td> {{ data.hostPhone }} </td>
          <td> {{ data.mappingGST }} </td>
          <td style="text-align: left;">
            <span *ngIf="(data.avgScore) > 0 && (data.avgScore) <= 20"
              style="cursor:pointer;color: black; font-size: 20px;">
              ★ ☆ ☆ ☆ ☆
            </span>
            <span *ngIf="(data.avgScore) >= 21 && (data.avgScore) <= 40"
              style="cursor:pointer;color: black; font-size: 20px;">
              ★ ★ ☆ ☆ ☆
            </span>
            <span *ngIf="(data.avgScore) >= 41 && (data.avgScore) <= 60"
              style="cursor:pointer;color: black; font-size: 20px;">
              ★ ★ ★ ☆ ☆
            </span>
            <span *ngIf="(data.avgScore) >= 61 && (data.avgScore) <= 80"
              style="cursor:pointer;color: black; font-size: 20px;">
              ★ ★ ★ ★ ☆
            </span>
            <span *ngIf="(data.avgScore) > 80" style="cursor:pointer;color: black; font-size: 20px;">
              ★ ★ ★ ★ ★
            </span>
          </td>
          <td style="cursor:pointer;" 
          (click)="getVehicleByCustMapId(viewVehicle,data.fuelDealerCustomerMapId, data.companyName)">
            {{ data.totalVehicleNumber }} </td>
          <td>
            <div ngbDropdown placement="bottom-left">
              <i class="fa-solid fa-ellipsis-vertical" ngbDropdownToggle data-toggle="dropdown"
                aria-expanded="true"></i>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript: void(0);" style="font-size: 12px;"
                  (click)="updateName(editName, data.fuelDealerCustomerMapId, data.companyName, data.hostName, data.mappingGST, data.mappingEmail, data.maxCreditAmount, data.creditDayLimit, data.mappingAddress1, data.mappingAddress2, data.mappingCity, data.addressId)">
                  &nbsp; Edit</a>
                <span>
                  <a class="dropdown-item" href="javascript: void(0);"
                    (click)="checkOutstandingInSavedStatement(previousOut, data.fuelDealerCustomerMapId, data.previousOutstand, data.companyName)">
                    &nbsp; Add Previous O/s</a>
                </span>

                <a class="dropdown-item" href="javascript: void(0);"
                  (click)="openManualNo(manualNo, data.fuelDealerCustomerMapId, data.manualNumberStart, data.manualNumberEnd, data.companyName)">
                  &nbsp; Add Bill Nos.</a>
                <a class="dropdown-item" href="javascript: void(0);"
                  (click)="openVehicle(addVehicle, data.fuelDealerCustomerMapId, data.fuelCorporateId, data.companyName)">
                  &nbsp; Add Vehicle</a>
                <a *ngIf="data.corporateFlagDealerId != fuelDealerId " class="dropdown-item" href="javascript: void(0);"
                  (click)="updateCorporateReview(updateFlag,data.fuelCorporateId,data.companyName)">
                  &nbsp; Add Alert</a>
                <a *ngIf="data.corporateFlagDealerId == fuelDealerId " class="dropdown-item" href="javascript: void(0);"
                  (click)="updateCorporateFlag(updateFlagCorp,data.fuelCorporateId,data.companyName)">
                  &nbsp; Add Alert</a>
              </div>
            </div>
          </td>
        </tr>

        <tr *ngIf="data.corporateReviewFlag == 'FALSE'">
          <td style="cursor: pointer;">
            <a class="expand-row"
              (click)="changeValue(i,data.previousOutstand,data.maxCreditAmount,data.creditDayLimit,data.manualNumberStart,data.manualNumberEnd,data.fuelDealerCustomerMapId,data.mappingStatus)"
              style="font-size: 19px;">
              +
            </a>
          </td>
          <td> <b> {{data.companyName}} </b> <br>
            {{data.hostName}}
          </td>
          <td> {{data.mappingCreatedDate | date:"d MMM, yyyy"}} </td>
          <td>
            <span *ngIf="data.mappingEmail != 'undefined' && data.mappingEmail != 'null'">
              {{data.mappingEmail}}
            </span>
          </td>
          <td>{{data.hostPhone}}</td>
          <td>
            <span *ngIf="data.mappingGST != 'undefined' && data.mappingGST != 'null'">
              {{data.mappingGST}}
            </span>
          </td>
          <td style="text-align: left;">
            <span *ngIf="(data.avgScore) > 0 && (data.avgScore) <= 20"
              style="cursor:pointer;color: black; font-size: 20px;">
              ★ ☆ ☆ ☆ ☆
            </span>
            <span *ngIf="(data.avgScore) >= 21 && (data.avgScore) <= 40"
              style="cursor:pointer;color: black; font-size: 20px;">
              ★ ★ ☆ ☆ ☆
            </span>
            <span *ngIf="(data.avgScore) >= 41 && (data.avgScore) <= 60"
              style="cursor:pointer;color: black; font-size: 20px;">
              ★ ★ ★ ☆ ☆
            </span>
            <span *ngIf="(data.avgScore) >= 61 && (data.avgScore) <= 80"
              style="cursor:pointer;color: black; font-size: 20px;">
              ★ ★ ★ ★ ☆
            </span>
            <span *ngIf="(data.avgScore) > 80" style="cursor:pointer;color: black; font-size: 20px;">
              ★ ★ ★ ★ ★
            </span>
          </td>
          <td style="cursor:pointer;" 
          (click)="getVehicleByCustMapId(viewVehicle,data.fuelDealerCustomerMapId, data.companyName)">
            {{data.totalVehicleNumber}}</td>
          <td style="text-align: left;cursor: pointer;">
            <div ngbDropdown placement="bottom-left">
              <i class="fa-solid fa-ellipsis-vertical" ngbDropdownToggle data-toggle="dropdown"
                aria-expanded="true"></i>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript: void(0);"
                  (click)="updateName(editName, data.fuelDealerCustomerMapId, data.companyName, data.hostName, data.mappingGST, data.mappingEmail, data.maxCreditAmount, data.creditDayLimit, data.mappingAddress1, data.mappingAddress2, data.mappingCity, data.addressId)">
                  &nbsp; Edit</a>
                <span>
                  <a class="dropdown-item" href="javascript: void(0);"
                    (click)="checkOutstandingInSavedStatement(previousOut, data.fuelDealerCustomerMapId, data.previousOutstand, data.companyName)">
                    &nbsp; Add Previous O/s</a>
                </span>

                <a class="dropdown-item" href="javascript: void(0);"
                  (click)="openManualNo(manualNo, data.fuelDealerCustomerMapId, data.manualNumberStart, data.manualNumberEnd, data.companyName)">
                  &nbsp; Add Bill Nos.</a>
                <a class="dropdown-item" href="javascript: void(0);"
                  (click)="openVehicle(addVehicle, data.fuelDealerCustomerMapId, data.fuelCorporateId, data.companyName)">
                  &nbsp; Add Vehicle</a>
                <a *ngIf="data.corporateFlagDealerId != fuelDealerId " class="dropdown-item" href="javascript: void(0);"
                  (click)="updateCorporateReview(updateFlag,data.fuelCorporateId,data.companyName)">
                  &nbsp; Add Alert</a>
                <a *ngIf="data.corporateFlagDealerId == fuelDealerId " class="dropdown-item" href="javascript: void(0);"
                  (click)="updateCorporateFlag(updateFlagCorp,data.fuelCorporateId,data.companyName)">
                  &nbsp; Add Alert</a>
              </div>
            </div>
          </td>
        </tr>

        <tr *ngIf="show  && i == rowNumber" class="sub-table no-bg">
          <td colspan="12" class="p-0">
            <table class="table mb-0 table-striped">
              <thead class="table-light">
                <tr>
                  <th></th>
                  <th style="text-align: left;"><b>Previous O/s</b></th>
                  <th style="text-align: left;"><b>Cr Amount Limit</b></th>
                  <th style="text-align: left;"><b>Cr Days Limit</b></th>
                  <th style="text-align: left;"><b>Bill Nos. Set</b></th>
                  <th style="text-align: left;"><b>Mapping</b></th>
                  <th style="text-align: left;"><b>SMS</b></th>
                  <th style="text-align: left;"><b>Email</b></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td> {{previousOutstandExpand}} </td>
                  <td> {{maxCreditAmountExpand}} </td>
                  <td> {{creditDayLimitExpand}} </td>
                  <td> from {{manualNumberStartExpand}} to {{manualNumberEndExpand}} </td>
                  <td style="text-align: left;">
                    <div *ngIf="data.mappingStatus == 'ACTIVE'">
                      <label class="switch">
                        <input type="checkbox" checked="checked"
                          (change)="updateMapping($event,fuelDealerCustomerMapIdExpand,'ACTIVE')">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div *ngIf="data.mappingStatus != 'ACTIVE'">
                      <label class="switch">
                        <input type="checkbox" [checked]="off"
                          (change)="updateMapping($event,fuelDealerCustomerMapIdExpand,'INACTIVE')">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </td>

                  <td style="text-align: left;" *ngIf="isDisableSMS == 'FALSE' ">
                    <div *ngIf="data.isMappingSMS == 'TRUE'">
                      <label class="switch">
                        <input type="checkbox" checked="checked"
                          (change)="updateSms(data.fuelDealerCustomerMapId,data.isMappingSMS)">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div *ngIf="data.isMappingSMS == 'FALSE'">
                      <label class="switch">
                        <input type="checkbox" [checked]="off"
                          (change)="updateSms(data.fuelDealerCustomerMapId,data.isMappingSMS)">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </td>
                  <td style="text-align: left;" *ngIf="isDisableSMS == 'TRUE' " (click)="smsAlert()">
                    <label class="switch">
                      <input type="checkbox" [checked]="off" disabled>
                      <span class="slider round"></span>
                    </label>
                  </td>

                  <td style="text-align: left;" *ngIf="isDisableEmail == 'FALSE' ">
                    <div *ngIf="data.isMappingEmail == 'TRUE'">
                      <label class="switch">
                        <input type="checkbox" checked="checked"
                          (change)="updateEmail(data.fuelDealerCustomerMapId,data.isMappingEmail)">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div *ngIf="data.isMappingEmail == 'FALSE'">
                      <label class="switch">
                        <input type="checkbox" [checked]="off"
                          (change)="updateEmail(data.fuelDealerCustomerMapId,data.isMappingEmail)">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </td>
                  <td style="text-align: left;" *ngIf="isDisableEmail == 'TRUE' " (click)="emailAlert()">
                    <label class="switch">
                      <input type="checkbox" [checked]="off" disabled>
                      <span class="slider round"></span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <br><br><br><br><br><br><br><br><br>
    <!-- begin::Pagination -->
    <pagination-controls (pageChange)="pageChangeEvent($event)" previousLabel="" nextLabel=""
      style="text-align: end; font-size: x-large; font-family: 'Font Awesome 6 Free'; font-style: oblique;">
    </pagination-controls>
    <!-- end::Pagination -->
  </div>

  <ng-template #viewVehicle let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">
        <strong>
          View Vehicle For {{customerNameVehicle}}
        </strong>
      </h6>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
                <tr>
                  <th>Sr No</th>
                  <th>Vehicle Number</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let charges of modalVehicleData; let i = index;">
                <tr>
                  <td>
                    {{i+1}}
                  </td>

                  <td>
                    {{charges.vehicleNumber}}
                  </td>
                  <td>
                    <div>
                      <button class="btn btn-danger"
                        (click)="removeVehiclefromCustomerMapId(charges.idfuelCreditVehicle)">Delete</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">Close</button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #editName let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">
        <strong>
          &nbsp;&nbsp;&nbsp;
          Update for {{updateCompanyName}} </strong>
      </h4>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-md-6">
          <label class="labelNewMargin"><b>Khata :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control"
            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
            [(ngModel)]="updateCompanyName" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label class="labelNewMargin"><b>Person Name :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control"
            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
            [(ngModel)]="updatePersonName" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label class="labelNewMargin"><b>Email Id :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control" [(ngModel)]="updateMail" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label class="labelNewMargin"><b>GST Number :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control" max="15"
            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
            [(ngModel)]="updateGST" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label class="labelNewMargin"><b>Cr Amount Limit :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control" type="number" [(ngModel)]="updateMaxCRLimit"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label class="labelNewMargin"><b>Cr Days Limit :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control" type="number" [(ngModel)]="creditDayLimit" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <label class="labelNewMargin"><b>Address Line1 :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control" [(ngModel)]="mappingAddress1"
            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label class="labelNewMargin"><b>Address Line2 :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control" max="15"
            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
            [(ngModel)]="mappingAddress2" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label class="labelNewMargin"><b>City :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control" max="15"
            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
            [(ngModel)]="mappingCity" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="updateNameByMapId()">Update</button>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-2">
          <button type="submit" class="btn btn-secondary" (click)="closeModalUpdate()">Close</button>
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template #previousOut let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">
        <strong>
          Add Previous Outstanding Amount for {{companyNameOust}}
        </strong>
      </h6>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <label><b>Previous Outstanding Amount :</b>
              {{previousOutstandForModal}}</label>
            <input class="form-control" type="number" style="font-size: 0.750rem;" min="0"
              [(ngModel)]="pendingOutstanding" [ngModelOptions]="{standalone: true}" placeholder="Enter Amount">
          </div>

        </div>
        <br><br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary" aria-label="Close"
              (click)="addOutstandAmount()">Update</button>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">Close</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #manualNo let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">
        <strong>
          Add Manual Number Range for {{companyNameManual}}
        </strong>
      </h6>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <label><b>Manual No. Range :</b>
              From {{manualNumberStart}} To {{manualNumberEnd}}</label>
          </div>
          <div class="col-md-6">
            <input class="form-control" type="number" style="font-size: 0.750rem;" min="0"
              [(ngModel)]="manualNumberStart" [ngModelOptions]="{standalone: true}" placeholder="manual number start">
          </div>
          <div class="col-md-6">
            <input class="form-control" type="number" style="font-size: 0.750rem;" min="0" [(ngModel)]="manualNumberEnd"
              [ngModelOptions]="{standalone: true}" placeholder="manual number end">
          </div>

        </div>
        <br><br>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary" aria-label="Close"
              (click)="checkManualNumRange()">Update</button>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-md-3">
            <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">Close</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #updateFlag let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">
        <strong>
          &nbsp;&nbsp;&nbsp;
          Remarks For Customer {{companyNameRemark}} </strong>
      </h4>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-auto">
          <label class="labelNewMargin"><b> Remarks :</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control" style="margin-top: 10px"
            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
            [(ngModel)]="corporateFlagPurpose" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="row">

      </div>

      <hr>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="addFlagForCorp()">ADD</button>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-2">
          <button type="submit" class="btn btn-secondary" (click)="closeModalUpdate()">Close</button>
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template #updateFlagCorp let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">
        <strong>
          &nbsp;&nbsp;&nbsp;
          Remove Community Alert for {{companyNameRemark}}? </strong>
      </h4>
    </div>
    <div class="modal-body">

      <div class="row">

      </div>

      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="updateFlagForCorp()">Yes</button>
        </div>&nbsp;&nbsp;
        <div class="col-md-2">
          <button type="submit" class="btn btn-secondary" (click)="closeModalUpdate()">Close</button>
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template #addVehicle let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">
        <strong>
          Add Vehicle for {{companyNameAddVehicle}}
        </strong>
      </h6>
    </div>
    <div class="modal-body">
      <form [formGroup]="addVehicleForm">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive mb-0">
              <table class="table table-centered table-nowrap">
                <thead class="table-light">
                  <tr>
                    <th><b>Sr No</b></th>
                    <th><b>Vehicle Number</b></th>
                    <th><b>Action</b></th>
                  </tr>
                </thead>
                <tbody *ngFor="let charges of addVehicleData; let i = index;">
                  <tr>
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="charges.vehicleNumber"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter Vehicle no."
                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                        (blur)="setVehicleNumber()" />
                    </td>

                    <td>
                      <button type="submit" class="btn btn-success btn-sm" (click)="addVehicleForCr()">
                        +
                      </button>
                      &nbsp;&nbsp;
                      <button *ngIf="i != 0" type="cancel" class="close btn-danger" aria-label="Close"
                        (click)="removeVehicle(i)"><span aria-hidden="true">&times;</span></button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>

      <div class="row justify-content-center">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" (click)="addFuelCreditVehicle()">Submit</button>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">Close</button>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- end::Table container -->
</div>