
<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0">
    <div class="d-flex flex-wrap flex-sm-nowrap mb-3">

      <div class="row" [formGroup]="form">
        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                First name <span style="color: red;">*</span></span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="number" placeholder="Mobile Number" class="form-control" formControlName="firstName"
              onkeypress="return this.value.length < 10;">
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                Last Name <span style="color: red;">*</span></span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="text" placeholder="Khata Name" class="form-control" formControlName="lastName">
            <div
              *ngIf="
                form.get('lastName')?.hasError('required') &&
                form.get('lastName')?.touched
              "
              class="fv-plugins-message-container invalid-feedback">
        
              Team Account name is required
            </div>
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                Email </span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="number" placeholder="GST" class="form-control" formControlName="email">
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                Address Line1</span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="text" placeholder="Cr Limit Amount" class="form-control" formControlName="address1">
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                Address Line2
              </span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="number" placeholder="Cr Limit Days" class="form-control" formControlName="address2">
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                City <span style="color: red;">*</span></span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="text" placeholder="Cr Limit Amount" class="form-control" formControlName="city">
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                State <span style="color: red;">*</span>
              </span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="number" placeholder="Cr Limit Days" class="form-control" formControlName="state">
          </span>
          <!-- end::Description -->
        </div>

      </div>

    </div>
  </div>
</div>
