<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Rate Overview</span>
  </h3>
  <div
  class="card-toolbar"
  data-bs-toggle="tooltip"
  data-bs-placement="top"
  data-bs-trigger="hover"
  title="Click to add a user"
>
  <a (click)="openModal()" class="btn btn-sm btn-light-primary">
    <app-keenicon name="plus" class="fs-3"></app-keenicon>
    Add Rate
  </a>
  <app-modal #modal [modalConfig]="modalConfig">
    Modal body html
  </app-modal>
</div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-5">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="p-0 min-w-100px">Product</th>
          <th class="p-0 min-w-100px">Previous</th>
          <th class="p-0 min-w-100px">Current</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody *ngFor="let data of mergedArray; let i = index">
        <tr>
          <td>
            <span *ngIf="i % 2 === 0" class="badge badge-light-primary fs-6 fw-bolder">
              {{ data.productName }}
            </span>
            <span *ngIf="i % 2 != 0" class="badge badge-light-success fs-6 fw-bolder">
              {{ data.productName }}
            </span>
          </td>
          <td>
            <div class="d-flex flex-column w-100 me-2">
              <div class="d-flex flex-stack mb-2">
                <span *ngIf="i % 2 === 0" class="badge badge-light-primary fs-6 fw-bolder">
                  {{ data.previousRate | number:"1.1-2" }}
                </span>
                <span *ngIf="i % 2 != 0" class="badge badge-light-success fs-6 fw-bolder">
                  {{ data.previousRate | number:"1.1-2" }}
                </span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column w-100 me-2">
              <div class="d-flex flex-stack mb-2">
                <span *ngIf="i % 2 === 0" class="badge badge-light-primary fs-6 fw-bolder">
                  {{ data.currentRate| number:"1.1-2" }}
                </span>
                <span *ngIf="i % 2 != 0" class="badge badge-light-success fs-6 fw-bolder">
                  {{ data.currentRate| number:"1.1-2" }}
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>