<div class="card-header">
    <b>ACTIVITY COUNT</b>
</div>
<ul ngbNav #activityCount="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified" style="width: 50%;">
    <li [ngbNavItem]="1">
        <a ngbNavLink>
            <span class="d-none d-sm-block" style="font-size: 15px;">PORTAL</span>
        </a>
        <ng-template ngbNavContent><hr>
            <ng-template [ngTemplateOutlet]="portal"></ng-template>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>
            <span class="d-none d-sm-block" style="font-size: 15px;">APP</span>
        </a>
        <ng-template ngbNavContent><hr>
            <ng-template [ngTemplateOutlet]="app"></ng-template>
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink>
            <span class="d-none d-sm-block" style="font-size: 15px;">ACTIVE CUSTOMER</span>
        </a>
        <ng-template ngbNavContent>
            <app-stats-widget9></app-stats-widget9>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="activityCount"></div>



<ng-template #portal>
    <ul ngbNav #activityCountPortal="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified" style="width: 50%;">
        <li [ngbNavItem]="1">
            <a ngbNavLink>
                <span class="d-none d-sm-block" style="font-size: 15px;">DEALER</span>
            </a>
            <ng-template ngbNavContent>
                <app-stats-widget7 title="PORTAL"></app-stats-widget7>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>
                <span class="d-none d-sm-block" style="font-size: 15px;">TRANSPORTER</span>
            </a>
            <ng-template ngbNavContent>
                <app-stats-widget8 title="PORTAL"></app-stats-widget8>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="activityCountPortal"></div>
</ng-template>

<ng-template #app>
    <ul ngbNav #activityCountApp="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified" style="width: 50%;">
        <li [ngbNavItem]="1">
            <a ngbNavLink>
                <span class="d-none d-sm-block" style="font-size: 15px;">DEALER</span>
            </a>
            <ng-template ngbNavContent>
                <app-stats-widget7 title="APP"></app-stats-widget7>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>
                <span class="d-none d-sm-block" style="font-size: 15px;">TRANSPORTER</span>
            </a>
            <ng-template ngbNavContent>
                <app-stats-widget8 title="APP"></app-stats-widget8>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="activityCountApp"></div>
</ng-template>