<div class="card-body">
 
  <div class="fw-bold" [ngClass]="'text-inverse-' + color + ' fs-5'">
    {{ title }}
  </div>
  <div *ngIf="isOS" [ngClass]="'text-inverse-' + color" class="fw-bold text-white me-2 lh-1 ls-n2">
   <span *ngIf="!totalOS">
    ₹ 0
   </span>
   <span *ngIf="totalOS">
    ₹ {{ totalOS }}
   </span>
  </div>
  <div *ngIf="isSales" [ngClass]="'text-inverse-' + color" class="fw-bold text-white me-2 lh-1 ls-n2">
    ₹ {{ thisMonthCrSale }}
  </div>
  <div *ngIf="isPayment" [ngClass]="'text-inverse-' + color" class="fw-bold text-white me-2 lh-1 ls-n2">
    ₹ {{ thisMonthCrPayment }}
  </div>

</div>