<div class="card-header">
    <b>View Payments</b>
</div>
<div class="text-sm-end">
    <button type="button" class="btn btn-success btn-rounded mb-2 me-2" routerLink="/credit/addPayments"
        [routerLinkActive]="['router-link-active']">
        Add Credit Payments </button>
</div>
<!-- begin::Header -->
<div class="card-header border-0 pt-5">
    <div>
        <app-base-tables-widget2 class="card card-xxl-stretch mb-5 mb-xl-8"></app-base-tables-widget2>
    </div>
</div>
<!-- end:: Header -->