<div class="card-body py-3">
    <div class="row">
        <form [formGroup]="filterForm">
            <div class="row">
                <div class="col-md-2">
                    <input type="radio" value="created" formControlName="isCreatedAt" (change)="changeCreatedAtRadio()">
                    &nbsp; <label for="example-text-input" class="col-auto col-form-label">Created At</label>
                </div>

                <div class="col-md-2">
                    <input type="radio" value="schedule" formControlName="isCreatedAt" (change)="changeScheduleRadio()">
                    &nbsp; <label for="example-text-input" class="col-auto col-form-label">Request Date</label>
                </div>

                <label for="example-text-input" class="col-auto col-form-label">Date Range</label>
                <div class="col-md-2">
                    <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;"
                        name="startDate" ngbTooltip="Start Date" (click)="startDate.toggle()" ngbDatepicker
                        #startDate="ngbDatepicker" formControlName="startDate">
                </div>
                <div class="col-md-2">
                    <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;"
                        name="endDate" ngbTooltip="End Date" (click)="endDate.toggle()" ngbDatepicker
                        #endDate="ngbDatepicker" formControlName="endDate">
                </div>

                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary" (click)="getRequestCallDetails()">Submit</button>
                </div>

                <div class="col-md-2">
                    <a class="
                    nav-link
                    btn btn-sm btn-color-muted btn-active btn-active-light-primary
                    fw-bolder
                    px-4
                    me-1
                  " data-bs-toggle="tab" [ngClass]="activeClass('kt_table_widget_23_tab_1')" (click)="exportExcel()">
                        CSV
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                            <input class="form-control" type="text" (input)="onSearch()" placeholder="Search"
                                [(ngModel)]="searchData" [ngModelOptions]="{standalone: true}">
                            <i class="bx bx-search-alt search-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6"></div>
            </div>
        </form>

        <div class="table-responsive mb-0">
            <table class="table table-centered">
                <thead class="table-light">
                    <tr>
                        <th style="text-align: left;"><b>Sr. No</b></th>
                        <th style="text-align: left;"><b>Created At</b></th>
                        <th style="text-align: left;"><b>Dealer Name</b></th>
                        <th style="text-align: left;"><b>Dealer Number</b></th>
                        <th style="text-align: left;"><b>Request Date & Time</b></th>
                        <th style="text-align: left;"><b>Contact Number</b></th>
                        <th style="text-align: left;"><b>Status</b></th>
                        <th style="text-align: left;"><b>Remark</b></th>
                        <th style="text-align: left;"><b>Action</b></th>
                    </tr>
                </thead>
                <tbody
                    *ngFor="let data of requestCallData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; let i = index">
                    <tr>
                        <td style="text-align: left;">{{i+1}}</td>
                        <td style="text-align: left;">{{data.demoScheduleCreatedAt | date:"d MMM, y"}} </td>
                        <td style="text-align: left;">{{data.companyName}}</td>
                        <td style="text-align: left;">{{data.hostPhone}}</td>
                        <td style="text-align: left;">{{data.demoScheduleDate | date:"d MMM, y"}}
                            {{data.demoScheduleTime}}
                        </td>
                        <td style="text-align: left;">{{data.demoScheduleMobileNumber}}</td>
                        <td style="text-align: left;">{{data.demoScheduleStatus}}</td>
                        <td style="text-align: left;"
                            (click)="openAddRemark(addRemark, data.demoScheduleId, data.demoScheduleRemark)">
                            <span *ngIf="data.demoScheduleRemark">
                                {{data.demoScheduleRemark}}
                            </span>
                            <span *ngIf="!data.demoScheduleRemark">
                                +
                            </span>

                        </td>
                        <td style="text-align: left;cursor: pointer;">
                            <div ngbDropdown placement="bottom-left">
                                <i class="fa-solid fa-ellipsis-vertical" ngbDropdownToggle data-toggle="dropdown"
                                    aria-expanded="true"></i>
                                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>

                                    <span *ngIf="data.demoScheduleStatus == 'REQUESTED' ">
                                        <a class="dropdown-item" href="javascript: void(0);"
                                            (click)="updateRequest(data.demoScheduleId,'ACCEPTED')">
                                            ACCEPT
                                        </a>
                                    </span>

                                    <span *ngIf="data.demoScheduleStatus == 'REQUESTED' ">
                                        <a class="dropdown-item" href="javascript: void(0);"
                                            (click)="updateRequest(data.demoScheduleId,'DECLINED')">
                                            DECLINE
                                        </a>
                                    </span>

                                    <span *ngIf="data.demoScheduleStatus == 'ACCEPTED' ">
                                        <a class="dropdown-item" href="javascript: void(0);"
                                            (click)="openAddRemark(addRemark, data.demoScheduleId, data.demoScheduleRemark)">
                                            Add Remark
                                        </a>
                                    </span>

                                    <span *ngIf="data.demoScheduleStatus == 'DECLINED' ">
                                        <a class="dropdown-item" href="javascript: void(0);">
                                            DECLINED
                                        </a>
                                    </span>

                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>

            <ng-template #addRemark let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Add Remark</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <input class="form-control" [(ngModel)]="demoScheduleRemark"
                                [ngModelOptions]="{standalone: true}" placeholder="Enter Remark">
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success" (click)="submitRemark()">Submit</button>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-danger" (click)="clear()">Cancel</button>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- begin::Pagination -->
            <pagination-controls (pageChange)="pageChangeEvent($event)" previousLabel="" nextLabel=""
                style="text-align: end; font-size: x-large; font-family: 'Font Awesome 6 Free'; font-style: oblique;">
            </pagination-controls>
            <!-- end::Pagination -->

        </div>
    </div>
</div>