<head>
  <style>
    .btn.btn-sm.btn-icon {
      background-color: #c5294e;
      color: #ffffff;
      transition: background-color 0.3s, color 0.3s;
      /* Smooth transition */
    }
  </style>
</head>
<ng-template #modal>
  <div class="modal-content">
    <div class="modal-header">
      <!--begin::Modal title-->
      <h2>Set Fuel Rate</h2>
      <!--end::Modal title-->
      <!--begin::Close-->
      <div class="btn btn-sm btn-icon" (click)="dismiss()"
        *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
        <!--end::Svg Icon-->
      </div>
      <!--end::Close-->
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-md-5">
          <label for="example-text-input" class="col-md-5 col-form-label"><b> Date</b></label>
        </div>
        <div class="col-md-6">
          <input class="form-control bg-transparent" placeholder="DD-MM-YYYY" (click)="startDate.toggle()"
            name="startDate" ngbDatepicker #startDate="ngbDatepicker" [(ngModel)]="date" disabled>
        </div>
      </div>
      <br>
      <div class="mb-3 row" *ngFor="let data of allProductPriceList">
        <label for="example-text-input" class="col-md-5 col-form-label"><b>{{data.productName}} </b></label>
        <div class="col-md-6">
          <input class="form-control" type="number" [(ngModel)]="data.sellingPrice"
            onkeypress="return this.value.length < 6;" [ngModelOptions]="{standalone: true}" placeholder="Enter Price"
            (change)="checkAmount($event)">
        </div>
        <br><br>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="submit()">
        Submit
      </button>
      <button type="button" class="btn btn-danger" (click)="close()">
        Cancel
      </button>
    </div>
  </div>
</ng-template>