<style>
  .table{
    thead{
        th{
            text-align: left;
        }
    }
    td{
        text-align: left;

    }
}
</style>

<form [formGroup]="filterFastagCustomerList">
  <div class="row">
    <div class="col-md-3">
      <div class="search-box me-2 mb-2 d-inline-block">
        <div class="position-relative">
          <input class="form-control mr-sm-4" type="text" placeholder="search" [formControl]="searchBoxCustomerList"
            aria-label="Search" (click)="searchCustomerList1()">
          <i class="bx bx-search-alt search-icon"></i>
        </div>
      </div>
    </div>
    &nbsp;&nbsp;
    <label for="example-text-input" class="col-auto col-form-label">Date Range</label>
    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;" name="startDate"
        ngbTooltip="Start Date" (click)="startDate.toggle()" ngbDatepicker #startDate="ngbDatepicker"
        formControlName="startDate">
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;" name="endDate"
        ngbTooltip="End Date" (click)="endDate.toggle()" ngbDatepicker #endDate="ngbDatepicker"
        formControlName="endDate">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="getFastagCustomerListByDateRange()">
        Submit
      </button>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-secondary" (click)="clearFilterCustomerList()">
        Cancel
      </button>
    </div>
    <div class="col-auto" style="margin-top: -1px;">
      <a class="
      nav-link
      btn btn-sm btn-color-muted btn-active btn-active-light-primary
      fw-bolder
      px-4
      me-1
    " data-bs-toggle="tab" [ngClass]="activeClass('kt_advance-tables_widget_2_tab_1')"
          (click)="exportToExcelCustomerList()">
          CSV
      </a>
    </div>
  </div>
  <br>
</form>
<div class="table-responsive mb-0">
  <table class="table table-centered">
    <thead class="table-light">
      <tr>
        <th style="text-align: left;"> Veels ID </th>
        <th style="text-align: left;"> Mapped Date </th>
        <th style="text-align: left;"> Owner Name </th>
        <th style="text-align: left;"> Contact Number </th>
        <th style="text-align: left;"> Email Id </th>
        <th style="text-align: left;"> Owned Vehicle Count </th>
      </tr>
    </thead>
    <tbody
      *ngFor="let data of getAllFastagUserList1; let i = index">
      <tr>
        <td> {{data.entityId}} </td>
        <td>{{data.vishUserCreatedAt | date:"d MMM, yyyy"}}</td>
        <td> {{data.vishUserFirstName}} {{data.vishUserLastName}} </td>
        <td> {{data.vishUserMobile}} </td>
        <td> {{data.vishUserMail}} </td>
        <td style="color: blue;" [routerLink]="['/new_Viswasa/ftVehicle', data.vishUserId]"> {{data.vehicleSum}}
        </td>
      </tr>
    </tbody>
  </table>
</div>