<br>
<div class="row">

  <div class="col-lg-12">
    <form [formGroup]="requestTransporter">
      <div class="row">
        <div class="col-lg-2">
          <label for="example-text-input" class="col-form-label">Date</label>
        </div>
        <div class="col-lg-10">
          <input class="form-control" placeholder="DD-MM-YYYY" name="startDate" (click)="endDate.toggle()" readonly
            style="background-color: #ffffff;" formControlName="priceDate" ngbDatepicker #endDate="ngbDatepicker"
            (dateSelect)="logValue()">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-lg-2">
          <label for="example-text-input" class="col-form-label">Product</label>
        </div>
        <div class="col-lg-10">
          <select class="form-control" formControlName="productName" (change)="getPrice($event,setFuelPrice)" required>
            <option value="">Select Product </option>
            <option *ngFor="let data of productInfo" [value]="data.fuelProductsId">
              {{data.productName}}
            </option>
          </select>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-lg-2">
          <label for="example-text-input" class="col-form-label">Rate</label>
        </div>
        <div class="col-lg-10">
          <select class="form-control" formControlName="productPrice" (change)="setPrice($event)" required>
            <option value="">Select </option>
            <option *ngFor="let data of productPriceDetails" [value]="data.productSellingPrice">
              {{data.productSellingPrice}}
            </option>
          </select>
        </div>

        <ng-template #setFuelPrice let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="text-center">
              Set Fuel Price
            </h4>
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="unitForm">
              <div class="row">
                <div class="col-md-5">
                  <label class="labelNewMargin"><b>Select Date</b></label>
                </div>
                <div class="col-md-6">
                  <input class="form-control" formControlName="productPriceDate" ngbDatepicker
                    #startDate="ngbDatepicker" readonly style="background-color: #ffffff;" (click)="startDate.toggle()">
                </div>
              </div>
              <br>
              <div class="row" *ngFor="let data of allProductPriceList">
                <div class="col-md-5">
                  <label class="labelNewMargin"> <b>
                      {{data.productName}}
                    </b></label>
                </div>
                <div class="col-md-6">
                  <input class="form-control form-control-sm mr-1 w-40" style="font-size: 0.750rem;" type="number"
                    onkeypress="return this.value.length < 6;" [(ngModel)]="data.sellingPrice"
                    [ngModelOptions]="{standalone: true}" placeholder="Enter Price">
                </div>
                <br><br>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                    (click)="addFuelPrice()">Submit</button>
                  &nbsp;&nbsp;
                  <button class="btn btn-danger" type="button" (click)="d('Cross click')">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>

      </div>
    </form>
    <br>
    <form [formGroup]="requestTransporter1">
      <div class="row">
        <div class="col-lg-2">
          <label for="example-text-input" class="col-form-label">Khata</label>
        </div>

        <div class="col-lg-10">
          <input class="form-control" type="text" list="corporateList" #myinput placeholder="Select Khata"
            formControlName="selectedCorp" (change)="getDetailsByfuelDealerCustomerMapIdId($event)">
          <datalist id="corporateList">
            <option *ngFor="let data of corporateList" [value]="data.companyName">
          </datalist>
        </div>

        <ng-template #viewFlagModel let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="text-center">
              Show Details
            </h4>
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th align=left>Date Of Alert</th>
                  <th align=left>Petrol Pump Name</th>
                  <th align=left>City</th>
                  <th align=left>Remarks</th>
                </tr>
              </thead>
              <tbody *ngFor="let charges of viewCorpFlag; let i = index;">
                <tr>
                  <td>{{charges.corporateFlagCreatedAt| date:"d MMM, yyyy"}}</td>
                  <td><b> {{charges.companyName}}</b> <br>
                    {{charges.firstName}} {{charges.lastName}} <br>
                    {{charges.phone1}}</td>
                  <td>{{charges.city}}</td>
                  <td>{{charges.corporateFlagPurpose}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </div>
    </form>
    <br>

    <div class="row">
      <div class="col-lg-12">

        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="text-center">
              Alert Details
            </h4>

            <div class="text-center mb-4" *ngIf="isAlert" style="position: absolute; top: 14%; left: 50%; 
                                          transform: translate(-50%, -50%);">
              <div class="row justify-content-center">
                <div class="col-xl-10" style="color: red">
                  <i class="fa fa-exclamation-triangle fa-fw fa-6x" style="color: red" ></i>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Date Of Alert</th>
                  <th>Petrol Pump Name</th>
                  <th>City</th>
                  <th>Remarks</th>

                </tr>
              </thead>
              <tbody *ngFor="let charges of viewCorpFlag; let i = index;">
                <tr>
                  <td>{{charges.corporateFlagCreatedAt| date:"d MMM, yyyy"}}</td>
                  <td><b> {{charges.companyName}}</b> <br>
                    {{charges.firstName}} {{charges.lastName}} <br>
                    {{charges.phone1}}</td>
                  <td>{{charges.city}}</td>
                  <td>{{charges.corporateFlagPurpose}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </ng-template>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="text-center">
              Alert Details
            </h4>

            <div class="text-center mb-4" *ngIf="isAlert" style="position: absolute; top: 14%; left: 50%; 
                          transform: translate(-50%, -50%);">
              <div class="row justify-content-center">
                <div class="col-xl-10" style="color: red">
                  <i class="fa fa-exclamation-triangle fa-fw fa-6x" style="color: red"></i>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Date Of Alert</th>
                  <th>Petrol Pump Name</th>
                  <th>City</th>
                  <th>Remarks</th>

                </tr>
              </thead>
              <tbody *ngFor="let charges of viewCorpFlag; let i = index;">
                <tr>
                  <td>{{charges.corporateFlagCreatedAt| date:"d MMM, yyyy"}}</td>
                  <td><b> {{charges.companyName}}</b> <br>
                    {{charges.firstName}} {{charges.lastName}} <br>
                    {{charges.phone1}}</td>
                  <td>{{charges.city}}</td>
                  <td>{{charges.corporateFlagPurpose}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </ng-template>
        <div class="table-responsive mb-0" *ngIf="isSelected1">
          <div class="text-center mb-4" *ngIf="isAlert"
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="row justify-content-center">
              <div class="col-xl-10" style="color: red">
                <i class="fa fa-exclamation-triangle fa-fw fa-6x"></i>
              </div>
            </div>
          </div>
          <table class="table table-centered table-nowrap" style="border-collapse: collapse; border: 1px solid black;">
            <thead>
              <tr>
                <th style="text-align: left;border-width: 1px; border-color: #000;">Khata Name</th>
                <th style="text-align: left;border-width: 1px; border-color: #000;">Key Person Name</th>
                <th style="text-align: left;border-width: 1px; border-color: #000;">Key Person Mobile</th>
                <th style="text-align: left;border-width: 1px; border-color: #000;">Bill Nos. Set</th>
                <th style="text-align: left;border-width: 1px; border-color: #000;">Outstanding</th>
                <th style="text-align: left;border-width: 1px; border-color: #000;">Alert</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: left;border: 1px solid black;">{{dealerName}}</td>
                <td style="text-align: left;border: solid 1px black;border-bottom: solid 1px black;">
                  {{personName}}
                </td>
                <td style="text-align: left;border: solid 1px black;border-bottom: solid 1px black;"> {{personPhone1}} </td>
                <td style="text-align: left;border-width: 1px; border-color: #000;border-bottom: solid 1px black;">
                  {{rangeFrom}} - {{rangeTo}}
                </td>
                <td style="text-align: left;border: solid 1px black;color: red;border-bottom: solid 1px black;">
                  <span *ngIf="calOutstanding< 0">
                    <li class="fas fa-rupee-sign"></li> {{(calOutstanding)*(-1) | number:'1.2-2'}} CR
                  </span>
                  <span *ngIf="calOutstanding >= 0">
                    <li class="fas fa-rupee-sign"></li> {{(calOutstanding) | number:'1.2-2'}}
                  </span>

                </td>
                <td style="text-align: left;border: solid 1px black; cursor:pointer;border-bottom: solid 1px black;"
                  (click)="viewFlag(viewFlagModel)">
                  <span *ngIf="viewCorpFlag.length" class="col-md-1" style="color:rgb(255, 0, 0);cursor:pointer;">
                    <i class="fa fa-exclamation-triangle fa-fw fa-3x" style="color: red"></i>
                  </span>

                  <span *ngIf="!viewCorpFlag.length" class="col-md-1">
                    None
                  </span>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
    <br>

    <form [formGroup]="requestTransporter">
      <div class="row">
        <div class="col-lg-2">
          <label for="example-text-input" class="col-form-label">Type</label>
        </div>

        <div class="col-md-10">
          <input type="radio" value="showamount" checked name="requestType" formControlName="requestType"
            (change)="changeAmountToQuantity($event)">
          &nbsp; <label class="labelNewMargin">Amount</label>

          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" value="!showamount" name="requestType" formControlName="requestType"
            (change)="changeQuantityToAmount($event)">
          &nbsp; <label class="labelNewMargin">Quantity</label>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="requestTransporter">
          <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Bill Number</th>
                  <th>Details (Vehicle/Barrel)</th>
                  <th *ngIf="!showamount">Amount</th>
                  <th *ngIf="!showamount">Quantity</th>
                  <th *ngIf="showamount">Quantity</th>
                  <th *ngIf="showamount">Amount</th>

                </tr>
              </thead>
              <tbody *ngFor="let charges of CreditRequestDataArray; let i = index;">
                <tr>
                  <td>
                    <span *ngIf="autoManualStatus == 'TRUE'"> <input type="text" class="form-control"
                        placeholder="Bill Number Automation Active" readonly />
                    </span>
                    <span *ngIf="autoManualStatus != 'TRUE'"> <input type="text" class="form-control"
                        [(ngModel)]="charges.manualNumber" [ngModelOptions]="{standalone: true}"
                        placeholder="Enter Bill / Ref Number" (blur)="setManualNumber(i)" />
                    </span>
                  </td>

                  <td *ngIf="isFuelVehicles">
                    <input class="form-control" type="text" list="fuelVehicles" [(ngModel)]="charges.vehicleNumber"
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                      [ngModelOptions]="{standalone: true}" placeholder="Enter vehicle no./ barrel"
                      (blur)="setVehicleNumber(i)">
                    <datalist id="fuelVehicles">
                      <option *ngFor="let data of fuelVehicles" [value]="data.vehicleNumber">
                    </datalist>
                  </td>
                  <td *ngIf="!isFuelVehicles">
                    <input type="text" class="form-control" [(ngModel)]="charges.vehicleNumber"
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                      [ngModelOptions]="{standalone: true}" placeholder="Enter vehicle no./ barrel"
                      (blur)="setVehicleNumber(i)" />
                  </td>
                  <td *ngIf="!showamount">
                    <span *ngIf="!showamount">
                      <input type="number" class="form-control" [(ngModel)]="charges.creditAmount"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter Credit Amount"
                        (blur)="amountCalculateNEW(i)" />
                    </span>

                  </td>
                  <td *ngIf="showamount">
                    <span *ngIf="showamount">
                      <input type="number" class="form-control" [(ngModel)]="charges.creditQuantity"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter Credit Quantity"
                        (blur)="quantityCalculateNEW(i)" />
                    </span>
                  </td>

                  <td *ngIf="!showamount">
                    <span *ngIf="!showamount">
                      <input type="number" class="form-control" [(ngModel)]="charges.creditQuantity"
                        [ngModelOptions]="{standalone: true}" placeholder="Credit Quantity" disabled />
                    </span>

                  </td>
                  <td *ngIf="showamount">
                    <span *ngIf="showamount">
                      <input type="number" class="form-control" [(ngModel)]="charges.creditAmount"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter Credit Amount"
                        (blur)="amountCalculateNEW(i)" disabled/>
                    </span>
                  </td>
                  <td>
                    <button *ngIf="isVehSelect" type="submit" class="btn btn-success my-2 my-sm-0"
                      (click)="addFormRequest()">
                      Add
                    </button>
                    <button *ngIf="!isVehSelect" type="submit" class="btn btn-success" (click)="selectVehicle()">
                      Add
                    </button>
                    &nbsp;&nbsp;
                    <button *ngIf="i != 0 " type="cancel" class="btn btn-primary"
                      (click)="removeFormRequest(i,removeTable)">Delete</button>
                  </td>
                </tr>
              </tbody>
              <br>

            </table>
          </div>
        </form>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12">
        <button *ngIf="isVehSelect" type="submit" class="btn btn-primary"
          (click)="submitByDealerNEW1()">Submit</button>&nbsp;&nbsp;
        <button *ngIf="!isVehSelect" type="submit" class="btn btn-primary"
          (click)="selectVehicle()">Submit1</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      </div>
      <ng-template #removeTable let-c="close" let-d="dismiss">

        <div class="modal-body">
          <h6>Are you sure you want to delete this element ?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" aria-label="Close" (click)="d('Cross click')">
            Cancel
          </button>
          &nbsp;&nbsp;
          &nbsp;&nbsp;

          <button type="button" class="btn btn-link" aria-label="Close" (click)="removeRequestIndex()">
            OK
          </button>
        </div>
      </ng-template>
    </div>

  </div>
</div>