<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="min-w-125px">Date</th>
          <th class="min-w-125px">Number Of Shifts</th>
          <th class="min-w-125px">Total Amount Of Meter Sales</th>
          <th class="min-w-125px">Total Amount Of Credit Sales</th>
          <th class="min-w-125px">Total Amount Of Digital Sales</th>
          <th class="min-w-125px">Total Amount Of Cash Sales</th>
          <th class="min-w-125px">Total Amount Of Expenses</th>
          <th class="min-w-125px">Total Amount Of Short</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <span class="badge badge-light-primary fs-7 fw-bold">Sep 1, 2024</span>
              </div>
            </div>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <span class="badge badge-light-primary fs-7 fw-bold">Sep 2, 2024</span>
              </div>
            </div>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <span class="badge badge-light-primary fs-7 fw-bold">Sep 3, 2024</span>
              </div>
            </div>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <span class="badge badge-light-primary fs-7 fw-bold">Sep 4, 2024</span>
              </div>
            </div>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
          <td>
            <span class="badge badge-light-primary fs-7 fw-bold">0.00</span>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->