<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded" (click)="addNewNameModal(AddShiftName)">
                  Add Shift
                </button>
              </div>

              <ng-template #AddShiftName let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="text-center">Add Shift </h4>
                  <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="shiftTimeForm">
                    <div class="row">
                      <div class="col-lg-4">
                        <b>Shift Name</b>
                      </div>
                      <div class="col-lg-8">
                        <input class="form-control" formControlName="shiftName"
                          oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                          placeholder="enter shift name" />
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-4">
                        <b>Shift Time From</b>
                      </div>
                      <div class="col-lg-8">
                        <div class="row">
                          &nbsp;&nbsp;&nbsp;<input class="col-md-3 col-form-control" type="number" min="0" max="23"
                            placeholder="hrs" [(ngModel)]="shiftTimeFromHrs" [ngModelOptions]="{standalone: true}"
                            onkeypress="return this.value.length < 2;" style="width: 50;">&nbsp;&nbsp; : &nbsp;&nbsp;
                          <input class="col-md-3 col-form-control" type="number" min="0" max="59" placeholder="min"
                            [(ngModel)]="shiftTimeFromMin" [ngModelOptions]="{standalone: true}"
                            onkeypress="return this.value.length < 2;" style="width: 50;">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-4">
                        <b>Shift Time To</b>
                      </div>
                      <div class="col-lg-8">
                        <div class="row">
                          &nbsp;&nbsp;&nbsp;<input class="col-md-3 col-form-control" type="number" min="00" max="23"
                            placeholder="hrs" [(ngModel)]="shiftTimeToHrs" [ngModelOptions]="{standalone: true}"
                            onkeypress="return this.value.length < 2;" style="width: 50;">&nbsp;&nbsp; : &nbsp;&nbsp;
                          <input class="col-md-3 col-form-control" type="number" min="00" max="59" placeholder="min"
                            [(ngModel)]="shiftTimeToMin" [ngModelOptions]="{standalone: true}"
                            onkeypress="return this.value.length < 2;" style="width: 50;">
                        </div>
                      </div>
                    </div>
                    <br>
                    <br><br>
                    <div class="row">
                      <div class="col-lg-4"></div>
                      <div class="col-auto">
                        <button *ngIf="!isUpdate" type="submit" class="btn btn-success" (click)="submitShiftTime()">
                          Submit</button>
                        <button *ngIf="isUpdate" type="submit" class="btn btn-warning" (click)="updateShiftTime()">
                          Update</button>
                      </div>
                      <div class="col-auto">
                        <button type="button" class="btn btn-danger" aria-label="Close" (click)="cancel()">Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>

            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <br><br>
              <div class="row">
                <div class="col-lg-12">
                  <div class="table-responsive mb-0">
                    <table class="table table-centered table-nowrap">
                      <thead class="table-light">
                        <tr>
                          <th style="text-align: left;"><b>#</b></th>
                          <th style="text-align: left;"><b> Shift Name </b></th>
                          <th style="text-align: left;"><b> Start Time</b></th>
                          <th style="text-align: left;"><b> End Time </b></th>
                          <th style="text-align: left;"><b> Created At</b></th>
                          <th style="text-align: left;"><b> Action </b></th>

                        </tr>
                      </thead>
                      <tbody *ngFor="let data of fuelShiftTimeDetailsTime; let i = index;">
                        <tr>
                          <td style="text-align: left;"> {{i + 1}} </td>
                          <td style="text-align: left;"> {{data.fuelShiftTimeShiftName}} </td>
                          <td style="text-align: left;"> {{data.fuelShiftTimeFrom}} </td>
                          <td style="text-align: left;"> {{data.fuelShiftTimeTo}} </td>
                          <td style="text-align: left;"> {{data.fuelShiftTimeCreatedBy}} </td>
                          <td style="text-align: left;">
                            <div ngbDropdown placement="bottom-left">
                              <i class="fa-solid fa-ellipsis-vertical" ngbDropdownToggle data-toggle="dropdown"
                                aria-expanded="true"></i>
                              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript: void(0);"
                                  (click)="getfuelShiftDetailById(data.fuelShiftTimeId,AddShiftName)">
                                  <i class="fas fa-edit">
                                  </i> &nbsp; Update</a>
                                <a class="dropdown-item" href="javascript: void(0);"
                                  (click)="deleteShiftTime(data.fuelShiftTimeId)">
                                  <i class="fas fa-ban" style="color: red;"></i> &nbsp; Remove</a>
                              </div>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <ng-template #AddShiftName let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="text-center">Add Shift </h4>
                  <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="shiftTimeForm">
                    <div class="row">
                      <div class="col-lg-4">
                        <b>Shift Name</b>
                      </div>
                      <div class="col-lg-8">
                        <input class="form-control" formControlName="shiftNameUpdate"
                          oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                          placeholder="entr shift name" />
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-4">
                        <b>Shift Time From</b>
                      </div>
                      <div class="col-lg-8">
                        <div class="row">
                          &nbsp;&nbsp;&nbsp;<input class="col-md-3 col-form-control" type="number" min="0" max="23"
                            placeholder="hrs" [(ngModel)]="shiftTimeFromHrs" [ngModelOptions]="{standalone: true}"
                            onkeypress="return this.value.length < 2;" style="width: 50;">&nbsp;&nbsp; : &nbsp;&nbsp;
                          <input class="col-md-3 col-form-control" type="number" min="0" max="59" placeholder="min"
                            [(ngModel)]="shiftTimeFromMin" [ngModelOptions]="{standalone: true}"
                            onkeypress="return this.value.length < 2;" style="width: 50;">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-4">
                        <b>Shift Time To</b>
                      </div>
                      <div class="col-lg-8">
                        <div class="row">
                          &nbsp;&nbsp;&nbsp;<input class="col-md-3 col-form-control" type="number" min="00" max="23"
                            placeholder="hrs" [(ngModel)]="shiftTimeToHrs" [ngModelOptions]="{standalone: true}"
                            onkeypress="return this.value.length < 2;" style="width: 50;">&nbsp;&nbsp; : &nbsp;&nbsp;
                          <input class="col-md-3 col-form-control" type="number" min="00" max="59" placeholder="min"
                            [(ngModel)]="shiftTimeToMin" [ngModelOptions]="{standalone: true}"
                            onkeypress="return this.value.length < 2;" style="width: 50;">
                        </div>
                      </div>
                    </div>
                    <br>
                    <br><br>
                    <div class="row">
                      <div class="col-lg-4"></div>
                      <div class="col-auto">
                        <button *ngIf="!isUpdate" type="submit" class="btn btn-success" (click)="submitShiftTime()">
                          Submit</button>
                        <button *ngIf="isUpdate" type="submit" class="btn btn-warning" (click)="updateShiftTime()">
                          Update</button>
                      </div>
                      <div class="col-auto">
                        <button type="button" class="btn btn-danger" aria-label="Close" (click)="cancel()">Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>