<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <div>
      <input class="form-control" type="text" (input)="onSearch()" placeholder="Search" [(ngModel)]="searchData"
        [ngModelOptions]="{standalone: true}">
      <i class="bx bx-search-alt search-icon"></i>
    </div>
  </h3>
</div>
<br><br>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder bg-light">
          <th class="min-w-125px"><b>Petrol Pump Name</b></th>
          <th class="min-w-125px"><b>All Customer Count</b></th>
          <th class="min-w-125px"><b>Active Customer Count</b></th>
          <th class="min-w-125px"><b>Manager Count</b></th>
          <th class="min-w-125px"><b>Operator Count</b></th>
          <th class="min-w-125px"><b>Digital Pos Count</b></th>
          <th class="min-w-125px"><b>Tank Count</b></th>
          <th class="min-w-125px"><b>Pump Count</b></th>
          <th class="min-w-125px"><b>Nozzle Count</b></th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody *ngFor="let data of allDealerDetails ; let i = index">
        <tr>
          <td> {{data.pumpName}} </td>
          <td> {{data.allCustCount}}
          </td>
          <td> {{data.activeCustCount}}
          </td>
          <td> {{data.managerCount}}
          </td>
          <td> {{data.operatorCount}}
          </td>
          <td> {{data.posCount}} </td>
          <td> {{data.tankCount}} </td>
          <td> {{data.pumpCount}} </td>
          <td> {{data.nzCount}} </td>
        </tr>

      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->