<!-- begin::Header -->
<div class="card-body py-3">

    <div class="row">
        <form [formGroup]="filterForm">
            <div class="row">
                <label for="example-text-input" class="col-auto col-form-label">Date Range</label>
                <div class="col-md-2">
                    <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;"
                        name="startDate" ngbTooltip="Start Date" (click)="startDate.toggle()" ngbDatepicker
                        #startDate="ngbDatepicker" formControlName="startDate">
                </div>
                <div class="col-md-2">
                    <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;"
                        name="endDate" ngbTooltip="End Date" (click)="endDate.toggle()" ngbDatepicker
                        #endDate="ngbDatepicker" formControlName="endDate">
                </div>

                <label for="example-text-input" class="col-auto col-form-label">Select Dealer Type</label>
                <div class="col-md-3">
                    <select class="form-control" formControlName="demoDealer" required>
                        <option value="">select Dealer Type</option>
                        <option value="TRUE">Demo Dealer</option>
                        <option value="FALSE">Actual Dealer</option>

                    </select>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 30px"
                        (click)="getPrimeDealerDetails()">
                        Submit
                    </button>
                    &nbsp;&nbsp;

                    <button type="submit" class="btn btn-secondary" style="margin-bottom: 30px"
                        (click)="clearPrimeDealerDetails()">
                        Cancel
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                            <input class="form-control" type="text" (input)="onSearch()" placeholder="Search" [(ngModel)]="searchData"
                                [ngModelOptions]="{standalone: true}">
                            <i class="bx bx-search-alt search-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bolder px-4 me-1"
                        (click)="exportExcel()">
                        CSV
                    </a>
                </div>
            </div>

        </form>
    </div>

    <div class="table-responsive mb-0">
        <table class="table table-centered">
            <thead class="table-light">
                <tr class="fw-bolder text-muted bg-light">
                    <th> </th>
                    <th>Veels ID</th>
                    <th>Mapped Date</th>
                    <th>Company Name</th>
                    <th>Oil Company</th>
                    <th>Owner Name</th>
                    <th>Contact Number</th>
                    <th>Action</th>
                    <th>Tax Invoice</th>
                </tr>
            </thead>
            <tbody
                *ngFor="let data of primeDealerData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; let i = index">
                <tr>
                    <td style="cursor: pointer;">
                        <a class="expand-row" (click)="changeValue(i,data.GSTNumber,data.onBoardingStatus, data.payCorpStatus, data.corporateId, 
                        data.userId, data.personId, data.accessGroupId, data.isSMS,data.isEmail, data.demoDealer, data.fuelDealerId, 
                        data.fueldealerCreditSMS, data.email1, data.pin, data.city, data.state)"
                            style="font-size: 19px;">
                            +
                        </a>
                    </td>
                    <td> {{ data.FuelVeelsId }} </td>
                    <td> {{ data.customerCreatedAt | date:"d MMM, yyyy" }} </td>
                    <td> {{ data.companyName }} </td>
                    <td> {{ data.brandName }} </td>
                    <td> {{ data.hostName }} </td>
                    <td> {{ data.hostPhone }} </td>
                    <td style="text-align: center;cursor: pointer;">
                        <!-- <div ngbDropdown placement="bottom-left">
                            <i class="fa-solid fa-ellipsis-vertical" ngbDropdownToggle
                                data-toggle="dropdown" aria-expanded="true"></i>
                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript: void(0);"
                                    [routerLink]="['/admin/customerDetailsEdit', data.customerId]">
                                    <i class="fas fa-edit" style="color: #4e9b4e;">
                                    </i> &nbsp; Edit</a>
                            </div>
                        </div> -->
                    </td>

                    <td>
                        <div *ngIf="data.taxInvoiceStatus == 'TRUE'">
                            <label class="switch">
                                <input type="checkbox" [checked]="true"
                                    (change)="taxInvoiceEnable($event, data.fuelDealerId, 'FALSE')">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div *ngIf="data.taxInvoiceStatus == 'FALSE'">
                            <label class="switch">
                                <input type="checkbox" [checked]="false"
                                    (change)="taxInvoiceEnable($event, data.fuelDealerId, 'TRUE')">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="show  && i == rowNumber" class="sub-table no-bg">
                    <td> </td>
                    <td colspan="12" class="p-0">
                        <table class="table mb-0 table-striped">
                            <thead class="table-light">

                            </thead>
                            <tbody>
                                <tr class="fw-bolder text-muted bg-light">
                                    <th>Email Id</th>
                                    <th>GST</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>PIN Code</th>
                                    <th>Onboarding Status</th>

                                </tr>
                                <tr>
                                    <td>{{data.email1}}</td>
                                    <td>{{data.GSTNumber}}</td>
                                    <td>{{data.city}}</td>
                                    <td>{{data.state}}</td>
                                    <td>{{data.pin}}</td>
                                    <td> {{data.onBoardingStatus}} </td>
                                </tr>

                                <tr class="fw-bolder text-muted bg-light">
                                    <th>Offline Payment</th>
                                    <th>Waive Off Status</th>
                                    <th>SMS Status</th>
                                    <th>Email Status</th>
                                    <th>Active Pump</th>
                                    <th>CR SMS</th>

                                </tr>
                                <tr>
                                    <td class="width-50">
                                        <div *ngIf="data.payCorpStatus =='waiveOff' && data.payCorpStatus!='paid' ">
                                            <button class="btn btn-sm btn-info"
                                                (click)="updatePayment(update, data.corporateId, data.userId, data.personId, data.accessGroupId)">
                                                Click Here
                                            </button>
                                        </div>
                                    </td>
                                    <td class="width-50 ico-btn">
                                        <div *ngIf="data.payCorpStatus == 'waiveOff' && data.payCorpStatus!='paid' ">
                                            <label class="switch">
                                                <input type="checkbox" checked="checked"
                                                    (change)="waiveOffPaymentEnable($event, data.corporateId, data.userId, data.payCorpStatus)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div *ngIf="data.payCorpStatus !='waiveOff' && data.payCorpStatus!='paid' ">
                                            <label class="switch">
                                                <input type="checkbox" [checked]="waive"
                                                    (change)="waiveOffPaymentEnable($event, data.corporateId, data.userId, data.payCorpStatus)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>

                                    <td>
                                        <div *ngIf="data.isSMS == 'FALSE'">
                                            <label class="switch">
                                                <input type="checkbox" checked="checked"
                                                    (change)="smsEnable($event, data.corporateId, data.userId, data.isSMS)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div *ngIf="data.isSMS =='TRUE'">
                                            <label class="switch">
                                                <input type="checkbox" [checked]="waive"
                                                    (change)="smsEnable($event, data.corporateId, data.userId, data.isSMS)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>

                                        <div *ngIf="data.isEmail == 'FALSE'">
                                            <label class="switch">
                                                <input type="checkbox" checked="checked"
                                                    (change)="emailEnable($event, data.corporateId, data.userId, data.isEmail, data.accessGroupId)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div *ngIf="data.isEmail =='TRUE'">
                                            <label class="switch">
                                                <input type="checkbox" [checked]="waive"
                                                    (change)="emailEnable($event, data.corporateId, data.userId, data.isEmail, data.accessGroupId)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="data.demoDealer == 'FALSE'">
                                            <label class="switch">
                                                <input type="checkbox" checked="checked"
                                                    (change)="demoDealerActive($event, data.fuelDealerId, data.demoDealer)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div *ngIf="data.demoDealer =='TRUE'">
                                            <label class="switch">
                                                <input type="checkbox" [checked]="waive"
                                                    (change)="demoDealerActive($event, data.fuelDealerId, data.demoDealer)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="data.fueldealerCreditSMS == 'FALSE'">
                                            <label class="switch">
                                                <input type="checkbox" checked="checked"
                                                    (change)="crSMSActive($event, data.fuelDealerId, data.fueldealerCreditSMS)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div *ngIf="data.fueldealerCreditSMS =='TRUE'">
                                            <label class="switch">
                                                <input type="checkbox" [checked]="waive"
                                                    (change)="crSMSActive($event, data.fuelDealerId, data.fueldealerCreditSMS)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>

                                <ng-template #update let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            <strong>
                                                &nbsp;&nbsp;&nbsp;
                                                Update Payment</strong>
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="paymentForm">
                                            <div class="mb-1 row">
                                                <div class="col-md-5">
                                                    <label class="labelNewMargin">Select Payment Method
                                                    </label>
                                                </div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-6">
                                                    <select class="form-control" formControlName="paymentMethod"
                                                        required>
                                                        <option value="">Select Payment Method</option>
                                                        <option value="CHEQUE">CHEQUE</option>
                                                        <option value="CASH">CASH</option>
                                                        <option value="CARD">CARD</option>
                                                        <option value="NET BANKING">NET BANKING</option>
                                                        <option value="UPI">UPI</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="mb-1 row">
                                                <div class="col-md-5">
                                                    <label class="labelNewMargin">Transaction/Cheque
                                                        Number </label>
                                                </div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-6">
                                                    <input class="form-control" formControlName="paymentTransactionNo"
                                                        style="font-size: 0.750rem; padding-top: 10px"
                                                        placeholder="Transaction/Cheque Number">
                                                </div>
                                            </div>

                                            <div class="mb-1 row">
                                                <div class="col-md-5">
                                                    <label class="labelNewMargin">Transaction
                                                        Date</label>
                                                </div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-6">
                                                    <input class="form-control" placeholder="DD-MM-YYYY"
                                                        name="startDate" (click)="startDate.toggle()" ngbDatepicker
                                                        #startDate="ngbDatepicker" formControlName="paymentDate"
                                                        style="font-size: 0.750rem;" placeholder="Select Payment Date"
                                                        readonly style="background-color: #ffffff;">
                                                </div>
                                            </div>

                                            <div class="mb-1 row">
                                                <div class="col-md-5">
                                                    <label class="labelNewMargin">Payment Amount
                                                    </label>
                                                </div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-6">
                                                    {{remainingTotalAmt | number:'1.2-2'}}
                                                </div>
                                            </div>

                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                                                        (click)="addOffLinePayment()">Update
                                                    </button>
                                                </div>
                                                &nbsp;&nbsp;
                                                <div class="col-md-2">
                                                    <button type="submit" class="btn btn-danger"
                                                        (click)="d('Cross click')">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </ng-template>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- begin::Pagination -->
        <pagination-controls (pageChange)="pageChangeEvent($event)" previousLabel="" nextLabel=""
            style="text-align: end; font-size: x-large; font-family: 'Font Awesome 6 Free'; font-style: oblique;">
        </pagination-controls>
        <!-- end::Pagination -->
    </div>
</div>