<!-- begin::Header -->
<div class="card-body py-3">

    <div class="row">
        <form [formGroup]="filterForm">

            <div class="row">
                <div class="col-md-3">
                    <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                            <input class="form-control" type="text"  placeholder="Search"
                                [(ngModel)]="searchData" [ngModelOptions]="{standalone: true}">
                            <i class="bx bx-search-alt search-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>