<style>
  .table{
    thead{
        th{
            text-align: left;
        }
    }
    td{
        text-align: left;

    }
}
</style>

<form [formGroup]="filterCustomerList">
  <div class="row">
    <div class="col-md-3">
      <div class="search-box me-2 mb-2 d-inline-block">
        <div class="position-relative">
          <input class="form-control mr-sm-4" type="text" placeholder="search" [formControl]="searchBoxAllCustomerList"
            aria-label="Search" (click)="searchAllCustomerList1()">
          <i class="bx bx-search-alt search-icon"></i>
        </div>
      </div>
    </div>
    <label for="example-text-input" class="col-auto col-form-label">Date Range</label>
    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;" name="startDate"
        ngbTooltip="Start Date" (click)="startDate.toggle()" ngbDatepicker #startDate="ngbDatepicker"
        formControlName="startDate">
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;" name="endDate"
        ngbTooltip="End Date" (click)="endDate.toggle()" ngbDatepicker #endDate="ngbDatepicker"
        formControlName="endDate">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="getAllCustomerListByDateRange()">
        Submit
      </button>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-secondary" (click)="clearFilterAllCustomerList()">
        Cancel
      </button>
    </div>
    <div class="col-auto" style="margin-top: -1px;">
      <a class="
      nav-link
      btn btn-sm btn-color-muted btn-active btn-active-light-primary
      fw-bolder
      px-4
      me-1
    " data-bs-toggle="tab" [ngClass]="activeClass('kt_advance-tables_widget_1_tab_1')"
          (click)="exportToExcelAllCustomerList()">
          CSV
      </a>
    </div>
  </div>
  <br>
</form>
<div class="table-responsive mb-0">
  <table class="table table-centered">
    <thead class="table-light">
      <tr>
        <th style="text-align: left;"> Created At </th>
        <th style="text-align: left;"> Owner Name </th>
        <th style="text-align: left;"> Contact Number </th>
        <th style="text-align: left;"> Email Id </th>
        <th style="text-align: left;"> Owned Vehicle Count </th>
        <th style="text-align: left;"> Action </th>
        <th style="text-align: left;"> Created By </th>
      </tr>
    </thead>
    <tbody *ngFor="let data of getVishUserCustList2; let i = index">
      <tr>
        <td>{{data.vishUserCreatedAt | date:"d MMM, yyyy"}}</td>
        <td> {{data.vishUserFirstName}} {{data.vishUserLastName}} </td>
        <td> {{data.vishUserMobile}} </td>
        <td> {{data.vishUserMail}} </td>
        <td style="color: blue;" [routerLink]="['/new_Viswasa/ftVehicle', data.vishUserId]"> {{data.vehicleSum}}
        </td>
        <td style="text-align: left;cursor: pointer;">
          <div ngbDropdown placement="bottom-left">
            <i class="fa-solid fa-ellipsis-vertical" ngbDropdownToggle data-toggle="dropdown" aria-expanded="true"></i>
            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              <a class="dropdown-item" href="javascript: void(0);"
                (click)="updateVyanaModal(contentOnBoard,data.vishUserId,data.veelsUserId)">
                &nbsp;&nbsp; Update Credit AccountInfo</a>
              <a class="dropdown-item" href="javascript: void(0);"
                (click)="viewCreditStatusModal(creditStatusModal,data.vayanaUId)">
                &nbsp;&nbsp; Check Credit Status</a>
              <a class="dropdown-item" href="javascript: void(0);"
                (click)="vendorOnboardingModal(vendorOnboarding,data.vishUserId,data.vayanaUId,data.vayanaVId)">
                &nbsp;&nbsp; vendorOnboarding</a>
            </div>
          </div>
        </td>
        <td> {{data.vishUserCreatedBy}} </td>
      </tr>
    </tbody>
  </table>

  <ng-template #contentOnBoard let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" style="text-align: center;">
        <label>
          <h4><strong>
              Update VID and UID </strong></h4>
        </label>
      </h4>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <span> UID :
            <input class="form-control" placeholder="UID" [(ngModel)]="veelsUserId"
              [ngModelOptions]="{standalone: true}" readonly></span>
        </div>
        <div class="col-md-6">
          <span> VID :
            <input class="form-control" placeholder="VID" [(ngModel)]="vid" [ngModelOptions]="{standalone: true}"
              readonly>
          </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          Account Number :
          <input class="form-control" placeholder="Account Number" [(ngModel)]="accountNumber"
            [ngModelOptions]="{standalone: true}" (change)="inputToVid()">
        </div>
        <div class="col-md-4">
          Beneficiary Name :
          <input class="form-control" placeholder="Beneficiary Name" [(ngModel)]="beneficiaryName"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-md-4">
          IFSC Code :
          <input class="form-control" placeholder="IFSC Code" [(ngModel)]="ifscCode"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-1">
          <button type="button" class="btn btn-success" aria-label="Close"
            (click)="updateVyanaByVistUserId()">Add</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
            Cancel
          </button>
        </div>
      </div>
      <br>
      <hr>
      <div class="table-responsive mb-0">
        <table class="table table-centered">
          <thead class="table-light">
            <tr>
              <th style="text-align: left;"> Created At </th>
              <th style="text-align: left;"> VID </th>
              <th style="text-align: left;"> Account Number </th>
              <th style="text-align: left;"> Beneficiary Name </th>
              <th style="text-align: left;"> IFSC Code </th>
            </tr>
          </thead>
          <tbody *ngFor="let data of vendorDetails; let i = index">
            <tr>
              <td>{{data.vendorDetailsCreatedAt | date:"d MMM, yyyy"}} </td>
              <td>{{data.vendorDetailsVID}} </td>
              <td>{{data.vendorVyanaAccountNumber}} </td>
              <td>{{data.vendorVyanaBeneficiaryName}} </td>
              <td>{{data.vendorVyanaIfscCode}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
  <ng-template #creditStatusModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" style="text-align: center;">
        <label>
          <h4><strong>
              view credit Info </strong></h4>
        </label>
      </h4>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-2">Available Limit</div>
        <div class="col-md-2">:</div>
        <div class="col-md-8">{{userCrInfo.AvailableLimit}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">Total Outstanding</div>
        <div class="col-md-2">:</div>
        <div class="col-md-8">
          {{userCrInfo.TotalOutstanding}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">TotalLimit</div>
        <div class="col-md-2">:</div>
        <div class="col-md-8">
          {{userCrInfo.TotalLimit}}
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #vendorOnboarding let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" style="text-align: center;">
        <label>
          <h4><strong> Add Vendor </strong></h4>
        </label>
      </h4>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let data of vendorDetails">
        <div class="row">
          <div class="col-md-1">Name</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="Name" [(ngModel)]="data.vendorVyanaBeneficiaryName"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-1">Account Name</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="account name" [(ngModel)]="data.vendorVyanaAccountName"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-1">Account Number</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="account number" [(ngModel)]="data.vendorVyanaAccountNumber"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1">IFSC</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="ifsc" [(ngModel)]="data.vendorVyanaIfscCode"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-1">Pan</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="pan" [(ngModel)]="data.vendorDetailsPan"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-1">GST IN</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="gstIn" [(ngModel)]="data.vendorDetailsGST"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1">Email</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="email" [(ngModel)]="data.vendorDetailsEmail"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-1">Phone</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="phone" [(ngModel)]="data.vendorDetailsPhone"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-1">Address</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="address" [(ngModel)]="data.vendorDetailsAddress"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1">City</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="city" [(ngModel)]="data.vendorDetailsCity"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-1">Zipcode</div>
          <div class="col-md-1">:</div>
          <div class="col-md-2">
            <input class="form-control" placeholder="zipcode" [(ngModel)]="data.vendorDetailsZipCode"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <hr>
        <br>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success" aria-label="Close"
              (click)="addVendorOnboarding(data)">Add</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
              Cancel
            </button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </ng-template>

</div>