<div class="row mb-2" *ngIf="viewSetUpTank">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-8">
    <div class="text-sm-end">
      <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="viewSetUpTankTable()">
        + Tank
      </button>
    </div>
  </div>
</div>

<div class="row mb-2" *ngIf="!viewSetUpTank">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-8">
    <div class="text-sm-end">
      <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="viewSetUpTankTable()">
        View Tank
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="!viewSetUpTank">
  <div class="col-sm-12">
    <div class="table-responsive mb-0">
      <table class="table table-centered table-nowrap">
        <thead>
          <tr>
            <th style="text-align: center;"><b>Sr. No.</b></th>
            <th style="text-align: center;"><b>Tank</b></th>
            <th style="text-align: center;"><b>Volume</b></th>
            <th style="text-align: center;"><b>Product</b></th>
            <th style="text-align: center;"><b>Action</b></th>
          </tr>
        </thead>
        <tbody *ngFor="let charges of setTankData; let i = index;">
          <tr>
            <td style="text-align: center;">{{i+1}}</td>
            <td style="text-align: center;">
              <select class="form-control" style="color: #9EA79E;" [(ngModel)]="charges.tank"
                [ngModelOptions]="{standalone: true}" (blur)="setTankNo(i)">
                <option value="">Select Tank</option>
                <option value="tank1">Tank01</option>
                <option value="tank2">Tank02</option>
                <option value="tank3">Tank03</option>
                <option value="tank4">Tank04</option>
                <option value="tank5">Tank05</option>
                <option value="tank6">Tank06</option>
                <option value="tank7">Tank07</option>
                <option value="tank8">Tank08</option>
                <option value="tank9">Tank09</option>
                <option value="tank10">Tank10</option>
                <option value="tank11">Tank11</option>
                <option value="tank12">Tank12</option>
                <option value="tank13">Tank13</option>
                <option value="tank14">Tank14</option>
                <option value="tank15">Tank15</option>
                <option value="tank16">Tank16</option>
                <option value="tank17">Tank17</option>
                <option value="tank18">Tank18</option>
                <option value="tank19">Tank19</option>
                <option value="tank20">Tank20</option>
              </select>

            </td>

            <td style="text-align: center;">
              <input type="number" class="form-control" [(ngModel)]="charges.volume"
                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                [ngModelOptions]="{standalone: true}" placeholder="Enter volume" (blur)="setvolume()" />
            </td>
            <td style="text-align: center;">

              <select class="form-control" style="color: #9EA79E;" [(ngModel)]="charges.product"
                [ngModelOptions]="{standalone: true}" (blur)="setproductName()">
                <option value="">Select Product</option>
                <option *ngFor="let product of allProduct.data; let i = index" value="{{product.fuelProductsId}}">
                  {{product.productName}}
                </option>

              </select>
            </td>


            <td style="text-align: center;">&nbsp;
              <button type="submit" class="btn btn-success" (click)="validateSetupTankForm(i)">
                Add
              </button>
              &nbsp;&nbsp;
              <button *ngIf="i != 0 " type="cancel" class="btn btn-primary" (click)="removeSetTank(i)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="col col-xl-4 col-lg-12">
      <button type="submit" class="btn btn-primary" (click)="submitTankDetailForAll()">Submit
      </button>
      &nbsp; &nbsp;&nbsp;
      <button type="submit" class="btn btn-secondary" (click)="cancelTankDetailForAll()">Cancel
      </button>
    </div>

  </div>
</div>


<div class="row" *ngIf="viewSetUpTank">
  <div class="col-sm-12">
    <div class="table-responsive mb-0">
      <table class="table table-centered table-nowrap">
        <thead>
          <tr>
            <th style="text-align: center;"><b>Sr. No.</b></th>
            <th style="text-align: center;"><b>Tank</b></th>
            <th style="text-align: center;"><b>Volume</b></th>
            <th style="text-align: center;"><b>Product</b></th>
          </tr>
        </thead>
        <tbody *ngFor="let data of allTankDetails.data  ; let i = index">

          <tr>
            <td style="text-align: center;"> {{i+1}} </td>
            <td style="text-align: center;"> {{data.tankNo | titlecase }} </td>
            <td style="text-align: center;"> {{data.tankVolume}} </td>
            <td style="text-align: center;"> {{data.productName}} </td>

          </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>