<!-- begin::Body -->
<div class="card-body" *ngIf="accessGroup != '7'">

  <form [formGroup]="requestTransporterLubeTax">

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <label class="labelNewMargin"><b>Date</b>:</label>
      </div>
      <div class="col-md-2">
        <input class="form-control" placeholder="DD-MM-YYYY" name="startDate" (click)="endDate.toggle()"
          onkeydown="return false" formControlName="estimatedRefuelDate" ngbDatepicker #endDate="ngbDatepicker">
      </div>

      <div class="col-md-4">
        <label class="labelNewMargin"><b>Product</b>: &nbsp; Lubricants</label>
      </div>

    </div>
    <br>
    <ng-template #viewFlagModel let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="text-center">
          Show Details
        </h4>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th align=left>Date Of Alert</th>
              <th align=left>Petrol Pump Name</th>
              <th align=left>City</th>
              <th align=left>Remarks</th>
            </tr>
          </thead>
          <tbody *ngFor="let charges of viewCorpFlag; let i = index;">
            <tr>
              <td>{{charges.corporateFlagCreatedAt| date:'d MMM, yyyy'}}</td>
              <td><b> {{charges.companyName}}</b> <br>
                {{charges.firstName}} {{charges.lastName}} <br>
                {{charges.phone1}}</td>
              <td>{{charges.city}}</td>

              <td>{{charges.corporateFlagPurpose}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </ng-template>
    <br>
    <form [formGroup]="requestTransporter1">

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
          <label class="labelNewMargin"><b>Customer</b> </label>
        </div>

        <div class="col-md-4">
          <input class="form-control" type="text" list="corporateList" placeholder="Select Customer"
            formControlName="selectedCorp" (change)="getDetailsByfuelDealerCustomerMapIdId($event)">
          <datalist id="corporateList">
            <option *ngFor="let data of corporateList" [value]="data.companyName">
          </datalist>
        </div>
      </div>
      <br>

      <div class="row" *ngIf="isSelected1">
        <div class="col-lg-12">
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap" style="border-collapse: collapse; border: 1px solid black;">
              <thead>
                <tr>
                  <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Khata Name</b></th>
                  <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Key Person Name</b></th>
                  <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Key Person Mobile</b></th>
                  <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Bill Nos. Set</b></th>
                  <th style="text-align: center;border-width: 1px; border-color: #000;"><b>GST</b></th>
                  <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Alert</b></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center; border: 1px solid black;">{{dealerName}}</td>
                  <td style="text-align: center; border: 1px solid black;">
                    {{personName}}
                  </td>
                  <td style="text-align: center; border: 1px solid black;"> {{personPhone1}} </td>
                  <td style="text-align: center; border: 1px solid black;">
                    {{rangeFrom}} - {{rangeTo}}
                  </td>
                  <td style="text-align: center; border: 1px solid black;">
                    <span *ngIf=" gstNumber != 'undefined'">
                      <b *ngIf="gstNumber !='' ">{{gstNumber}}</b></span>
                    <!-- <span *ngIf="fuelStaffAccess.outstanding == 'TRUE'">
                      <button *ngIf="gstNumber =='' || gstNumber == 'undefined'" type="submit" class="btn btn-success"
                        (click)="updateName(editName)">Set GST</button>
                    </span> -->
                  </td>

                  <td style="text-align: center; border: 1px solid black;">
                    <span *ngIf="viewCorpFlag.length" class="col-md-1" (click)="viewFlag(viewFlagModel)"
                      style="color:red;cursor:pointer;font-size: x-large;">
                      <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                    </span>
                    <span *ngIf="!viewCorpFlag.length" class="col-md-1">
                      None
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <ng-template #editName let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">
            <strong>
              &nbsp;&nbsp;&nbsp;
              Update </strong>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <label class="labelNewMargin">GST Number :</label>
            </div>
            <div class="col-md-6">
              <input class="form-control" max="15"
                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                [(ngModel)]="updateGST" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary" (click)="updateNameByMapId()">Update</button>
            </div>&nbsp;&nbsp;
            <div class="col-md-2">
              <button type="submit" class="btn btn-secondary" (click)="closeModalUpdate()">Close</button>
            </div>
          </div>

        </div>
      </ng-template>

    </form>

    <div class="row">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col col-xl-12 col-lg-12">
        <div class="card-body table-responsive">
          <table class="table table-hover table-striped">
            <tbody *ngFor="let charges of CreditRequestDataLubeTax; let i = index;">
              <tr>
                <th align=left><b>Lubricant Name</b></th>

                <th align=left><b>Tax</b></th>
                <th align=left><b>taxDetails</b></th>
                <th align=left><b>Bill / Ref Number</b></th>
                <th align=left><b>Vehicle No./ Barrel</b></th>
                <th align=left><b>Credit Amount</b></th>
                <th align=left><b>Quantity In Pieces</b></th>
                <th align=left><b>Credit Quantity</b></th>
              </tr>
              <tr>
                <td>
                  <select class="form-control" [(ngModel)]="charges.lubeId" [ngModelOptions]="{standalone: true}"
                    (change)="getLubeDetails($event,i)" required>
                    <option value="">Select Lubricant </option>
                    <option *ngFor="let data of lubricantList" [value]="data.lubricantsId">
                      {{data.lubricantsName}}
                    </option>
                  </select>
                </td>

                <td>
                  <select class="form-control" [(ngModel)]="charges.gst" [ngModelOptions]="{standalone: true}"
                    (blur)="gstCalculation1(i)" required>
                    <option value="">Select Tax </option>
                    <option *ngFor="let data of gstDetails" [value]="data.gst">
                      GST {{data.gst}} %
                    </option>
                  </select>
                </td>

                <td>
                  <select class="form-control" [(ngModel)]="charges.taxDetails" [ngModelOptions]="{standalone: true}"
                    (blur)="gstCalculation1(i)" required>
                    <option value="INCLUDE"> Include Tax Amt </option>
                    <option value="EXCLUDE"> Not Include Tax Amt </option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="charges.manualNumberLube"
                    [ngModelOptions]="{standalone: true}" placeholder="Enter Bill / Ref Number"
                    (blur)="setManualNumberLubeTax(i)" />
                </td>

                <td>
                  <input type="text" class="form-control" [(ngModel)]="charges.vehicleNumberLube"
                    oninput=";this.value=this.value.toUpperCase();"
                    [ngModelOptions]="{standalone: true}" placeholder="Enter vehicle no./ barrel"
                    (blur)="setVehicleNumberLube()" />
                </td>

                <td>
                  <input type="number" class="form-control" [(ngModel)]="charges.creditAmountLube"
                    [ngModelOptions]="{standalone: true}" placeholder="Enter Credit Amount"
                    (blur)="gstCalculation1(i)" />
                </td>

                <td>
                  <input type="number" class="form-control" [(ngModel)]="charges.quantityInPieces"
                    [ngModelOptions]="{standalone: true}" placeholder="Enter Quantity Pieces"
                    (input)="getQuantityByPieces(i)" />
                </td>
                <td>
                  <input type="number" class="form-control" [(ngModel)]="charges.creditQuantityLube"
                    [ngModelOptions]="{standalone: true}" placeholder="Enter Credit Quantity"
                    (blur)="setQuantityLubeTax()" />
                </td>

              </tr>

              <tr>
                <th align=left><b>HSN/SAC Number</b></th>
                <th align=left><b>Tax</b></th>
                <th align=left><b>Basic Amount</b></th>
                <th align=left><b>Actual Amount</b></th>
                <th align=left><b>Units</b></th>
                <th align=center style="text-align: center;"><b>Action</b></th>

              </tr>
              <tr>
                <td>
                  <input class="form-control" placeholder="HSN/SAC Number" [(ngModel)]="charges.hsnSacNumber"
                    [ngModelOptions]="{standalone: true}" disabled>
                </td>

                <td>
                  <input type="number" class="form-control" [(ngModel)]="charges.gstAmount"
                    [ngModelOptions]="{standalone: true}" placeholder="Enter Tax" disabled />
                </td>

                <td>
                  <input type="number" class="form-control" [(ngModel)]="charges.totalWOGSTAmount"
                    [ngModelOptions]="{standalone: true}" placeholder="GST Amount" disabled />
                </td>

                <td>
                  <input type="number" class="form-control" [(ngModel)]="charges.totalAmount"
                    [ngModelOptions]="{standalone: true}" placeholder="GST Amount" disabled />
                </td>

                <td>
                  <input type="text" class="form-control" [(ngModel)]="charges.unitLube"
                    [ngModelOptions]="{standalone: true}" placeholder="Enter Credit unit" disabled />

                </td>
                <td style="text-align: center;">
                  <button type="submit" class="btn btn-success" (click)="addFormRequestLubeTax()"> &nbsp; Add &nbsp;
                  </button>


                </td>
                <td>
                  <button *ngIf="i != 0 " type="cancel" class="btn btn-primary" (click)="removeFormRequestLubeTax(i)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>

  </form>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-primary" (click)="submitByDealerForLubeTax()">Submit</button>
    </div>&nbsp;&nbsp;
    <div class="col-md-2">
      <button type="submit" class="btn btn-secondary">Cancel</button>
    </div>
  </div>

</div>
<!-- end::Body -->