<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0">
    <div class="d-flex flex-wrap flex-sm-nowrap mb-3">

      <div class="card-toolbar col-lg-6" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
        title="Click to add Previous O/S">
        <a (click)="openModal()" class="btn btn-sm btn-light-primary"  style="width: 250px;">
          <app-keenicon name="plus" class="fs-3"></app-keenicon>
          Add Previous Outstanding
        </a>
        <app-modal2 #modal [modalConfig]="modalConfig">
          Modal body html
        </app-modal2>
      </div>
      <br>
      
      <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
        title="Click to add Vehicle">
        <a (click)="openModal()" class="btn btn-sm btn-light-primary">
          <app-keenicon name="plus" class="fs-3"></app-keenicon>
          Add Vehicle
        </a>
        <!-- <app-modal2 #modal [modalConfig]="modalConfig">
          Modal body html
        </app-modal2> -->
      </div>

    </div>
  </div>
</div>