<br>
<form [formGroup]="filterForm">
  <div class="mb-3 row">
    <label for="example-text-input" class="col-auto col-form-label">Khata</label>
    <div class="col-md-3">
      <input class="form-control" type="text" list="allCorporateList" placeholder="all khata"
        formControlName="customerName" (change)="getDetailsByCustomerMapName($event)">
      <datalist id="allCorporateList">
        <option *ngFor="let data of allCorporateList" [value]="data.companyName">
      </datalist>
    </div>

    <label for="example-text-input" class="col-auto col-form-label">Date Range</label>
    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;" name="startDate"
        ngbTooltip="Start Date" (click)="startDate.toggle()" ngbDatepicker #startDate="ngbDatepicker"
        formControlName="startDate">
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;" name="endDate"
        ngbTooltip="End Date" (click)="endDate.toggle()" ngbDatepicker #endDate="ngbDatepicker"
        formControlName="endDate">
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-md btn-primary" (click)="getTransaction()">
        view
      </button>
    </div>
    <div class="col-md-1"></div>
    <div class="col-auto">
      <span style="font-size: 35px;cursor: pointer;" ngbTooltip="Download PDF" placement="bottom"
        (click)="exportToPDF()"><i class="fas fa-file-pdf" style="font-size: 30px;"></i></span>
    </div>
    <div class="col-auto">
      <span style="font-size: 35px;cursor: pointer;" ngbTooltip="Download Excel" placement="bottom"
        (click)="exportexcel()"><i class="fas fa-file-csv" style="font-size: 30px;"></i></span>
    </div>
  </div>
</form>

<div class="table-responsive">            
  <table class="table table-hover b">
      
      <thead class="table-light">
          <tr>
              <th style="text-align: center"><b> Transaction date</b></th>
              <th style="text-align: center"><b> Khata name</b></th>     
              <th style="text-align: center"><b> Details </b></th>
              <th style="text-align: center"><b> Product </b></th>
              <th style="text-align: center"><b> Sales Quantity </b></th>
              <th style="text-align: center"><b> Sales Amount </b></th>
              <th style="text-align: center"><b> Payment Amount </b></th>
              <th style="text-align: center"><b> Balance </b></th>
          </tr>
      </thead>
      <tbody *ngFor="let data of transactionData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; let i = index">
          <tr>
              <td style="text-align: center" >    
              <span *ngIf = "data.date == '2022-01-01' ">
                  1 Jan, 2022
              </span>
              <span *ngIf = "data.date != '2022-01-01' ">
                  {{data.date | date:"d MMM, yyyy" }} 
              </span> 
              </td> 
              <td style="text-align: center" > {{ data.companyName }} </td>
              <td style="text-align: center"> {{ data.description }} </td>
              <td style="text-align: center"> {{ data.product }} </td>
              <td style="text-align: center" *ngIf="data.purpose == 'CREDIT'">
                {{ data.quantity }} Ltrs
              </td>
              <td style="text-align: center" *ngIf="data.purpose != 'CREDIT'">
                
              </td>

              <td style="text-align: center">  <i class="fa-solid fa-indian-rupee-sign"></i>
                {{ data.purchase | number:'1.2-2'}} 
              </td>
              <td style="text-align: center">  <i class="fa-solid fa-indian-rupee-sign"></i>
                {{ data.payment | number:'1.2-2'}} 
              </td>

              <td style="text-align: center"> 
                 <i class="fa-solid fa-indian-rupee-sign"></i>
                <span *ngIf="data.balance < 0">
                  {{ data.balance * (-1) | number:'1.2-2'}} CR
                </span> 
                <span *ngIf="data.balance >= 0">
                  {{ data.balance | number:'1.2-2'}}
                </span>
                 </td>

          </tr>
      </tbody>
  </table>
    
  <!-- begin::Pagination -->
  <pagination-controls (pageChange)="pageChangeEvent($event)" previousLabel="" nextLabel=""
    style="text-align: end; font-size: x-large; font-family: 'Font Awesome 6 Free'; font-style: oblique;">
  </pagination-controls>
  <!-- end::Pagination -->
</div>   