
<!DOCTYPE html
  PUBLIC "-//W3C//Dth XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/Dth/xhtml1-transitional.dth">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

  <title>Editable Statement</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script type='text/javascript' src='../../../../../../assets/EditableInvoice/js/jquery-1.3.2.min1.js'></script>
  <script type='text/javascript' src='../../../../../../assets/EditableInvoice/js/example1.js'></script>
  <style>
    .A4 {
    background: white;
    width: 23cm;
    height: 40.7cm;
    display: block;
    margin: 0 auto;
    padding: 1px 1px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    
    box-sizing: border-box;
    font-size: 12pt;
    /* //line-height:normal; */
  }
  
  @media print {
    .page-break {
      display: block;
      page-break-before: always;
    
    size: A4 portrait;}
  }
  
  @media print {
    body {
      margin: 0;
      padding: 0;
      /* -webkit-print-color-adjust: exact; */
    }
    .A4 {
      box-shadow: none;
      margin: 0;
      width: auto;
      height: auto;
    }
    .noprint {
      display: none;
    }
    .print {
      display: block;
    }
  }
  </style>
  
</head>

<body id="contentToConvert">
  <div class="container-fluid">
    <div id="page-wrap">
      <div class="row noprint">
        <div class="col-auto"><b>Select Month:</b></div>
        <div class="col-md-2">
          <select class="form-select" [(ngModel)]="month" [ngModelOptions]="{standalone: true}"
            (change)="selectMonth($event)">
            <option value="">Select Month</option>
            <option value="Jan">Jan</option>
            <option value="Feb">Feb</option>
            <option value="Mar">Mar</option>
            <option value="Apr">Apr</option>
            <option value="May">May</option>
            <option value="Jun">Jun</option>
            <option value="Jul">Jul</option>
            <option value="Aug">Aug</option>
            <option value="Sep">Sep</option>
            <option value="Oct">Oct</option>
            <option value="Nov">Nov</option>
            <option value="Dec">Dec</option>
          </select>
        </div>
        <div class="col-auto"><b>Select Year:</b></div>
        <div class="col-md-2">
          <select class="form-select" [(ngModel)]="year" [ngModelOptions]="{standalone: true}"
            (change)="selectYear($event)">
            <option value="">Select Year</option>
            <option value="{{year}}">{{year}}</option>
            <option value="{{lastYear}}">{{lastYear}}</option>
            <option value="{{last2Year}}">{{last2Year}}</option>
            <option value={{lastFourthYear}}> {{lastFourthYear}} </option>
            <option value={{lastFifthYear}}> {{lastFifthYear}} </option>
          </select>
        </div>
        <div class="col-md-2"></div>
        <div class="col-auto">
          <button class="btn btn-success" printSectionId="sanjay" [useExistingCss]="true" ngxPrint>print
          </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" (click)="downloadReport()">Download </button>
        </div>
        <div class="col-auto">
        </div>
      </div>

      <div class="print" id="sanjay">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mr-2 px-1 py-1 container border-black" id="htmlData">
              <table id="excel-table" class="table main-table">
                <thead>
                  <tr>
                    <th colspan="10" style="text-align: center;">
                      <span>
                        <h3>{{dealerCompanyName}}</h3>
                      </span>
                    </th>
                  </tr>
                </thead>
                <br>
                <tbody>

                  <table class="table main-table">
                    <thead>
                      <tr>
                        <th colspan="3"
                          style="border: 1px solid #272829; text-align: center; background-color: rgb(178, 217, 233); border-bottom: 2px solid #272829;">
                          <b> Op Bal: </b> Rs {{ openingBlc | number:'1.2-2'}}
                        </th>
                        <th
                          *ngIf="(meterSalesDetails || totalSalesDetails) && (lubeWiseDetails || lubeWiseCashDetails)"
                          colspan="5"
                          style="border: 1px solid #272829; text-align: center; border-bottom: 2px solid #272829;">
                        </th>
                        <th colspan="2"
                          style="border: 1px solid #272829; text-align: center; background-color: rgb(178, 217, 233); border-bottom: 2px solid #272829;">
                          <b> Month: </b> {{month}} {{year}}
                        </th>
                      </tr>
                    </thead>
                    <tr>
                      <td colspan="5">
                        <table class="table main-table" style="border-collapse: collapse; border: 1px solid black;">
                          <thead *ngIf="meterSalesDetails">
                            <tr>
                              <th colspan="10"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(178, 217, 233);">
                                <h6><b>Total Product</b></h6>
                              </th>
                            </tr>
                            <tr style="color: white;">
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                No</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Product</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Shift Sales (Rs)</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Shift Sales (Qty)</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Total Testing (Qty)</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of meterSalesDetails; let i = index">
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{i+1}} </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.productName}} </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                <span *ngIf="data.meterSaleQuantity">
                                  {{data.meterSaleAmount | number:'1.2-2'}} </span>
                              </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                <span *ngIf="data.meterSaleQuantity">
                                  <span *ngIf="data.productName == 'CNG' ">
                                    {{data.meterSaleQuantity | number:'1.2-2'}} Kg
                                  </span>
                                  <span *ngIf="data.productName != 'CNG' ">
                                    {{data.meterSaleQuantity | number:'1.2-2'}} Ltrs
                                  </span>
                                </span>
                              </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                <span *ngIf="data.totalPumpTesting">
                                  <span *ngIf="data.productName == 'CNG' ">
                                    {{data.totalPumpTesting | number:'1.2-2'}} Kg
                                  </span>
                                  <span *ngIf="data.productName != 'CNG' ">
                                    {{data.totalPumpTesting | number:'1.2-2'}} Ltrs
                                  </span>
                                </span>
                              </td>
                            </tr>
                            <tr *ngFor="let data of cashLubeDetails; let i = index">
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{meterSalesDetails.length+1}} </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.cashBillProduct}}(CASH) </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.totalCashAmount | number:'1.2-2'}}
                              </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.totalQuantityInPieces | number:'1.2-2'}} Pieces
                              </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">

                              </td>
                            </tr>
                            <tr *ngFor="let data of crLubeDetails; let i = index">
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{meterSalesDetails.length + cashLubeDetails.length +1}} </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.lubeName}}(CREDIT) </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.totalCreditAmount | number:'1.2-2'}}
                              </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.totalQuantityInPieces | number:'1.2-2'}} Pieces
                              </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">

                              </td>
                            </tr>
                          </tbody>
                          <thead *ngIf="totalSalesDetails.length">
                            <tr>
                              <th colspan="10"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(178, 217, 233);">
                                <h6><b>Collection Summary</b></h6>
                              </th>
                            </tr>
                            <tr style="color: white;">
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Shift Sales (Rs)</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                A-Credit (Rs)</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                B-Digital (Rs)</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                C-Cash (Rs)</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Shift Tally (A+B+C) (Rs)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of totalSalesDetails; let i = index">
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{(totalMeterSalesDetails)+ (cashLubeAmt) + (crLubeAmt) | number:'1.2-2'}} </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.creditTally | number:'1.2-2'}} </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{(data.paytmTotal) | number:'1.2-2'}}
                              </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.cashTallyAmt | number:'1.2-2'}}
                              </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{(data.totalAmountTally | number:'1.2-2')}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td colspan="5">
                        <table class="table main-table" style="border-collapse: collapse; border: 1px solid black;">
                          <thead *ngIf="lubeWiseDetails.length">
                            <tr>
                              <th colspan="10"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(178, 217, 233);">
                                <h6><b>Lubricant Summary Credit</b></h6>
                              </th>
                            </tr>
                            <tr style="color: white;">
                              <th colspan="3"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Lube Name</th>
                              <th colspan="3"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Sales (Rs)</th>
                              <th colspan="4"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Sales (Pieces)</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let data of lubeWiseDetails">
                            <tr>
                              <td colspan="3" style="text-align: center; border: 1px solid #272829;">
                                {{data.lubeName}} </td>
                              <td colspan="3" style="text-align: center; border: 1px solid #272829;">
                                {{data.totalLubeCrAmount | number:'1.2-2'}} </td>
                              <td colspan="4" style="text-align: center; border: 1px solid #272829;">
                                {{data.totalQuantityInPieces | number:'1.2-2'}}
                                Pieces </td>
                            </tr>
                          </tbody>
                          <thead *ngIf="lubeWiseCashDetails.length">
                            <tr>
                              <th colspan="10"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(178, 217, 233);">
                                <h6><b>Lubricant Summary Cash</b></h6>
                              </th>
                            </tr>
                            <tr style="color: white;">
                              <th colspan="3"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Lube Name</th>
                              <th colspan="3"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Sales (Rs)</th>
                              <th colspan="4"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Sales (Pieces)</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let data of lubeWiseCashDetails">
                            <tr>
                              <td colspan="3" style="text-align: center; border: 1px solid #272829;">
                                {{data.cashBillProduct}} </td>
                              <td colspan="3" style="text-align: center; border: 1px solid #272829;">
                                {{data.totalLubeCashAmount | number:'1.2-2'}} </td>
                              <td colspan="4" style="text-align: center; border: 1px solid #272829;">
                                {{data.totalQuantityInPieces | number:'1.2-2'}}
                                Pieces </td>
                            </tr>
                          </tbody>

                          <thead *ngIf="lubeWiseDetails.length && lubeWiseCashDetails.length">
                            <tr style="color: white;">
                              <th colspan="3"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Credit Sales (Rs)</th>
                              <th colspan="3"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Cash Sales (Rs)</th>
                              <th colspan="4"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Total</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="lubeWiseDetails.length && lubeWiseCashDetails.length">
                            <tr>
                              <td colspan="3" style="text-align: center; border: 1px solid #272829;">
                                {{totalLubeCrAmt | number:'1.2-2'}} </td>
                              <td colspan="3" style="text-align: center; border: 1px solid #272829;">
                                {{totalLubeCashAmt | number:'1.2-2'}} </td>
                              <td colspan="4" style="text-align: center; border: 1px solid #272829;">
                                {{(totalLubeCashAmt) + (totalLubeCrAmt) | number:'1.2-2'}} </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td colspan="5">
                        <table class="table main-table" *ngIf="digitalDetails.length" style="border-collapse: collapse; border: 1px solid black;">
                          <thead>
                            <tr>
                              <th colspan="10"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(178, 217, 233);">
                                <h6><b>Digital Summary</b></h6>
                              </th>
                            </tr>
                            <tr style="color: white;">
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Digital POS</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Details</th>
                              <th colspan="2"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(187, 52, 52);">
                                Amount (Rs)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of digitalDetails; let i = index">
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.terminalName}} </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.transacId}} </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                {{data.paytmTotalAmount | number:'1.2-2'}} </td>
                            </tr>
                            <tr>
                              <td colspan="4" style="text-align: center; border: 1px solid #272829;">
                                <b>Total</b>
                              </td>
                              <td colspan="2" style="text-align: center; border: 1px solid #272829;">
                                <b>{{digitalTotalSales | number:'1.2-2'}}</b>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td colspan="5">
                        <table class="table main-table" *ngIf="variationData.length" style="border-collapse: collapse; border: 1px solid black;">
                          <thead>
                            <tr>
                              <th colspan="9"
                                style="text-align: center; border: 1px solid #272829; border-top: 2px solid #272829; border-bottom: 1px solid #272829;  background-color: rgb(178, 217, 233);">
                                <h6><b>Variation</b></h6>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th colspan="3" style="text-align: center; border: 1px solid #272829;">
                                Product
                              </th>
                              <th colspan="3" style="text-align: center; border: 1px solid #272829;">
                                Quantity
                              </th>
                              <th colspan="3" style="text-align: center; border: 1px solid #272829;">
                                Amount
                              </th>
                            </tr>
                            <tr *ngFor="let data of variationData">
                              <td colspan="3" style="text-align: center; border: 1px solid #272829;">
                                {{data.productName}}
                              </td>
                              <td colspan="3" style="text-align: center; border: 1px solid #272829;">
                                {{data.variation | number:'1.2-2'}}
                              </td>
                              <td colspan="3" style="text-align: center; border: 1px solid #272829;">
                                {{data.variationAmt | number:'1.2-2'}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td colspan="5">
                        <table class="table main-table" style="border-collapse: collapse; border: 1px solid black;">
                          <thead>
                            <tr>
                              <th colspan="10"
                                style="text-align: center; border: 1px solid #272829; background-color: rgb(178, 217, 233);">
                                <h6><b>Overall Transactions</b></h6>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;"><b>
                                  Opening Balance </b></td>
                              <td style="text-align: center; border: 1px solid #272829;"><b>
                                  {{ openingBlc | number:'1.2-2'}} </b></td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Month's Sale (cash) </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{(cashSales)+(totalLubeCashAmount) | number:'1.2-2'}}
                              </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Month's Payment received from customer (Cash) </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{totalCrAmtCash | number:'1.2-2'}} </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Month's Payment received from customer (Other) </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{totalCrAmtOther | number:'1.2-2'}} </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Month's Sale(Credit) </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                <!-- {{(creditSales) + (totalLubeCrAmount) | number:'1.2-2'}} -->
                                {{salesCredit | number:'1.2-2'}}
                              </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Month's Bank AC (Credit) </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{totalCrBank | number:'1.2-2'}} </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Month's Misc Exp </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{totalExpenseOtherAmt | number:'1.2-2'}} </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Other Cash Expenses </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{(totalExpenseCASHAmt) + (shiftExpenseAmt) |
                                number:'1.2-2'}} </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Month's Short Amount </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{(shortAmtTotal) | number:'1.2-2'}} </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Month's Variation </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{(totalVariation) | number:'1.2-2'}} </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Month's Closing </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{closingBlc | number:'1.2-2'}} </td>
                            </tr>
                            <tr style="text-align: right;">
                              <td style="text-align: center; border: 1px solid #272829;">
                                Net Total </td>
                              <td style="text-align: center; border: 1px solid #272829;">
                                {{netTotal | number:'1.2-2'}} </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                  </table>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row noprint">
        <div class="col-md-10"></div>
        <div class="col-auto">
          <button class="btn btn-success" printSectionId="sanjay" ngxPrint>print
          </button>
        </div>
      </div>
    </div>

  </div>
</body>

</html>