<br>
<form [formGroup]="filterForm">
  <div class="mb-3 row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="example-text-input" class="col-auto col-form-label"><b>Khata</b></label>
    <div class="col-md-3">
      <input class="form-control" type="text" list="allCorporateList" placeholder="All Khata"
        formControlName="customerNameDAY" (change)="getDetailsByCustomerMapName($event)">
      <datalist id="allCorporateList">
        <option *ngFor="let data of allCorporateList" [value]="data.companyName">
      </datalist>
    </div>

    <label for="example-text-input" class="col-auto col-form-label"><b>Month</b></label>
    <div class="col-md-2">
      <select class="form-control" formControlName="monthDAY" required>
        <option value=""> Select Month </option>
        <option *ngFor="let data of ficMonths" [value]="data.monthYear"> {{data.monthName}} {{data.year}} </option>
      </select>
    </div>

    <div class="col-md-1">
      <button type="button" class="btn btn-md btn-primary" (click)="getDayWiseQty()">
        View
      </button>
    </div>

    <div class="col-md-1">
      <span style="font-size: 35px;cursor: pointer;" ngbTooltip="Download PDF" placement="bottom"
        (click)="exportToPDFDAYQty()"><i class="fas fa-file-pdf" style="font-size: 30px;"></i></span>
    </div>

    <!-- <div class="col-md-1">
            <span style="font-size: 35px;cursor: pointer;" ngbTooltip="Download Excel" placement="bottom" 
            (click)="exportexcelDAY()"><i class="fas fa-file-csv"></i></span>
        </div>  -->
  </div>

</form>

<div class="card-body table-responsive">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table id="excel-tableQTY" class="table table-hover b">
        <thead class="table-light">
          <tr>
            <th style="text-align: center"><b> Date </b></th>
            <th style="text-align: center"><b> Product </b></th>
            <th style="text-align: center"><b> Amount </b></th>
            <th style="text-align: center"><b> Quantity </b></th>
            <th style="text-align: center"><b> Sales Amount </b></th>
            <th style="text-align: center"><b> Payment Amount </b></th>
            <th style="text-align: center"><b> Balance </b></th>
          </tr>
        </thead>
        <tbody *ngFor="let data of dayWiseQtyData">
          <tr>
            <td style="text-align: center"> {{ data.date | date:"d MMM, yyyy"}} </td>

            <td colspan="3">
          <tr *ngFor="let dataCr of data.crData">
            <td style="text-align: center" class="p-0" [style.min-width]="'100px'">{{dataCr.product}}</td>
            <td style="text-align: center" class="p-0" [style.min-width]="'100px'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
                class="fa-solid fa-indian-rupee-sign"></i>
              {{dataCr.purchase | number:'1.2-2'}}</td>
            <td style="text-align: center" class="p-0" [style.min-width]="'100px'">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{dataCr.quantity | number:'1.2-2'}}
              <span *ngIf="dataCr.product == 'CNG'">
                Kg
              </span>
              <span *ngIf="dataCr.product != 'CNG'">
                Ltr
              </span>
            </td> <br>
          </tr>
          </td>
          <td style="text-align: center"> <i class="fa-solid fa-indian-rupee-sign"></i>
            {{ data.purchase | number:'1.2-2'}}
          </td>
          <td style="text-align: center"> <i class="fa-solid fa-indian-rupee-sign"></i>
            {{ data.payment | number:'1.2-2'}}
          </td>
          <td style="text-align: center"> <i class="fa-solid fa-indian-rupee-sign"></i>
            <span *ngIf="data.balance < 0 ">
              {{(data.balance)*(-1) | number:"1.2-2"}} CR
            </span>
            <span *ngIf="data.balance >= 0 ">
              {{data.balance | number:"1.2-2"}}
            </span>
          </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>