<ng-template #excel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <label>
        <h4>
          <strong>
            Viswasa Tx Excel <br></strong>
        </h4>
      </label>
    </h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="filterForm">
      <div class="mb-3 row">
        <label for="example-text-input" class="col-auto col-form-label">Khata</label>
        <div class="col-md-3">
          <input class="form-control" type="text" list="allCorporateList" placeholder="All Khata"
            formControlName="corporateId">
          <datalist id="allCorporateList">
            <option *ngFor="let data of allCorporateList" [value]="data.companyName">
          </datalist>
        </div>

        <label for="example-text-input" class="col-auto col-form-label">Date Range</label>
        <div class="col-md-3">
          <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;"
            name="startDate" ngbTooltip="Start Date" (click)="startDate.toggle()" ngbDatepicker
            #startDate="ngbDatepicker" formControlName="startDate">
        </div>
        <div class="col-md-3">
          <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;"
            name="endDate" ngbTooltip="End Date" (click)="endDate.toggle()" ngbDatepicker #endDate="ngbDatepicker"
            formControlName="endDate">
        </div>
      </div>

      <div class="row">
        <div class="col-md-2" style="margin-left: 300px;">
          <button type="submit" class="btn btn-primary" name="button" (click)="getExcel()">
            Download
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>