<br>
<!-- begin::Body -->
<div class="card-body">
  <div class="row">
    <div class="col-lg-12">
      <span *ngIf="dealerAccess">
        <div class="row mb-2">
          <div class="col-sm-4">
          </div>
          <div class="modal-body">
            <form [formGroup]="addPaymentForm">
              <div class="row">
                <div class="col-sm-12">
                  <br>
                  <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label"><b>Date</b></label>
                    <div class="col-md-10">
                      <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;"
                        name="startDate" (click)="endDate.toggle()" formControlName="paymentDate" ngbDatepicker
                        #endDate="ngbDatepicker">
                    </div>
                  </div>
                  <br>
                  <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label"><b>Khata</b></label>
                    <div class="col-sm-10">
                      <input #myinput class="form-control" type="text" list="corporateList" placeholder="Select"
                        formControlName="selectedCorp" (change)="getDetailsByfuelDealerCustomerMapIdId($event)">
                      <datalist id="corporateList">
                        <option *ngFor="let data of corporateList" [value]="data.companyName">
                      </datalist>
                    </div>
                  </div>
                  <br>
                  <div class="row" *ngIf="isSelected1">
                    <div class="col-sm-12">
                      <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap" style="border-collapse: collapse; border: 1px solid black;">
                          <thead style="border-width: 1px; border-color: black;">
                            <tr>
                              <th style="border-width: 1px; border-color: #000; text-align: center;"><b>Khata Name</b></th>
                              <th style="border-width: 1px; border-color: #000; text-align: center"><b>Key Person Name</b></th>
                              <th style="border-width: 1px; border-color: #000; text-align: center"><b>Key Person Mobile</b></th>
                              <th style="border-width: 1px; border-color: #000; text-align: center"><b>Outstanding</b></th>
                              <th style="border-width: 1px; border-color: #000; text-align: center"><b>Alert</b></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td style="border: 1px solid black; text-align: center"> {{dealerName}} </td>
                              <td style="border: 1px solid black; text-align: center"> {{personName}} </td>
                              <td style="border: 1px solid black; text-align: center"> {{personPhone1}} </td>
                              <td style="border: 1px solid black; text-align: center"> <span style="color:red"
                                  *ngIf="calOutstanding < 0">
                                  <li class="fas fa-rupee-sign"></li> {{(calOutstanding)*(-1) | number:'1.2-2'}} CR
                                </span>
                                <span style="color:red" *ngIf="calOutstanding >= 0">
                                  <li class="fas fa-rupee-sign"></li> {{(calOutstanding) | number:'1.2-2'}}
                                </span>
                              </td>
                              <td style="border-width: 1px; border-color: #000;">
                                <div *ngIf="isFlag" class="col-md-2" (click)="viewFlag(viewFlagModel)"
                                  style="color:red;cursor:pointer;font-size: x-large;">
                                  <i class="fas fa-exclamation-triangle" style="color: red;" aria-hidden="true"></i>
                                </div>
                                <div *ngIf="!isFlag" class="col-md-6">
                                  None
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          <ng-template #viewFlagModel let-c="close" let-d="dismiss">
                            <div class="modal-header">
                              <h4 class="text-center">
                                Show Details
                              </h4>
                              <button type="button" class="btn btn-danger" aria-label="Close"
                                (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <table class="table table-hover table-striped">
                                <thead>
                                  <tr>
                                    <th align=left>Date of Alert</th>
                                    <th align=left>Petrol Pump Name</th>
                                    <th align=left>City</th>
                                    <th align=left>Remarks</th>

                                  </tr>
                                </thead>
                                <tbody *ngFor="let charges of viewCorpFlag; let i = index;">
                                  <tr>
                                    <td>{{charges.corporateFlagCreatedAt| date:"d MMM, yyyy"}}</td>
                                    <td><b> {{charges.companyName}}</b> <br>
                                      {{charges.firstName}} {{charges.lastName}} <br>
                                      {{charges.phone1}}</td>
                                    <td>{{charges.city}}</td>
                                    <td>{{charges.corporateFlagPurpose}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </ng-template>
                        </table>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label"><b>Payment Mode</b></label>
                    <div class="col-sm-10">
                      <span *ngIf="!isPos">
                        <select class="form-select" (change)="getBankAcc1($event)" formControlName="paymentMethod"
                          required> >
                          <option value="">Select </option>
                          <option value="CASH">CASH</option>
                          <option value="CHEQUE">CHEQUE</option>
                          <option value="NET BANKING">NET BANKING</option>
                          <option value="IMPS/NEFT/RTGS">IMPS/NEFT/RTGS</option>
                          <option value="POS">POS/DIGITAL</option>
                        </select>
                      </span>
                      <span *ngIf="isPos">
                        <select class="form-select" (change)="getBankAcc1($event)" formControlName="paymentMethod"
                          required>
                          <option value="">Select</option>
                          <option value="CASH">CASH</option>
                          <option value="CHEQUE">CHEQUE</option>
                          <option value="NET BANKING">NET BANKING</option>
                          <option value="IMPS/NEFT/RTGS">IMPS/NEFT/RTGS</option>
                          <option value="POS">POS/DIGITAL</option>
                          <!-- <option *ngFor="let data of fuelTerminalDetails" [value]="data.terminalName">
                            {{data.terminalName}}
                          </option> -->
                        </select>
                      </span>

                    </div>
                  </div>
                  <br>
                  <div class="mb-3 row" *ngIf="isPos">
                    <label for="example-text-input" class="col-md-2 col-form-label"><b>POS</b></label>
                    <div class="col-sm-10">
                      <select class="form-select" (change)="getBankAcc1POS($event)" formControlName="pos" required>
                        <option value="">Select </option>
                        <option *ngFor="let data of fuelTerminalDetails" [value]="data.fuelTerminalsId">
                          {{data.terminalName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label"><b>Account</b></label>
                    <div class="col-sm-10">
                      <span *ngIf="!isCash">
                        <span *ngIf="isPos">
                          <select class="form-select" formControlName="accountDetailsId" >
                            <option value="">Select </option>
                            <option *ngFor="let data of bankAccList" [value]="data.bankDetailsId">
                              {{data.bankName}}-{{data.accountNumber}}
                            </option>
                            <option value="21">Oil-Company</option>
                          </select>
                        </span>
                        <span *ngIf="!isPos">
                          <select class="form-select" formControlName="accountDetailsId" (change)="checkSubmit()"
                            required>
                            <option value="">Select </option>
                            <option *ngFor="let data of bankAccList" [value]="data.bankDetailsId">
                              {{data.bankName}}-{{data.accountNumber}}
                            </option>
                          </select>
                        </span>
                      </span>
                      <span *ngIf="isCash">
                        <select class="form-select" formControlName="accountDetailsId" required >
                          <option value="">Select Account</option>
                          <option value="20">Cash-In-Hand</option>
                          <option value="21">Oil-Company</option>
                        </select>
                      </span>
                    </div>
                  </div>
                  <br>
                  <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label"><b>Payment Details</b></label>
                    <div class="col-sm-10">
                      <input (blur)="checkSubmit()" class="form-control" formControlName="paymentTransactionNo"
                        placeholder="Enter Payment Details">
                    </div>
                  </div>
                  <br>
                  <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label"><b>Amount</b></label>
                    <div class="col-sm-10">
                      <input type="number"  class="form-control" (input)="onSearchChange($event)"
                        formControlName="paymentAmount" placeholder="Enter Amount">
                    </div>
                  </div>
                  <br>
                  <div class="mb-3 row" *ngIf="isCalculate">
                    <!-- Amt in word -->
                    <label for="example-text-input" class="col-md-2 col-form-label"><b>Amt In Word</b></label>
                    <div class="col-sm-10">
                      <label for="example-text-input" class="col-md-8 col-form-label"> {{ amountInWords }} </label>

                    </div>
                  </div>
                  <div class="mb-3 row" *ngIf="isCalculate">
                    <label for="example-text-input" class="col-md-2 col-form-label"><b>Current Outstanding</b></label>
                    <div class="col-sm-10">
                      <label for="example-text-input" class="col-md-8 col-form-label" *ngIf="outstandingAmt < 0">
                        <li class="fas fa-rupee-sign"></li> {{(outstandingAmt)*(-1) | number:'1.2-2'}} CR
                      </label>
                      <label for="example-text-input" class="col-md-8 col-form-label" *ngIf="outstandingAmt >= 0">
                        <li class="fas fa-rupee-sign"></li> {{(outstandingAmt) | number:'1.2-2'}}
                      </label>

                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <div class="col-auto">
                      <button *ngIf="!isSubmit" type="submit" class="btn btn-primary" disabled>Submit</button>
                      <button *ngIf="isSubmit" type="submit" class="btn btn-primary"
                        (click)="AddPaymentDetailsByfuelDealerCustomerMapId()">Submit</button>
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-secondary" (click)="clearAll()">Cancel</button>
                    </div>
                  </div>
                  <br><br>
                  <br><br>

                </div>
              </div>
            </form>

          </div>

        </div>
      </span>
    </div>
  </div>
</div>