<br>
<!-- begin::Body -->
<div class="card-body p-0">
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="requestTransporterLube">
        <div class="row">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-lg-2">
            <label for="example-text-input" class="col-form-label"><b>Date</b></label>
          </div>
          <div class="col-md-8">
            <input class="form-control" placeholder="DD-MM-YYYY" name="startDate" (click)="endDate.toggle()" readonly
              style="background-color: #ffffff;" #myinput formControlName="estimatedRefuelDate" ngbDatepicker
              #endDate="ngbDatepicker">
          </div>
        </div>
        <br>
        <div class="row">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-lg-2">
            <label for="example-text-input" class="col-form-label"><b>Product</b></label>
          </div>
          <div class="col-lg-8">
            <label for="example-text-input" class="col-form-label">Lubricants</label>
          </div>
        </div>
        <br>
        <ng-template #viewFlagModel let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="text-center">
              Show Details
            </h4>
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th align=left>Date Of Alert</th>
                  <th align=left>Petrol Pump Name</th>
                  <th align=left>City</th>
                  <th align=left>Remarks</th>
                </tr>
              </thead>
              <tbody *ngFor="let charges of viewCorpFlag; let i = index;">
                <tr>
                  <td>{{charges.corporateFlagCreatedAt| date:"d MMM, yyyy"}}</td>
                  <td><b> {{charges.companyName}}</b> <br>
                    {{charges.firstName}} {{charges.lastName}} <br>
                    {{charges.phone1}}</td>
                  <td>{{charges.city}}</td>
                  <td>{{charges.corporateFlagPurpose}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
        <br>
        <form [formGroup]="requestTransporter1">
          <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-lg-2">
              <label for="example-text-input" class="col-form-label"><b>Khata</b></label>
            </div>

            <div class="col-md-8">
              <input class="form-control" type="text" list="corporateList" placeholder="Select Khata"
                formControlName="selectedCorp" (change)="getDetailsByfuelDealerCustomerMapIdId($event)">
              <datalist id="corporateList">
                <option *ngFor="let data of corporateList" [value]="data.companyName">
              </datalist>
            </div>
          </div>
          <br>

          <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-lg-12">
              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="text-center">
                    Alert Details
                  </h4>
                  <div class="text-center mb-4" *ngIf="isAlert" style="position: absolute; top: 14%; left: 50%; 
                                    transform: translate(-50%, -50%);">
                    <div class="row justify-content-center">
                      <div class="col-xl-10" style="color: red">
                        <i class="fa fa-exclamation-triangle fa-fw fa-6x" style="color: red"></i>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Date Of Alert</th>
                        <th>Petrol Pump Name</th>
                        <th>City</th>
                        <th>Remarks</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let charges of viewCorpFlag; let i = index;">
                      <tr>
                        <td>{{charges.corporateFlagCreatedAt| date:"d MMM, yyyy"}}</td>
                        <td><b> {{charges.companyName}}</b> <br>
                          {{charges.firstName}} {{charges.lastName}} <br>
                          {{charges.phone1}}</td>
                        <td>{{charges.city}}</td>
                        <td>{{charges.corporateFlagPurpose}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
              <div class="table-responsive mb-0" *ngIf="isSelected1">
                <div class="text-center mb-4" *ngIf="isAlert"
                  style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                  <div class="row justify-content-center">
                    <div class="col-xl-10" style="color: red">
                      <i class="fa fa-exclamation-triangle fa-fw fa-6x" style="color: red"></i>
                    </div>
                  </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <table class="table table-centered table-nowrap" style="border-collapse: collapse; border: 1px solid black;">
                  <thead>
                    <tr>
                      <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Khata Name</b></th>
                      <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Key Person Name</b></th>
                      <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Key Person Mobile</b></th>
                      <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Bill Nos. Set</b></th>
                      <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Outstanding</b></th>
                      <th style="text-align: center;border-width: 1px; border-color: #000;"><b>Alert</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: center;border: 1px solid black;">{{dealerName}}</td>
                      <td style="text-align: center;border: 1px solid black;">
                        {{personName}}
                      </td>
                      <td style="text-align: center;border: 1px solid black;"> {{personPhone1}} </td>
                      <td style="text-align: center;border: 1px solid black;">
                        {{rangeFrom}} - {{rangeTo}}
                      </td>
                      <td style="text-align: center;border: 1px solid black;">
                        <span *ngIf="calOutstanding< 0">
                          <li class="fas fa-rupee-sign"></li> {{(calOutstanding)*(-1) | number:'1.2-2'}} CR
                        </span>
                        <span *ngIf="calOutstanding >= 0">
                          <li class="fas fa-rupee-sign"></li>{{(calOutstanding) | number:'1.2-2'}}
                        </span>
                      </td>
                      <td style="text-align: center;border: 1px solid black;">
                        <span *ngIf="viewCorpFlag.length" class="col-md-1" (click)="viewFlag(viewFlagModel)"
                          style="color:red;cursor:pointer;font-size: x-large;">
                          <i class="fa fa-exclamation-triangle fa-fw fa-3x" style="color: red"></i>
                        </span>
                        <span *ngIf="!viewCorpFlag.length">
                          None
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>

        <div class="row">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col col-xl-12 col-lg-12">
            <div class="card-body table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th><b>Lubricant Name</b></th>
                    <th><b> Bill Number </b></th>
                    <th><b>Details (Vehicle/Barrel)</b></th>
                    <th><b>Amount</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>Units</b></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngFor="let charges of CreditRequestDataLube; let i = index;">
                  <tr>
                    <td>
                      <select class="form-control" [(ngModel)]="charges.lubeId" [ngModelOptions]="{standalone: true}"
                        (change)="getLubeDetails($event,i)">
                        <option value="">Select</option>
                        <option *ngFor="let data of lubricantList" [value]="data.lubricantsId">
                          {{data.lubricantsName}}
                        </option>
                      </select>
                    </td>
                    <td> 
                      <span *ngIf="autoManualStatus == 'TRUE'">
                        <input type="text" class="form-control" placeholder="Bill Number Automation Active" readonly />
                      </span>
                      <span *ngIf="autoManualStatus != 'TRUE'">
                        <input type="text" class="form-control" [(ngModel)]="charges.manualNumberLube"
                          [ngModelOptions]="{standalone: true}" placeholder="Enter Bill / Ref Number"
                          (blur)="setManualNumberLube(i)" />
                      </span>
                    </td>

                    <td>
                      <input type="text" class="form-control" [(ngModel)]="charges.vehicleNumberLube"
                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter vehicle no./ barrel"
                        (blur)="setVehicleNumberLube()" />
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="charges.creditAmountLube"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter Credit Amount"
                        (blur)="setAmountLube()" />
                    </td>

                    <td>
                      <input type="number" class="form-control" [(ngModel)]="charges.creditQuantityLube"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter Credit Quantity"
                        (blur)="setQuantityLube()" />
                    </td>
                    <td>
                      <select class="form-control" [(ngModel)]="charges.unitLube" [ngModelOptions]="{standalone: true}"
                        disabled>
                        <option value="Ltr">Ltr</option>
                        <option value="Kg">Kg</option>
                      </select>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-success" (click)="addFormRequestLube()">Add
                      </button>
                      &nbsp;&nbsp;
                      <button *ngIf="i != 0 " type="cancel" class="btn btn-primary"
                        (click)="removeFormRequestLube(i,removeTable)">Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
      </form>

      <div class="row">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-auto">
          &nbsp;
          <button type="submit" class="btn btn-primary" (click)="submitByDealerForLube()">Submit</button>
          &nbsp;&nbsp;
          <button type="submit" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        </div>

        <div class="col-md-2">
        </div>
      </div>
      <ng-template #removeTable let-c="close" let-d="dismiss">
        <div class="modal-body">
          <h6>Are you sure you want to delete this element ?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" aria-label="Close" (click)="d('Cross click')">
            Cancel
          </button>

          <button type="button" class="btn btn-link" aria-label="Close" (click)="removeLubeIndex()">
            OK
          </button>
        </div>
      </ng-template>
      <br><br>
    </div>
  </div>
</div>