<!-- <div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder d-flex align-items-center text-gray-900">
    Choose Account Type
    <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Billing is issued based on your selected account type"
    ></i>
  </h2>

  <div class="text-gray-500 fw-bold fs-6">
    If you need more info, please check out
    <a href="#" class="link-primary fw-bolder"> Help Page </a>
    .
  </div>
</div>

<div class="fv-row" [formGroup]="form">
  <div class="row">
    <div class="col-lg-6">
      <input
        formControlName="accountType"
        name="accountType"
        type="radio"
        class="btn-check"
        id="kt_create_account_form_account_type_personal"
        value="personal"
      />
      <label
        class="
          btn btn-outline btn-outline-dashed btn-outline-default
          p-7
          d-flex
          align-items-center
          mb-10
        "
        for="kt_create_account_form_account_type_personal"
      >
        <app-keenicon name="address-book" class="fs-1 me-5"></app-keenicon>
        <span class="d-block fw-bold text-start">
          <span class="text-gray-900 fw-bolder d-block fs-4 mb-2"
            >Personal Account</span
          >
          <span class="text-gray-500 fw-bold fs-6">
            If you need more info, please check it out
          </span>
        </span>
      </label>
    </div>

    <div class="col-lg-6">
      <input
        formControlName="accountType"
        name="accountType"
        type="radio"
        class="btn-check"
        id="kt_create_account_form_account_type_corporate"
        value="corporate"
      />
      <label
        class="
          btn btn-outline btn-outline-dashed btn-outline-default
          p-7
          d-flex
          align-items-center
        "
        for="kt_create_account_form_account_type_corporate"
      >
        <app-keenicon name="briefcase" class="fs-1 me-5"></app-keenicon>
        <span class="d-block fw-bold text-start">
          <span class="text-gray-900 fw-bolder d-block fs-4 mb-2"
            >Corporate Account</span
          >
          <span class="text-gray-500 fw-bold fs-6">
            Create corporate account to mane users
          </span>
        </span>
      </label>
    </div>

    <div class="fv-plugins-message-container invalid-feedback">
      <ErrorMessage name='accountType' />
    </div>
  </div>
</div> -->


<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0">
    <div class="d-flex flex-wrap flex-sm-nowrap mb-3">

      <div class="row" [formGroup]="form">
        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                Mobile Number <span style="color: red;">*</span></span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="number" placeholder="Mobile Number" class="form-control" formControlName="mobile"
              onkeypress="return this.value.length < 10;">
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                Khata Name <span style="color: red;">*</span></span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="text" placeholder="Khata Name" class="form-control" formControlName="khataName">
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                GST </span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="number" placeholder="GST" class="form-control" formControlName="gst">
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                Cr. Limit Amount <span style="color: red;">*</span></span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="text" placeholder="Cr Limit Amount" class="form-control" formControlName="crLimitAmount">
          </span>
          <!-- end::Description -->
        </div>

        <div class="d-flex align-items-center mb-8">
          <!-- begin::Description -->
          <div class="col-sm-3">
            <a class="text-gray-800 text-hover-primary fw-bolder fs-4">
              <span class="badge badge-light-success fs-4 fw-bolder">
                Cr. Limit Days <span style="color: red;">*</span>
              </span>
            </a>
          </div>
          <span class="badge badge-light-success fs-4 fw-bolder" style="width: 500px;">
            <input type="number" placeholder="Cr Limit Days" class="form-control" formControlName="crLimitDays">
          </span>
          <!-- end::Description -->
        </div>

      </div>

    </div>
  </div>
</div>