<style>
  .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .switch input {
    display: none;
  }

  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  input:checked+.slider {
    background-color: #66bb6a;
  }

  input:checked+.slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  
  .btn-outline-success {
    border: 1px solid #28a745 !important;
    color: #28a745 !important;
    background-color: transparent !important;
}
</style>


<div class="card-body d-flex flex-column pb-10 pb-lg-15">
  <div class="flex-grow-1">
    <form [formGroup]="searchDiscountForm">
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <button class="btn btn-success my-2 my-sm-0 btn-sm" (click)="openSelectMobile(selectMobile)"
            style="margin-left:130px" title="click on  [+] to mention pump's contact number on statement">
            +
          </button>
        </div>


        <ng-template #selectMobile let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="text-center">
              Select Mobile
            </h4>
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="unitForm">
              <div class="row">
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-3">
                  <b>Select</b>
                </div>
                <div class="col-md-9">
                  <select class="form-control" formControlName="mobile" required>
                    <option value="">Select </option>
                    <option *ngFor="let data of managerList" [value]="data.phone1">
                      {{data.firstName}} {{data.lastName}} / {{data.phone1}}
                    </option>
                  </select>
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <button class="btn btn-success my-2 my-sm-0" type="button" (click)="submitMobile()">Select</button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <button class="btn btn-danger" type="button" (click)="d('Cross click')">Cancel</button>
                </div>
              </div>
            </form>
            <br>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-auto">
                <b>Selected : {{managerMobile}} </b>
              </div>

            </div>

            <br>
            <hr *ngIf="accessGroup != '7' && accessGroup != '31' && accessGroup != '51'">
            <div *ngIf="accessGroup != '7' && accessGroup != '31' && accessGroup != '51' ">
              <div class="row">
                <div class="col-auto" style="margin-top: 7px">
                  Manual Number Status
                </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-auto">
                  <span *ngIf="manualNumberStatus == 'TRUE'">
                    <label class="switch">
                      <input type="checkbox" checked="checked" (change)="updatemanualNumberStatus($event,'TRUE')">
                      <span class="slider round"></span>
                    </label>
                  </span>
                  <span *ngIf="manualNumberStatus != 'TRUE'">
                    <label class="switch">
                      <input type="checkbox" (change)="updatemanualNumberStatus($event,'FALSE')">
                      <span class="slider round"></span>
                    </label>
                  </span>
                </div>
              </div>
            </div>
            <hr *ngIf="accessGroup != '7' && accessGroup != '31' && accessGroup != '51'">
            <div *ngIf="accessGroup != '7' && accessGroup != '31' && accessGroup != '51'">
              <div class="row">
                <div class="col-auto" style="margin-top: 7px">
                  Manual Number Automation
                </div>
                <div class="col-auto">
                  <span *ngIf="autoManualStatus == 'TRUE'">
                    <label class="switch">
                      <input type="checkbox" checked="checked" (change)="updatAutoNumberStatus($event,'TRUE')">
                      <span class="slider round"></span>
                    </label>
                  </span>
                  <span *ngIf="autoManualStatus != 'TRUE'">
                    <label class="switch">
                      <input type="checkbox" (change)="updatAutoNumberStatus($event,'FALSE')">
                      <span class="slider round"></span>
                    </label>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </ng-template>

      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="example-text-input" class="col-auto col-form-label"><b>Customer Select </b></label>
        </div>
        <div class="col-md-3">
          <label for="example-text-input" class="col-auto col-form-label"><b>Date Range </b></label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <input class="form-control" type="text" list="allCorporateList" placeholder="Select Customer"
            formControlName="customerName" (change)="getDetailsByCustomerName($event)">
          <datalist id="allCorporateList">
            <option *ngFor="let data of allCorporateList" [value]="data.companyName">
          </datalist>
        </div>

        <!-- <label for="example-text-input" class="col-auto col-form-label">Date Range </label> -->
        <div class="col-md-2">
          <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;"
            name="startDate" ngbTooltip="Start Date" (click)="startDate.toggle()" ngbDatepicker
            #startDate="ngbDatepicker" formControlName="startDate">
        </div>
        <div class="col-md-2">
          <input class="form-control" placeholder="DD-MM-YYYY" readonly style="background-color: #ffffff;"
            name="endDate" ngbTooltip="End Date" (click)="endDate.toggle()" ngbDatepicker #endDate="ngbDatepicker"
            formControlName="endDate">
        </div>

        <div class="col-lg-1">
          <button type="button" class="btn btn-primary w-md ms-1" name="button" (click)="getCrStatement()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
  <br>
  <div *ngIf="statementData.length" class="table-responsive mb-0">
    <table class="table table-centered table-nowrap table-bordered" style="border: 1px solid black;">
      <thead class="">
        <tr>
          <th style="text-align: left;"><b>Opening Outstanding</b></th>
          <th style="text-align: left;"><b>Total Purchase</b></th>
          <th style="text-align: left;"><b>Total Payment</b></th>
          <th style="text-align: left;"><b>Net Outstanding</b></th>
        </tr>
      </thead>
      <tbody *ngFor="let data of statementData">
        <tr>
          <td style="text-align: left;">
            <span *ngIf="data.openningOS < 0">
              <b>
                <li class="fas fa-rupee-sign"></li> {{data.openningOS * (-1) | number:'1.2-2'}} /- CR
              </b>
            </span>
            <span *ngIf="data.openningOS >= 0">
              <b>
                <li class="fas fa-rupee-sign"></li> {{data.openningOS | number:'1.2-2'}}
                /-
              </b>
            </span>
          </td>

          <td style="text-align: left;"><b>
              <li class="fas fa-rupee-sign"></li> {{data.totalPurchaseAmt | number:'1.2-2'}}
            </b> </td>

          <td style="text-align: left;"> <b>
              <li class="fas fa-rupee-sign"></li> {{data.totalPaymentAmt| number:'1.2-2' }}
            </b></td>

          <td style="text-align: left;">
            <span *ngIf="data.netOS < 0">
              <b>
                <li class="fas fa-rupee-sign"></li> {{data.netOS *(-1) |
                number:'1.2-2'}}
                /- CR
              </b>
            </span>
            <span *ngIf="data.netOS >= 0">
              <b>
                <li class="fas fa-rupee-sign"></li> {{data.netOS | number:'1.2-2'}}
                /-
              </b>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <form [formGroup]="addForm">
    <div class="row">
      <div class="col-md-3">
        <label><b>Add Manual Statement Number</b></label>
        <input type="text" class="form-control" [(ngModel)]="manualSno" [ngModelOptions]="{standalone: true}"
          placeholder="Enter Manual Statement Number" />
      </div>
      <div class="col-md-3">
        <label><b>Add HSN Code</b></label>
        <input type="text" class="form-control" [(ngModel)]="hsnCode" [ngModelOptions]="{standalone: true}"
          placeholder="Enter HSN Code" />
      </div>
      <div class="col-md-3">
        <label><b>Add Due Date</b></label>
        <input class="form-control" placeholder="DD-MM-YYYY" style="background-color: #ffffff;" name="dueDate"
          ngbTooltip="Due Date" (click)="dueDate.toggle()" ngbDatepicker #dueDate="ngbDatepicker"
          formControlName="dueDate">
      </div>
    </div>
  </form>
  <br>

  <div class="row">
    <div class="col-md-3">
      <div class="row justify-content-center">
        <div class="input-group bg-light rounded" (click)="createInvoiceWithoutPaymentDetails()">
          <button class="btn bg-light">
            Create Statement 1P
          </button>
          <button class="btn btn-primary" type="button" id="button-addon2">
            <i class="bx bxs-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="row justify-content-center">
        <div class="input-group bg-light rounded" (click)="statementCreate()">
          <button class="btn bg-light">
            Create Statement 2P(Purchase & Payment Details)
          </button>
          <button class="btn btn-primary" type="button" id="button-addon2">
            <i class="bx bxs-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row justify-content-center">
        <div class="input-group bg-light rounded" (click)="updateTotalInvCreditAmtForInterval()">
          <button class="btn bg-light">
            Create Statement 3P(Purchase Details)
          </button>
          <button class="btn btn-primary" type="button" id="button-addon2">
            <i class="bx bxs-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" (click)="createInvoiceWithoutPaymentDetails1()">
        Old Create Statement1
      </button>
    </div>
    <div class="col-md-5">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" (click)="statementCreate1()">
        Old Create Statement2
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" (click)="updateTotalInvCreditAmtForInterval1()">
        Old Create Statement3
      </button>
    </div>
  </div><br>

  <div class="table-responsive mb-0" *ngIf="isTable">
    <table class="table table-centered table-nowrap">
      <thead class="table-light">
        <tr>
          <th style="text-align: left;"><b>Sr.No</b>>
          <th style="text-align: left;"><b>Date</b>>
          <th style="text-align: left;"><b>Bill / ref number</b>>
          <th style="text-align: left;"><b>Vehicle no / other details</b></th>
          <th style="text-align: left;"><b>Credit Amount</b>>
        </tr>
      </thead>
      <tbody
        *ngFor="let data of statementPurData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; let i = index">
        <tr>
          <td style="text-align: left;"> {{i+1}} </td>
          <td style="text-align: left;">
            <span *ngIf="data.estimatedRefuelDate == '2022-01-01' ">
              1 Jan, 2022
            </span>
            <span *ngIf="data.estimatedRefuelDate != '2022-01-01' ">
              {{data.estimatedRefuelDate | date:"d MMM, yyyy"}}
            </span>
          </td>
          <td>
            {{data.manualCrNumber}}
          </td>
          <td style="text-align: left;">
            <span *ngIf="data.purpose == 'CREDIT'">
              <span *ngIf="data.vehicleNumber == 'undefined'">
              </span>
              <span *ngIf="data.vehicleNumber != 'undefined'">
                {{data.vehicleNumber}}
              </span>
            </span>
            <span *ngIf="data.purpose == 'LUBE'">
              <span *ngIf="data.vehicleNumber == 'undefined'">
                {{data.lubeName}}
              </span>
              <span *ngIf="data.vehicleNumber != 'undefined'">
                {{data.vehicleNumber}} {{data.lubeName}}
              </span>
            </span>
            <span *ngIf="data.purpose == 'AdvAmt'">
              {{data.advName}} {{data.advMobile}}
            </span>
          </td>
          <td style="text-align: left;"> {{data.creditAmount | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>

    <!-- begin::Pagination -->
    <pagination-controls (pageChange)="pageChangeEvent($event)" previousLabel="" nextLabel=""
      style="text-align: end; font-size: x-large; font-family: 'Font Awesome 6 Free'; font-style: oblique;">
    </pagination-controls>
    <!-- end::Pagination -->

  </div>

</div>