
<br>
<div>
  <ul ngbNav #bookLedger="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified" style="width: 100%;">
    <li [ngbNavItem]="1">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">TRANSACTION </span>
      </a>
      <ng-template ngbNavContent>
        <app-base-tables-widget6 class="card card-xxl-stretch mb-5 mb-xl-8"></app-base-tables-widget6>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">DAY </span>
      </a>
      <ng-template ngbNavContent>
          <app-base-tables-widget7 class="card card-xxl-stretch mb-5 mb-xl-8"></app-base-tables-widget7>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">MONTH </span>
      </a>
      <ng-template ngbNavContent>
          <app-base-tables-widget8 class="card card-xxl-stretch mb-5 mb-xl-8"></app-base-tables-widget8>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="bookLedger"></div>
</div>