<div>
<span class="h-25px app-sidebar-logo-default" style="font-size: 30px;padding:12px 20px;">
  {{companyName}}
</span>
<span class="h-25px app-sidebar-logo-default" style="font-size: 20px;padding-top: 26px;">
  
{{city}}</span>
</div>

<!-- <div *ngIf="isAdmin">
  <span class="h-25px app-sidebar-logo-default" style="font-size: 30px;padding:12px 20px;">
    VEELSPLUS CORE 
  </span>
  <span class="h-25px app-sidebar-logo-default" style="font-size: 15px;padding-top: 26px;">
  Thane</span>
  </div> -->