<div class="modal-body">
  <div id="sanjay">
    <div class="container">
      <form [formGroup]="shiftTimeForm">
        <br><br>
        <div class="row">
          <div class="col-lg-10"></div>
          <div class="col-lg-2" style="text-align: end;">
            <button type="button" class="btn btn-success" (click)="addNewNameModal(AddShiftName)">Add Shift
              Name</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive mb-0">
              <table class="table table-centered table-nowrap">
                <thead class="table-light">
                  <tr>
                    <th style="text-align: left;">#</th>
                    <th style="text-align: left;"> Shift Name </th>
                    <th style="text-align: left;"> Start Time</th>
                    <th style="text-align: left;"> End Time </th>
                    <th style="text-align: left;"> Created At</th>
                    <th style="text-align: left;"> Action </th>
                  </tr>
                </thead>
                <tbody *ngFor="let data of fuelShiftTimeDetailsTime; let i = index;">
                  <tr>
                    <td style="text-align: left;"> {{i + 1}} </td>
                    <td style="text-align: left;"> {{data.fuelShiftTimeShiftName}} </td>
                    <td style="text-align: left;"> {{data.fuelShiftTimeFrom}} </td>
                    <td style="text-align: left;"> {{data.fuelShiftTimeTo}} </td>
                    <td style="text-align: left;"> {{data.fuelShiftTimeCreatedBy}} </td>
                    <td style="text-align: left;">
                      <div ngbDropdown placement="bottom-left">
                        <i class="fa-solid fa-ellipsis-vertical" ngbDropdownToggle data-toggle="dropdown"
                          aria-expanded="true"></i>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                          <a class="dropdown-item" href="javascript: void(0);"
                            (click)="getfuelShiftDetailById(data.fuelShiftTimeId,AddShiftName)">
                            <i class="fas fa-edit">
                            </i> &nbsp; Update</a>
                          <a class="dropdown-item" href="javascript: void(0);"
                            (click)="deleteShiftTime(data.fuelShiftTimeId)">
                            <i class="fas fa-ban" style="color: red;"></i> &nbsp; Remove</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <br *ngIf="showBr && i == rowNumber">
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <ng-template #AddShiftName let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="text-center">Add Shift Name </h4>
            <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-4">
                <b>Shift Name</b>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="shiftName"
                  oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                  placeholder="entr shift name" />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <b>Shift Time From</b>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  &nbsp;&nbsp;&nbsp;<input class="col-md-3 col-form-control" type="number" min="0" max="23"
                    placeholder="hrs" [(ngModel)]="shiftTimeFromHrs" [ngModelOptions]="{standalone: true}"
                    onkeypress="return this.value.length < 2;" style="width: 50;">&nbsp;&nbsp; : &nbsp;&nbsp;
                  <input class="col-md-3 col-form-control" type="number" min="0" max="59" placeholder="min"
                    [(ngModel)]="shiftTimeFromMin" [ngModelOptions]="{standalone: true}"
                    onkeypress="return this.value.length < 2;" style="width: 50;">
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <b>Shift Time To</b>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  &nbsp;&nbsp;&nbsp;<input class="col-md-3 col-form-control" type="number" min="00" max="23"
                    placeholder="hrs" [(ngModel)]="shiftTimeToHrs" [ngModelOptions]="{standalone: true}"
                    onkeypress="return this.value.length < 2;" style="width: 50;">&nbsp;&nbsp; : &nbsp;&nbsp;
                  <input class="col-md-3 col-form-control" type="number" min="00" max="59" placeholder="min"
                    [(ngModel)]="shiftTimeToMin" [ngModelOptions]="{standalone: true}"
                    onkeypress="return this.value.length < 2;" style="width: 50;">
                </div>
              </div>
            </div>
            <br>
            <br><br>
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-auto">
                <button *ngIf="!isUpdate" type="submit" class="btn btn-success" (click)="submitShiftTime()">
                  Submit</button>
                <button *ngIf="isUpdate" type="submit" class="btn btn-warning" (click)="updateShiftTime()">
                  Update</button>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-danger" aria-label="Close" (click)="cancel()">Cancel
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </form>
      <br>

      <div *ngIf="accessGroup == '12' ||accessGroup == '14'">
        <form>
          <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2" style="text-align: end;">
              <button *ngIf="accessGroup != '14' " type="submit" class="btn btn-success" (click)="openAddUser(addUser)">
                Add Staff</button>
            </div>
          </div>

          <ng-template #addUser let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Add Staff</h4>
              <button type="button" class="close btn-danger" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form *ngIf='isNewUser' [formGroup]="userForm">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <label for="numberOfEmployee">Mobile Number
                      <span class="red" style="color: red;">*</span>:</label>
                    <input type="number" class="form-control" formControlName="phoneNumber"
                       placeholder="Enter Mobile Number"
                      (blur)="checkuserPhoneNumber()" onkeypress="return this.value.length < 10;"
                      oninput="if(this.value.length=10)">
                    <!-- <div *ngIf="(userMobile.invalid && userMobile.touched) || userMobile.dirty">
                      <small *ngIf="userMobile.errors?.required" class="text-danger">Mobile Number is
                        required</small>
                      <small *ngIf="userMobile.errors?.pattern" class="text-danger">Please
                        provide a valid 10 Digit Mobile Number</small>
                    </div> -->
                  </div>

                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <label for="address1">First Name
                      <span class="red" style="color: red;">*</span>:</label>
                    <input class="form-control" formControlName="firstName" placeholder="Enter First Name"
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                      required>

                  </div>
                  <div class="col-md-6">
                    <label for="address2">Last Name
                      <span class="red" style="color: red;">*</span> :</label>
                    <input class="form-control" formControlName="lastName" placeholder="Enter Last Name"
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">

                  </div>
                </div>
                <br>
                <div class="row">

                  <div class="col-md-6">
                    <label for="state">Role <span class="red" style="color: red;">*</span>:</label>
                    <select class="form-control" formControlName="role" style="color: #9EA79E;">
                      <option value="">Select Role</option>
                      <option value="13">OPERATOR</option>
                      <option value="14">MANAGER</option>
                      <option value="20">CA</option>

                    </select>
                  </div>
                </div>
                <br>

              </div>
              <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                  (click)="fuelStaffRegister()">Save</button>
                <button type="cancel" class="btn btn-danger" (click)="c('Close click')">Close</button>
              </div>
            </form>

            <form *ngIf='!isNewUser' [formGroup]="reNewStaffForm">
              <div class="modal-body">
                <div class="row">

                  <div class="col-md-6">
                    <label for="numberOfEmployee">Mobile Number
                      <span class="red" style="color: red;">*</span>:</label>
                    <input type="number" class="form-control" formControlName="mobileNumber"
                       placeholder="Enter Mobile Number"
                      onkeypress="return this.value.length < 10;" oninput="if(this.value.length=10)">
                    <!-- <div *ngIf="(userMobile.invalid && userMobile.touched) || userMobile.dirty">
                      <small *ngIf="userMobile.errors?.required" class="text-danger">Mobile Number is
                        required</small>

                      <small *ngIf="userMobile.errors?.pattern" class="text-danger">Please
                        provide a valid 10 Digit Mobile Number</small>
                    </div> -->
                  </div>

                  <div class="col-md-6">

                  </div>
                </div>
                <br>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <label for="address1">First Name
                      : </label>
                    <input class="form-control" formControlName="firstName" placeholder="First Name" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                      required>

                  </div>
                  <div class="col-md-6">
                    <label for="address2">Last Name
                      : </label>
                    <input class="form-control" formControlName="lastName" placeholder="Last Name" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">

                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-md-6">
                    <label for="state">Role :
                    </label>
                    <input class="form-control" formControlName="role" placeholder="Role" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                  </div>
                </div>
                <br>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                  (click)="renewMappingStaff()">Add</button>
                <button type="cancel" class="btn btn-danger" (click)="closeReNew()">Close</button>
              </div>
            </form>
          </ng-template>

          <ng-template #reNewStaff let-c="close" let-d="dismiss">

            <div class="modal-header">
              <h4 class="modal-title">Add Staff</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form [formGroup]="reNewStaffForm">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <label for="numberOfEmployee">Mobile Number
                      <span class="red" style="color: red;">*</span>:</label>
                    <input type="number" class="form-control" formControlName="mobileNumber"
                       placeholder="Enter Mobile Number"
                      (blur)="checkStaffDetails()" onkeypress="return this.value.length < 10;"
                      oninput="if(this.value.length=10)">
                    <!-- <div *ngIf="(userMobile.invalid && userMobile.touched) || userMobile.dirty">
                      <small *ngIf="userMobile.errors?.required" class="text-danger">Mobile Number is
                        required</small>
                      <small *ngIf="userMobile.errors?.pattern" class="text-danger">Please
                        provide a valid 10 Digit Mobile Number</small>
                    </div> -->
                  </div>
                  <div class="col-md-6">

                  </div>
                </div>
                <br>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <label for="address1">First Name
                      : </label>
                    <input class="form-control" formControlName="firstName" placeholder="First Name" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                      required>

                  </div>
                  <div class="col-md-6">
                    <label for="address2">Last Name
                      : </label>
                    <input class="form-control" formControlName="lastName" placeholder="Last Name" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">

                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-md-6">
                    <label for="hostPhone">Email Address :</label>
                    <input type="email" class="form-control" readonly
                      formControlName="email"
                      placeholder="Enter Email Address">
                    <!-- <div *ngIf="(primEmailUser.invalid && primEmailUser.touched) || primEmailUser.dirty">

                      <small *ngIf="primEmailUser.errors?.pattern" class="text-danger">Please
                        provide a valid email address</small>
                    </div> -->
                  </div>
                  <div class="col-md-6">
                    <label for="state">Role :
                    </label>
                    <input class="form-control" formControlName="role" placeholder="Role" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                  </div>
                </div>
                <br>


              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                  (click)="renewMappingStaff()">Add</button>
                <button type="cancel" class="btn btn-danger" (click)="closeReNew()">Close</button>
              </div>
            </form>
          </ng-template>
          <br>
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
                <tr>
                  <th style="text-align: left;">#</th>
                  <th style="text-align: left;">First Name</th>
                  <th style="text-align: left;">Last Name</th>
                  <th style="text-align: left;">Mobile No.</th>
                  <th style="text-align: left;">Role</th>
                  <th style="text-align: left;">Salary</th>
                  <th *ngIf="accessGroup != '14' " style="text-align: left;">Mapping</th>
                  <th *ngIf="accessGroup != '14' " style="text-align: left;">Action</th>


                </tr>
              </thead>
              <tbody *ngFor="let data of staffDetailsStaff; let i = index">

                <tr>
                  <td style="text-align: left;"> {{i+1}} </td>
                  <td style="text-align: left;"> {{data.firstName}} </td>
                  <td style="text-align: left;"> {{data.lastName}} </td>

                  <td style="text-align: left;"> {{data.phone1}} </td>
                  <td style="text-align: left;">
                    <span *ngIf="data.accessGroupId == '12'">OWNER</span>
                    <span *ngIf="data.accessGroupId == '13'">OPERATOR</span>
                    <span *ngIf="data.accessGroupId == '14'">MANAGER</span>
                  </td>
                  <td style="text-align: left;">
                    <span *ngIf="data.accessGroupId != '12'">
                      {{data.salary}}
                    </span>
                  </td>
                  <td *ngIf="accessGroup != '14' " style="text-align:left;">
                    <span *ngIf="data.accessGroupId == '12'">
                      <label class="switch">
                        <input type="checkbox" checked="checked"
                          (change)="noUpdateMapp($event,data.fuelDealerStaffId,data.dealerMapStatus)">
                        <span class="slider round"></span>
                      </label>
                    </span>
                    <span *ngIf="data.accessGroupId != '12'">
                      <div *ngIf="data.dealerMapStatus == 'MAPPED'">
                        <label class="switch">
                          <input type="checkbox" checked="checked"
                            (change)="updateMapping($event,data.fuelDealerStaffId,data.dealerMapStatus)">
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <div *ngIf="data.dealerMapStatus == 'UNMAPPED'">
                        <label class="switch">
                          <input type="checkbox" [checked]="false"
                            (change)="updateMapping($event,data.fuelDealerStaffId,data.dealerMapStatus)">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </span>
                  </td>

                  <td *ngIf="accessGroup != '14' " style="text-align: left;color: blue;cursor: pointer;">
                    <div ngbDropdown placement="bottom-left" *ngIf="data.accessGroupId != '12'">
                      <i class="fa-solid fa-ellipsis-vertical" ngbDropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);"
                          (click)="staffEdit(updateStaff,data.fuelDealerStaffId,data.userId,data.personId,data.firstName,data.lastName,data.designation,data.salary)">
                          <i style="color:#138496;cursor:pointer;" class="fas fa-edit"></i> Edit
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </form>

        <ng-template #updateStaff let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">
              <strong>
                &nbsp;&nbsp;&nbsp;
                Edit Staff </strong>
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <label class="labelNewMargin">Name :</label>
              </div>
              <div class="col-md-4">
                <input class="form-control" placeholder="first name" [(ngModel)]="firstName"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="firstName = $event.toUpperCase()">
              </div>
              <div class="col-md-4">
                <input class="form-control" placeholder="last name" [(ngModel)]="lastName"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="lastName = $event.toUpperCase()">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <label class="labelNewMargin">Designation :</label>
              </div>
              <div class="col-md-4">
                <select class="form-control" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}">
                  <option value="">Select Role</option>
                  <option value="OPERATOR">OPERATOR</option>
                  <option value="MANAGER">MANAGER</option>
                </select>

              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <label class="labelNewMargin">Salary :</label>
              </div>
              <div class="col-md-4">
                <input class="form-control" placeholder="salary" type="number" minlength="0" [(ngModel)]="salary"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <br>


            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                  (click)="UpdateDealerStaffDetails()">Update</button>
              </div>
              &nbsp;&nbsp;
              <div class="col-md-2">
                <!-- <button type="submit" class="btn btn-danger" (click)="closeModalEditStaff()">Cancel</button> -->
              </div>
            </div>

          </div>
        </ng-template>
      </div>

      <div *ngIf="accessGroup == '2' || accessGroup == '16'">
        <br>
        <form>
          <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
              <!-- <button type="submit" class="btn btn-success" (click)="openAddUserForTransporter(addTransUser)">
                add Staff</button> -->
            </div>

          </div>
          <!-- <ng-template #addTransUser let-c="close" let-d="dismiss">

            <div class="modal-header">
              <h4 class="modal-title">Add Staff</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form *ngIf='isNewUser' [formGroup]="userForm">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <label for="numberOfEmployee">Mobile Number
                      <span class="red" style="color: red;">*</span>:</label>
                    <input type="number" class="form-control" formControlName="phoneNumber"
                      [class.is-invalid]="userMobile.invalid && userMobile.touched" placeholder="Enter Mobile Number"
                      (blur)="checkuserPhoneNumber()" onkeypress="return this.value.length < 10;"
                      oninput="if(this.value.length=10)">
                    <div *ngIf="(userMobile.invalid && userMobile.touched) || userMobile.dirty">
                      <small *ngIf="userMobile.errors?.required" class="text-danger">Mobile Number is
                        required</small>
                      <small *ngIf="userMobile.errors?.pattern" class="text-danger">Please
                        provide a valid 10 Digit Mobile Number</small>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <label for="address1">First Name
                      <span class="red" style="color: red;">*</span>:</label>
                    <input class="form-control" formControlName="firstName" placeholder="Enter First Name"
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                      required>

                  </div>
                  <div class="col-md-6">
                    <label for="address2">Last Name
                      <span class="red" style="color: red;">*</span> :</label>
                    <input class="form-control" formControlName="lastName" placeholder="Enter Last Name"
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">

                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <label for="state">Role <span class="red" style="color: red;">*</span>:</label>
                    <select class="form-control" formControlName="role" style="color: #9EA79E;">
                      <option value="">Select Role</option>
                      <option value="16">MANAGER</option>
                    </select>
                  </div>
                </div>
                <br>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                  (click)="transporterStaffRegister()">Save</button>
                <button type="cancel" class="btn btn-danger" (click)="c('Close click')">Close</button>
              </div>
            </form>

            <form *ngIf='!isNewUser' [formGroup]="reNewStaffForm">
              <div class="modal-body">
                <div class="row">

                  <div class="col-md-6">
                    <label for="numberOfEmployee">Mobile Number
                      <span class="red" style="color: red;">*</span>:</label>
                    <input type="number" class="form-control" formControlName="mobileNumber"
                      [class.is-invalid]="userMobile.invalid && userMobile.touched" placeholder="Enter Mobile Number"
                      onkeypress="return this.value.length < 10;" oninput="if(this.value.length=10)">
                    <div *ngIf="(userMobile.invalid && userMobile.touched) || userMobile.dirty">
                      <small *ngIf="userMobile.errors?.required" class="text-danger">Mobile Number is
                        required</small>

                      <small *ngIf="userMobile.errors?.pattern" class="text-danger">Please
                        provide a valid 10 Digit Mobile Number</small>
                    </div>
                  </div>

                  <div class="col-md-6">

                  </div>
                </div>
                <br>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <label for="address1">First Name
                      : </label>
                    <input class="form-control" formControlName="firstName" placeholder="First Name" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                      required>

                  </div>
                  <div class="col-md-6">
                    <label for="address2">Last Name
                      : </label>
                    <input class="form-control" formControlName="lastName" placeholder="Last Name" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">

                  </div>
                </div>

                <br>
                <div class="row">

                  <div class="col-md-6">
                    <label for="state">Role :
                    </label>
                    <input class="form-control" formControlName="role" placeholder="Role" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                  </div>
                </div>
                <br>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                  (click)="renewMappingStaff()">Add</button>
                <button type="cancel" class="btn btn-danger" (click)="closeReNew()">Close</button>
              </div>
            </form>
          </ng-template>

          <ng-template #reNewStaff let-c="close" let-d="dismiss">

            <div class="modal-header">
              <h4 class="modal-title">Add Staff</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form [formGroup]="reNewStaffForm">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <label for="numberOfEmployee">Mobile Number
                      <span class="red" style="color: red;">*</span>:</label>
                    <input type="number" class="form-control" formControlName="mobileNumber"
                      [class.is-invalid]="userMobile.invalid && userMobile.touched" placeholder="Enter Mobile Number"
                      (blur)="checkStaffDetails()" onkeypress="return this.value.length < 10;"
                      oninput="if(this.value.length=10)">
                    <div *ngIf="(userMobile.invalid && userMobile.touched) || userMobile.dirty">
                      <small *ngIf="userMobile.errors?.required" class="text-danger">Mobile Number is
                        required</small>
                      <small *ngIf="userMobile.errors?.pattern" class="text-danger">Please
                        provide a valid 10 Digit Mobile Number</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                  </div>
                </div>
                <br>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <label for="address1">First Name
                      : </label>
                    <input class="form-control" formControlName="firstName" placeholder="First Name" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                      required>

                  </div>
                  <div class="col-md-6">
                    <label for="address2">Last Name
                      : </label>
                    <input class="form-control" formControlName="lastName" placeholder="Last Name" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">

                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <label for="hostPhone">Email Address :</label>
                    <input type="email" class="form-control" readonly
                      [class.is-invalid]="primEmailUser.invalid && primEmailUser.touched" formControlName="email"
                      placeholder="Enter Email Address">
                    <div *ngIf="(primEmailUser.invalid && primEmailUser.touched) || primEmailUser.dirty">
                      <small *ngIf="primEmailUser.errors?.pattern" class="text-danger">Please
                        provide a valid email address</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="state">Role :
                    </label>
                    <input class="form-control" formControlName="role" placeholder="Role" readonly
                      oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                  </div>
                </div>
                <br>


              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                  (click)="renewMappingStaff()">Add</button>
                <button type="cancel" class="btn btn-danger" (click)="closeReNew()">Close</button>
              </div>
            </form>
          </ng-template>
          <br>
          <table class="table table-hover">
            <thead class="table-light">
              <tr>
                <th style="text-align: left;">Sr No</th>
                <th style="text-align: left;">Name</th>
                <th style="text-align: left;">Mobile</th>
                <th style="text-align: left;">Designation</th>
                <th style="text-align: left;">Active</th>
                <th style="text-align: left;">Created At</th>
                <th style="text-align: left;">Edit</th>


              </tr>
            </thead>
            <tbody *ngFor="let data of staffDetailsForTransporter; let i = index">

              <tr>
                <td style="text-align: left;"> {{i+1}} </td>
                <td style="text-align: left;"> {{data.firstName}} {{data.lastName}} </td>
                <td style="text-align: left;"> {{data.phone1}} </td>
                <td style="text-align: left;">

                  <span *ngIf="data.accessGroupId == '16'">MANAGER</span>
                </td>

                <td style="text-align:center;">
                  <div *ngIf="data.mappedStatus == 'MAPPED'">
                    <label class="switch">
                      <input type="checkbox" checked="checked"
                        (change)="updateMappingForTransporter($event,data.userId,data.mappedStatus)">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div *ngIf="data.mappedStatus != 'MAPPED'">
                    <label class="switch">
                      <input type="checkbox" checked="false"
                        (change)="updateMappingForTransporter($event,data.userId,data.mappedStatus)">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </td>
                <td style="text-align: left;"> {{data.createdAt| date:"mediumDate"}} </td>

                <td style="text-align: left;color: blue;cursor: pointer;">
                  <i style="color:#138496;cursor:pointer;" class="fa fa-pencil-square-o"
                    (click)="staffEditForTransporter(updateTransporterStaff,data.addressId,data.personId,data.firstName,data.lastName,data.city)">
                  </i>
                </td>

              </tr>

            </tbody>
          </table> -->

        </form>

        <!-- <ng-template #updateStaff let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">
              <strong>
                &nbsp;&nbsp;&nbsp;
                Edit Staff </strong>
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <label class="labelNewMargin">Name :</label>
              </div>
              <div class="col-md-4">
                <input class="form-control" placeholder="first name" [(ngModel)]="firstName"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="firstName = $event.toUpperCase()">
              </div>
              <div class="col-md-4">
                <input class="form-control" placeholder="last name" [(ngModel)]="lastName"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="lastName = $event.toUpperCase()">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <label class="labelNewMargin">Designation :</label>
              </div>
              <div class="col-md-4">

                <select class="form-control" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}">
                  <option value="">Select Role</option>
                  <option value="OPERATOR">OPERATOR</option>
                  <option value="MANAGER">MANAGER</option>
                </select>

              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <label class="labelNewMargin">Salary :</label>
              </div>
              <div class="col-md-4">
                <input class="form-control" placeholder="salary" type="number" minlength="0" [(ngModel)]="salary"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <br>


            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                  (click)="UpdateDealerStaffDetails()">Update</button>
              </div>
              &nbsp;&nbsp;
              <div class="col-md-2">
                <button type="submit" class="btn btn-danger" (click)="closeModalEditStaff()">Cancel</button>
              </div>
            </div>

          </div>
        </ng-template>

        <ng-template #updateTransporterStaff let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">
              <strong>
                &nbsp;&nbsp;&nbsp;
                Edit Staff </strong>
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <label class="labelNewMargin">Name :</label>
              </div>
              <div class="col-md-4">
                <input class="form-control" placeholder="first name" [(ngModel)]="firstNameTransporter"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="firstNameTransporter = $event.toUpperCase()">
              </div>
              <div class="col-md-4">
                <input class="form-control" placeholder="last name" [(ngModel)]="lastNameTransporter"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="lastNameTransporter = $event.toUpperCase()">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <label class="labelNewMargin">Designation :</label>
              </div>
              <div class="col-md-4">

                <select class="form-control">
                  <option value="">Select Role</option>
                  <option value="MANAGER">MANAGER</option>
                </select>

              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                  (click)="UpdateTransporterStaffDetails()">Update</button>
              </div>
              &nbsp;&nbsp;
              <div class="col-md-2">
                <button type="submit" class="btn btn-danger" (click)="closeModalEditStaff()">Cancel</button>
              </div>
            </div>
          </div>
        </ng-template> -->
      </div>
    </div>
  </div>
</div>