
<div class="container-fluid" *ngIf="!show">
  <br>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <h2 style="font-size: 3.625rem;">
        FUELIN <span style="color: blue;">PLUS </span>
      </h2> <br>

      <h4 style="color: blue;">
        <b>Simple & Secure Accounting Software
          for petrol pump dealers</b>
      </h4>
      <br>
      <h6 style="color: black;">
        <p style="font-size: 126%;">
          <!-- <b> -->
          Manage credit sales, track outstanding, send payment reminders, review shift collections, record accounting
          entries, monitor daily meter sales and dip sales - all on the app.
          <!-- </b> -->
        </p>
      </h6>
      <br>

      <h4 style="color: blue;">
        <b>Sign-up for petrol pump dealers only</b>
      </h4>
      <br>

      <h6 style="color: black;">
        <p style="font-size: 127%;">
          <b>
            1. Download the App
          </b>
        </p>
      </h6>

      <a href="https://play.google.com/store/apps/details?id=com.veelsplusfueldealerapp" target="_blank">
        <img src="assets/images/signUpPlayStore.png" alt="" class="img-fluid" style="max-width: 37%;">
      </a>

      <br> <br>

      <h6 style="color: black;">
        <p style="font-size: 127%;">
          <b>
            2. Complete Sign-up on the App
          </b>
        </p>
      </h6> <br>

      <h6 style="color: black;">
        <p style="font-size: 127%;">
          <b>
            3. Get free access to credit software (web & app)
          </b>
        </p>
      </h6> <br>

    </div>

    <div class="col-7 align-self-end">
      <img src="assets/images/signUpImg.png" alt="" class="img-fluid" style="max-width: 95%;">
    </div>

  </div>
</div>


