<br><br>
  <div class="row gy-5 gx-xl-8">
    <div class="col-xl-12">
        <div class="card-body py-3">
            <ul ngbNav #dashboard2="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified"
                style="width: 50%;">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>
                        <span class="d-none d-sm-block" style="font-size: 13.5px;">CREDIT</span>
                    </a>
                    <ng-template ngbNavContent>
                        <app-tables-widget11 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget11>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>
                        <span class="d-none d-sm-block" style="font-size: 13.5px;">SHIFT</span>
                    </a>
                    <ng-template ngbNavContent>
                        <app-tables-widget12 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget12>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="dashboard2"></div>
        </div>
    </div>
</div>