<div class="card-header">
  <b>Add Sales</b>
</div>

<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <div class="text-sm-end">
      <button type="button" class="btn btn-success btn-rounded mb-2 me-2" routerLink="/credit/viewSales"
        [routerLinkActive]="['router-link-active']">
        View Credit Sales </button>
    </div>
  </div>
</div>
<!-- <div class="row"> -->
<br>
<div>
  <ul ngbNav #addSales="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified" style="width: 100%;">
    <li [ngbNavItem]="1">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">FUEL </span>
      </a>
      <ng-template ngbNavContent>
        <app-stats-widget16 class="card card-xxl-stretch mb-5 mb-xl-8"></app-stats-widget16>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">VEHICLE </span>
      </a>
      <ng-template ngbNavContent>
        <app-mixed-widget1 class="card card-xl-stretch mb-xl-8" color="primary"></app-mixed-widget1>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">LUBE</span>
      </a>
      <ng-template ngbNavContent>
        <app-mixed-widget2 class="card card-xxl-stretch mb-5 mb-xl-8"></app-mixed-widget2>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink>
        <span class="d-none d-sm-block" style="font-size: 15px;">ADVANCE</span>
      </a>
      <ng-template ngbNavContent>
        <app-mixed-widget3 class="card card-xxl-stretch mb-5 mb-xl-8"></app-mixed-widget3>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="addSales"></div>
</div>
<!-- </div> -->