<style>
  @media print {
    .page-break {
      display: block;
      page-break-before: always;

      size: A4 portrait;
    }
  }

  @media print {
    body {
      margin: 0;
      padding: 0;
      /* -webkit-print-color-adjust: exact; */
    }

    .A4 {
      box-shadow: none;
      margin: 0;
      width: auto;
      height: auto;
    }

    .noprint {
      display: none;
    }

    .print {
      display: block;
    }
  }
</style>

<div class="card">
  <div class="card-body">
    <div class="modal-body">
      <br><br>
      <!-- <div class="row">
        <div class="col-md-4"></div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" (click)="download()">Download</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-success" printSectionId="sanjay" [useExistingCss]="true" ngxPrint>Print</button>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-auto">
          <span style="font-size: 35px;cursor: pointer;" ngbTooltip="Download PDF" placement="bottom"
            (click)="exportToPDF()"><i class="fas fa-file-pdf" style="font-size: 30px;"></i></span>
        </div>
        <div class="col-auto">
          <span style="font-size: 35px;cursor: pointer;" ngbTooltip="Download Excel" placement="bottom"
            (click)="exportexcel()"><i class="fas fa-file-csv" style="font-size: 30px;"></i></span>
        </div>
      </div>

      <div class="row" id="sanjay" style="padding: 20px; background: white;">
        <div class="col-md-12">
          <table id="excel-table" class="table table-hover table-striped">
            <thead class="table-light">
              <tr>
                <th style="text-align: center;"><b> Sr.No </b></th>
                <th style="text-align: center;"><b> Dealer Name </b></th>
                <th style="text-align: center;"><b> Dealer Code </b></th>
                <th style="text-align: center;"><b> Date </b></th>
                <th style="text-align: center;"><b> Credit Sale </b></th>
                <th style="text-align: center;"><b> Amount </b></th>
                <th style="text-align: center;"><b> Payment Received </b></th>
                <th style="text-align: center;"><b> Transaction ID </b></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of users">
                <td style="text-align: center;"> {{ data.id }} </td>
                <td style="text-align: center;"> {{ data.name }} </td>
                <td style="text-align: center;"> {{ data.code }} </td>
                <td style="text-align: center;"> {{ data.date }} </td>
                <td style="text-align: center;"> {{ data.creditSales }} </td>
                <td style="text-align: center;"> {{ data.amt }} </td>
                <td style="text-align: center;"> {{ data.payment }} </td>
                <td style="text-align: center;"> {{ data.tranId }} </td>
              </tr>
            </tbody>
            <br>


          </table>
        </div>
      </div>
    </div>
  </div>
</div>