<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Infra Overview</span>
  </h3>
  <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
    title="Click to add Infra">
    <a class="btn btn-sm btn-light-primary" (click)="addInfra()">
      <app-keenicon name="plus" class="fs-3"></app-keenicon>
      Add Infra
    </a>
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table table-hover table-striped">
      <thead class="table-light">
        <tr>
          <th style="text-align: left;"><b>Product</b></th>
          <th style="text-align: left;"><b>Tank</b></th>
          <th style="text-align: left;"><b>Pump</b></th>
          <th style="text-align: left;"><b>Nozzle</b></th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->

      <tbody *ngFor="let data of infraDetails">
        <tr>
          <td style="text-align: left;"> {{data.productName}} </td>
          <td style="text-align: left;"> {{data.totalTank}} </td>
          <td style="text-align: left;"> {{data.totalDU}} </td>
          <td style="text-align: left;"> {{data.totalNZ}} </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>