<div class="card-header">
    <b>View Sales</b>
</div>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <div class="text-sm-end">
            <button type="button" class="btn btn-success btn-rounded mb-2 me-2" routerLink="/credit/addSales"><i
                    class="mdi mdi-plus mr-1"></i>
                + Add New Credit Sales</button>
        </div>
    </div>
</div>
<!-- begin::Header -->
<div class="card-header border-0 pt-5">
    <div>
        <app-base-tables-widget1 class="card card-xxl-stretch mb-5 mb-xl-8"></app-base-tables-widget1>
    </div>
</div>
<!-- end:: Header -->