<style>
    .form-control {
        width: 130px;
        line-height: 2.0;
        color: #0d0e0e;
        ;

    }

    .form-select {
        width: 130px;
        line-height: 2.0;
        color: #0d0e0e;
        ;

    }

    .table-responsive {
        padding: 1.25rem 0.25rem;
    }

    .fa-times:before {
        font-size: large;
    }

    .fa-plus:before {
        font-size: large;
    }

    .table>tbody {
        vertical-align: inherit;
        color: black;
    }
</style>

<div *ngIf="accessGroup !='19'" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card">

                    <div class="row mb-2" *ngIf="!isAddExpense">
                        <div class="col-sm-12">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success btn-rounded mb-2 me-2 mt-4"
                                    (click)="isAddExp()">
                                    Add Expense Accounting </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row" *ngIf="isAddExpense">
                            <div class="col col-xl-12 col-lg-12" style="margin-top: 20px">
                                <div class=" card-body table-responsive">
                                    <table class="table table-hover table-striped table-nowrap">
                                        <thead class="table-light">
                                            <tr>
                                                <th style="text-align: left;"><b> Date </b></th>
                                                <th style="text-align: left;"><b> Transaction Type </b></th>
                                                <th style="text-align: left;"><b> Details </b></th>
                                                <th style="text-align: left;"><b> Paid From </b></th>
                                                <th style="text-align: left;"><b> Paid To </b></th>
                                                <th style="text-align: left;"><b> Amount</b></th>
                                                <th> </th>

                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let data of addAccountingArray; let i = index;">
                                            <tr>
                                                <td>
                                                    <input class="form-control" placeholder="DD/MM/YYYY" name="date"
                                                        (click)="startDate.toggle()" style="background-color: #ffffff;"
                                                        [(ngModel)]="data.date" [ngModelOptions]="{standalone: true}"
                                                        ngbDatepicker #startDate="ngbDatepicker">
                                                </td>

                                                <td>
                                                    <select class="form-select" [(ngModel)]="data.transactionType"
                                                        (change)="getByTransactionType($event,i)"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option value="">Select</option>
                                                        <option value="Operation Charges">Operation Charges</option>
                                                        <option value="Food">Food</option>
                                                        <option value="Health">Health</option>
                                                        <option value="Insurance">Insurance</option>
                                                        <option value="Maintenance">Maintenance</option>
                                                        <option value="Office">Office</option>
                                                        <option value="Safety">Safety</option>
                                                        <option value="Sales Promotions">Sales Promotions</option>
                                                        <option value="Staff">Staff</option>
                                                        <option value="Stamping">Stamping</option>
                                                        <option value="Tanker">Tanker</option>
                                                        <option value="Travel">Travel</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                </td>

                                                <td>
                                                    <input class="form-control" [(ngModel)]="data.details"
                                                        placeholder="Enter Details" (input)="checkValidation(i)"
                                                        [ngModelOptions]="{standalone: true}" ngbDatepicker>
                                                </td>

                                                <td>
                                                    <select *ngIf="data.isDefaultFrom" class="form-select"
                                                        [(ngModel)]="data.paidFrom" (change)="checkValidation(i)"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option value="">Select</option>
                                                    </select>

                                                    <input *ngIf="data.isInputBoxFrom" class="form-control"
                                                        [(ngModel)]="data.inputFrom" placeholder="Enter Details"
                                                        (input)="checkValidation(i)"
                                                        [ngModelOptions]="{standalone: true}" ngbDatepicker>

                                                    <select *ngIf="data.isCashBankFrom" class="form-select"
                                                        [(ngModel)]="data.paidFrom" (change)="checkValidation(i)"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option value="">Select</option>
                                                        <option value="20">Cash-In-Hand</option>
                                                        <option *ngFor="let data of bankSavingAccList"
                                                            [value]="data.bankDetailsId">
                                                            {{data.bankName}}-{{data.accountNumber}}
                                                        </option>
                                                    </select>
                                                </td>

                                                <td>
                                                    <select *ngIf="data.isDefaultTo" class="form-select"
                                                        [(ngModel)]="data.paidTo" (change)="checkValidation(i)"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option value="">Select</option>
                                                    </select>

                                                    <select *ngIf="data.isExpenseAccTo" class="form-select"
                                                        [(ngModel)]="data.paidTo" (change)="checkValidation(i)"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option value="36">Expense A/c</option>
                                                    </select>
                                                </td>

                                                <td>
                                                    <input class="form-control" [(ngModel)]="data.amount" type="number"
                                                        placeholder="Enter Payment" (input)="checkValidation(i)"
                                                        [ngModelOptions]="{standalone: true}" ngbDatepicker>
                                                </td>


                                                <td>
                                                    <span *ngIf="i != 0">
                                                        &nbsp;
                                                        <button *ngIf="data.isAddRow" type="submit"
                                                            class="btn btn-success my-2 my-sm-0"
                                                            (click)="addArrayRow(i)">
                                                            Add
                                                        </button>

                                                        &nbsp;&nbsp;
                                                        <button *ngIf="data.isRemoveRow" type="cancel"
                                                            class="btn btn-primary" (click)="removeArrayRow(i)">Delete
                                                        </button>
                                                    </span>
                                                    <span *ngIf="i == 0">
                                                        &nbsp;

                                                        <button *ngIf="data.isAddRow" type="submit"
                                                            class="btn btn-success my-2 my-sm-0"
                                                            (click)="addArrayRow(i)">
                                                            Add
                                                        </button>

                                                    </span>

                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <br><br>
                            <div class="row" style="margin: 10px">
                                <div class="col-auto">
                                    <button *ngIf="!isSubmit" type="submit" class="btn btn-primary"
                                        disabled>Submit</button>
                                    <button *ngIf="isSubmit" type="submit" class="btn btn-primary"
                                        (click)="submitArray()">Submit</button>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-secondary" (click)="clearAll()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="mb-3 row">
                        <form [formGroup]="filterForm">
                            <div class="mb-3 row" style="margin: 10px">

                                <label for="example-text-input" class="col-auto col-form-label"><b>Date Range
                                        :</b></label>

                                <div class="col-auto">
                                    <input class="form-control" placeholder="DD-MM-YYYY" name="startDate" readonly
                                        style="background-color: #ffffff;" (click)="startDate.toggle()"
                                        formControlName="startDate" ngbDatepicker #startDate="ngbDatepicker">
                                </div>
                                <div class="col-auto">
                                    <input class="form-control" placeholder="DD-MM-YYYY" readonly
                                        style="background-color: #ffffff;" name="endDate" ngbTooltip="End Date"
                                        (click)="endDate.toggle()" ngbDatepicker #endDate="ngbDatepicker"
                                        formControlName="endDate">
                                </div>


                                <div class="col-auto">
                                    <button type="button" class="btn btn-md btn-primary" (click)="filter()">
                                        Submit
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-md btn-secondary" (click)="cancel()">
                                        Cancel
                                    </button>
                                </div>

                            </div>
                        </form>
                        <div class="mb-2 row">
                            <div class="col col-xl-12 col-lg-12" style="margin-top: 20px">
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="text-align: left;"><b> Date </b></th>
                                                <th style="text-align: left;"><b> Transaction Type </b></th>
                                                <th style="text-align: left;"><b> Details </b></th>
                                                <th style="text-align: left;"><b> Paid From </b></th>
                                                <th style="text-align: left;"><b> Paid To </b></th>
                                                <th style="text-align: left;"><b> Amount</b></th>
                                                <th style="text-align: left;"><b> Action</b></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let data of accountingData;">
                                            <tr>
                                                <td style="text-align: left;">
                                                    <span *ngIf="data.accountingDate == '2022-01-01' ">
                                                        1 Jan, 2022
                                                    </span>
                                                    <span *ngIf="data.accountingDate != '2022-01-01' ">
                                                        {{data.accountingDate | date:"d MMM, yyyy"}}
                                                    </span>
                                                </td>
                                                <td style="text-align: left;"> {{data.accountingTransactionType}} </td>
                                                <td style="text-align: left;"> {{data.accountingDetails}} </td>
                                                <td style="text-align: left;"> {{data.paidFromAccountNumber}}
                                                    {{data.paidFromBankName}} <i>{{data.accountingFromInput}} </i> </td>
                                                <td style="text-align: left;"> {{data.paidToAccountNumber}}
                                                    {{data.paidToBankName}} <i>{{data.accountingToInput}} </i> </td>
                                                <td style="text-align: left;">
                                                    ₹ &nbsp; {{data.accountingAmout | number:"1.2-2" }} </td>

                                                <td style="text-align: left;cursor: pointer;">
                                                    <div ngbDropdown placement="bottom-left">
                                                        <i class="fa-solid fa-ellipsis-vertical" ngbDropdownToggle
                                                            data-toggle="dropdown" aria-expanded="true"></i>
                                                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                            <a class="dropdown-item" href="javascript: void(0);"
                                                                (click)="deleteAccounting(data.accountingId)">
                                                                <i class="fas fa-ban" style="color: red;"></i> &nbsp;
                                                                Remove</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>