<br>
<form [formGroup]="lubeTaxForm">
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="example-text-input" class="col-lg-3 col-form-label"><b>Customer Select </b></label>
    <label for="example-text-input" class="col-md-2 col-form-label"><b>Date Range </b></label>
  </div>
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-lg-3">
      <input class="form-control" type="text" list="allCorporateList" placeholder="select customer"
        formControlName="customer" (change)="getDetailsByCustomerName($event)">
      <datalist id="allCorporateList">
        <option *ngFor="let data of allCorporateList" [value]="data.companyName">
      </datalist>
    </div>

    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" style="background-color: #ffffff;" name="startDate"
        (click)="startDate.toggle()" formControlName="startDate" ngbDatepicker #startDate="ngbDatepicker">
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="DD-MM-YYYY" style="background-color: #ffffff;" name="endDate"
        (click)="endDate.toggle()" formControlName="endDate" ngbDatepicker #endDate="ngbDatepicker">
    </div>

    <div class="col-lg-1">
      <button type="button" class="btn btn-primary w-md ms-1" name="button" (click)="getLubeTaxStatement()">
        submit
      </button>
    </div>
  </div>
</form>
<br>
<form [formGroup]="addForm">
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-3">
      <label><b>Add Manual Statement Number</b></label>
      <input type="text" class="form-control" [(ngModel)]="manualSno" [ngModelOptions]="{standalone: true}"
        placeholder="Enter Manual Statement Number" />
    </div>
    <div class="col-md-3">
      <label><b>Add HSN Code</b></label>
      <input type="text" class="form-control" [(ngModel)]="hsnCode" [ngModelOptions]="{standalone: true}"
        placeholder="Enter HSN Code" />
    </div>
    <div class="col-md-3">
      <label><b>Add Due Date</b></label>
      <input class="form-control" placeholder="DD-MM-YYYY" style="background-color: #ffffff;" name="dueDate"
        ngbTooltip="Due Date" (click)="dueDate.toggle()" ngbDatepicker #dueDate="ngbDatepicker"
        formControlName="dueDate">
    </div>
  </div>
</form>
<br>
<div class="row">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="col-md-4">
    <div class="row justify-content-center">
      <div class="input-group bg-light rounded" (click)="gotoLubeTaxStatement()">
        <button class="btn bg-light">
          Lube-Tax Statement (Purchase Details)
        </button>
        <button class="btn btn-primary" type="button" id="button-addon2">
          <i class="bx bxs-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="table-responsive mb-0" *ngIf="isLubeTable">
  <table class="table table-centered table-nowrap">
    <thead class="table-light">
      <tr>
        <th style="text-align: left;"><b>Sr.No</b></th>
        <th style="text-align: left;"><b>Date</b></th>
        <th style="text-align: left;"><b>Product</b></th>
        <th style="text-align: left;"><b>Bill / ref number</b></th>
        <th style="text-align: left;"><b>Vehicle no / other details</b></th>
        <th style="text-align: left;"><b>Credit Amount</b></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of lubeTaxData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; let i = index">
        <td style="text-align: left;"> {{i+1}} </td>
        <td style="text-align: left;"> {{ data.estimatedRefuelDate | date:"d MMM, yyyy"}}</td>
        <td style="text-align: left;"> {{ data.lubeName }}</td>
        <td style="text-align: left;"> {{ data.manualCrNumber }}</td>
        <td style="text-align: left;"> {{ data.vehicleNumber }}</td>
        <td style="text-align: left;"> {{ data.creditAmount| number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
  
  <!-- begin::Pagination -->
  <pagination-controls (pageChange)="pageChangeEvent($event)" previousLabel="" nextLabel=""
    style="text-align: end; font-size: x-large; font-family: 'Font Awesome 6 Free'; font-style: oblique;">
  </pagination-controls>
  <!-- end::Pagination -->
</div>