<br>
<form [formGroup]="filterForm">
  <div class="mb-3 row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="example-text-input" class="col-auto col-form-label"><b>Khata</b></label>
    <div class="col-md-3">
      <input class="form-control" type="text" list="allCorporateList" placeholder="all khata"
        formControlName="customerName" (change)="getDetailsByCustomerMapName($event)">
      <datalist id="allCorporateList">
        <option *ngFor="let data of allCorporateList" [value]="data.companyName">
      </datalist>
    </div>

    <label for="example-text-input" class="col-auto col-form-label"><b>Year</b></label>
    <div class="col-md-2">
      <select class="form-control" formControlName="fiscalyear" required>
        <option value={{fiscalyear1}}> {{fiscalyear1}} </option>
        <option value={{fiscalyear2}}> {{fiscalyear2}} </option>
      </select>
    </div>

    <div class="col-md-1">
      <button type="button" class="btn btn-md btn-primary" (click)="getYearWise()">
        View
      </button>
    </div>

    <div class="col-md-1"></div>
    <div class="col-auto">
      <span style="font-size: 35px;cursor: pointer;" ngbTooltip="Download PDF" placement="bottom"
        (click)="exportToPDF()"><i class="fas fa-file-pdf" style="font-size: 30px;"></i></span>
    </div>
    <div class="col-auto">
      <span style="font-size: 35px;cursor: pointer;" ngbTooltip="Download Excel" placement="bottom"
        (click)="exportexcel()"><i class="fas fa-file-csv" style="font-size: 30px;"></i></span>
    </div>
  </div>
</form>
<hr>

<div class="table-responsive">
  <table id="excel-table" class="table table-hover b">
    <thead class="table-light">
      <tr>
        <th style="text-align: center"><b> Month </b></th>
        <th style="text-align: center"><b> Sales Amount </b></th>
        <th style="text-align: center"><b> Payment Amount </b></th>
        <th style="text-align: center"><b> Balance </b></th>
      </tr>
    </thead>
    <tbody *ngFor="let data of yearWiseData">
      <tr>
        <td style="text-align: center"> {{ data.month }} {{data.year}} </td>
        <td style="text-align: center"> <i class="fa-solid fa-indian-rupee-sign"></i>
          {{ data.purchase | number:'1.2-2'}}
        </td>
        <td style="text-align: center"> <i class="fa-solid fa-indian-rupee-sign"></i>
          {{ data.payment | number:'1.2-2'}}
        </td>
        <td style="text-align: center"> <i class="fa-solid fa-indian-rupee-sign"></i>
          <span *ngIf="data.balance < 0 ">
            {{(data.balance)*(-1) | number:"1.2-2"}} CR
          </span>
          <span *ngIf="data.balance >= 0 ">
            {{data.balance | number:"1.2-2"}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- begin::Pagination -->
  <pagination-controls (pageChange)="pageChangeEvent($event)" previousLabel="" nextLabel=""
    style="text-align: end; font-size: x-large; font-family: 'Font Awesome 6 Free'; font-style: oblique;">
  </pagination-controls>
  <!-- end::Pagination -->
</div>